{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
  Contacter - {{ parent() }}
{% endblock %}

{% block suivietudes_body %}

  <h2>Nous contacter</h2>

  {{ include("SuiviContactBundle:Contact:formContact.html.twig") }}


  <p>
    <a href="{{ path('suivi_etudes_accueil')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Tableau de bord
    </a>
  </p>

{% endblock %}