<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissable disabled" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-ok" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-info-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('erreur') %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('modification') %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-warning-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage|raw }}</p>
            </div>
        {% endfor %}


    <div class="form-group">
      {{ form_label(form.demande, "Demande concernée : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      {{ form_errors(form.demande) }}
      <div class="col-sm-4">
        {{ form_widget(form.demande, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    
    <div class="form-group">
      {{ form_label(form.objet, "Titre* : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      {{ form_errors(form.objet) }}
      <div class="col-sm-4">
        {{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    
    <div class="form-group">
      {{ form_label(form.message, "Votre message* : ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      {{ form_errors(form.message) }}
      <div class="col-sm-4">
        {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.Envoyer, " ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4 col-sm-offset-4">
        {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-primary', 'data-loading-text': 'Envoi en cours...'}}) }}
      </div>
    </div>

  {{ form_rest(form) }}
  

  {{ form_end(form) }}
</div>