<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>Connexion</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/acl/app/css/login.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="/ACL/web/css/bootstrap-3.3.1/dist/css/bootstrap-theme-cosmo.css">
        {% endblock %}
    </head>
    <body>
        <div id="container" class="container">
            <div id="header" class="page-header row">
                <div id="titreAppli" class="col-sm-8">
                    <a href="" style="text-decoration:none;color:black;">
                        <h1>Connexion</h1>
                        <h4></h4>
                    </a>
                </div>
            </div>
            <div id="content" class="container">
                <hr>
                <div class="wrapper">
                    {%if error %}
                        <div id="alertConnect" role="alert" class="alert alert-danger">
                            Invalid credentials.
                        </div>
                    {%endif%}
                    <form class="form-signin" action="{{path('login_check')}}" method="post"  id="form_login">
                        <input type="hidden" name="_csrf_token" value="IIalA5ie_1DzFg3mGVoH42n09hlhwcow_EwD3mgdC1s" />  
                        <h2 class="form-signin-heading">Se connecter</h2>
                        <h6>Avec votre identifiant/mot de passe windows</h6>
                        <input type="text" class="form-control" name="_username" data-placeholder="Identifiant windows" required="" autofocus="" value=""/><br/>
                        <input type="password" class="form-control" name="_password" data-placeholder="Mot de passe" required=""/>      
                        <button class="btn btn-success btn-block" type="submit">Connexion</button>   
                    </form>
                </div>
            </div>
            <hr>
            <div id="footer" class="container">
                <div class="col-sm-8">
                    <i>Cette application a été développée par le Pôle WEB - Univers NOZ © 2015.
                        Pour nous contacter : <a href="mailto:poleweb@noz.fr">envoyez-nous un mail</a></i>
                </div>
                <div class="col-sm-4" style="text-align:right;">
                    Version actuelle : v1.0
                </div>
            </div>
        </div>
    </body>`
</html>
