{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Rapports
{% endblock %}
{% block body %}
	{{ parent() }}	
	{% set visite = rapport.0 %}
		<H1>Rapport de la visite du magasin de {{ rapport.0.visites.magasin.nom }} le {{ rapport.0.visites.date|date('d/m/Y')}} </h1>
		<H2>par : {{ rapport.0.visites.technicien.displayname }}. </h2>
	<div class="table-div-60">
		<table class="table tablesorter table-striped table-hover">
		{% for resultat in rapport %}
			{% if loop.first or (rapport[loop.index-2].pointsDeControle.id != resultat.pointsDeControle.id ) %}		
				<th colspan=2>	{{ resultat.pointsDeControle.nom}}</th>
			{% endif %}	
			{% if resultat.pointsDeControle.type == constant('TYPE_VISUEL', resultat.pointsDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:controleVisuel.html.twig' with {'resultat': resultat} only %}
			{% elseif resultat.pointsDeControle.type == constant('TYPE_INSTALLATION_LOGICIEL', resultat.pointsDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:InstallationDeLogiciel.html.twig' with {'resultat': resultat} only %}
			{% elseif resultat.pointsDeControle.type == constant('TYPE_ACTION', resultat.pointsDeControle) %}		
				{% include 'ChecklistBundle:pointDeControle:actionamener.html.twig' with {'resultat': resultat} only %}
			{% elseif resultat.pointsDeControle.type == constant('TYPE_RETOUR_INFO', resultat.pointsDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:ControleAvecRetourDInfo.html.twig' with {'resultat': resultat} only %}
			{% endif %}	
			{% if not (loop.last or (rapport[loop.index].pointsDeControle.id != resultat.pointsDeControle.id ))%}	
				<tr class="info"><td></td><td></td></tr>		
			{% endif %}			
		{% endfor %}
			<tr><td colspan=2><label>Commentaire du Technicien</label></td></tr>
			<tr class="info"><td colspan=2>{{ rapport.0.visites.commentaire }}</td></tr>
		</table>
	</div>		
    <a href="{{ path('checklist_rapport_rapports')}}">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
    	Retour à la liste des rapports
		</button>
    </a>		
{% endblock %}