{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Rapports
{% endblock %}
{% block body %}
	{{ parent() }}
		{% stylesheets
		'@ChecklistBundle/Resources/public/css/tabsorter.css'
		'@ChecklistBundle/Resources/public/css/tabRapports.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />    
	{% endstylesheets %}	
	<div class="box-body table-div-80">
		<table  id="listTableSorter" class="table table-striped table-hover">
			<thead> 
				<tr>
					<th class="filter-false"></th>
					<th>Magasin</th>
					<th data-placeholder="<, > ou [date] to [date]">Date</th>
					<th>Technicien</th>
					<th> Checklist </th>
					<th class="filter-false">Durée prévue</th>
					<th class="filter-false">Temps passé</th>
				</tr>
			</thead> 
			<tbody> 
				{% for rapport in rapports %}
					<tr class="info">
						<td>											
							<a href="{{ path('checklist_rapport_rapport', {'id' : rapport.id}) }}" >
								<button type="button" class="btn btn-default" aria-label="Left Align">
									<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
								</button>
							</a>
						</td>
						<td>{{ rapport.magasin.nom }}</td>
						<td>{{ rapport.date|date('d/m/Y') }}</td>
						<td>{{ rapport.technicien.displayName }}</td>
						<td>{{ rapport.checklists.nom }}</td>
						<td>{{ rapport.TempsTheorique|date('H:i') }}</td>
						<td>{{ rapport.TempsReel|date('H:i') }}</td>
					</tr>					
				{% endfor %}
		</table>
	</div>
{% endblock %}
		