{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% set capacity = 0 %}

{% block title %}
    Charge de travail {{ parent() }}
{% endblock %}
{% block suivietudes_body %}
    <style>
        td{
            vertical-align:middle !important;
        }
    </style>
    <link href="{{ asset('all/LTE/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
    <script>
        $(function () {
            $('#datePicker').datepicker({
                format: 'yyyy-mm',
                clearBtn: true,
                language: "fr",
                minViewMode: "months"
            });
            $('#datePicker').on('changeDate', function () {
                var date = $('#datepicker').val();
                route = "{{ path('suivi_etudes_admin_project_work_load', { 'period': "PLACEHOLDER" }) }}";
                return window.location.href = route.replace("PLACEHOLDER", date);
            });
        });
    </script>
    <section class="content-header">
        <h1>Charge de travail</h1>
        {# datepicker #}
        <div class="box-body">
            <div class="form-group pull-left">
                <a href="{{path('suivi_etudes_admin_project_work_load',{'period':period|date_modify("-1 month")|date('Y-m')})}}" class="btn btn-primary">Precedent</a>
            </div>
            <div class="form-group col-xs-6 col-sm-4 col-md-2">
                <div id="datePicker" class="input-group input-append date">
                    <input type="text" name="date" class="form-control col-lg-6" data-fv-field="date" id="datepicker" disabled value="{{period}}">
                    <span class="input-group-addon add-on btn"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <a href="{{path('suivi_etudes_admin_project_work_load',{'period':period|date_modify("+1 month")|date('Y-m')})}}" class="btn btn-primary">Suivant</a>
        </div>
    </section>
    <section class="content">
        <ul class="nav nav-tabs" role="tablist">
            {%set departaments = []%}
            {% for usrName,usr in charge %}
                {% if usr.pole not in departaments %}
                    {%set departaments = departaments|merge([usr.pole])%}
                    <li role="presentation" {%if usr.pole == departaments[0]%}class="active"{%endif%}>
                        <a href="#{{usr.pole}}" role="tab" data-toggle="tab">{{usr.pole}}</a>
                    </li>
                {% endif %}
            {%endfor%}
        </ul>
        <div class="tab-content">
            {% for key,dep in departaments %}
                <div role="tabpanel" class="tab-pane {%if key == 0%}active{%endif%}" id="{{dep}}">
                    <div class="box">
                        <div class="box-body">
                            <div role="grid" class="dataTables_wrapper form-inline">
                                <table class="table table-bordered table-striped dataTable">
                                    <thead>
                                        <tr>
                                            <th style="cursor: pointer;">No.</th> 
                                            <th style="cursor: pointer;">Prénom / Nom</th> 
                                            <th style="cursor: pointer;">Pole</th> 
                                            <th style="cursor: pointer;">Poste</th> 
                                            <th style="cursor: pointer;">Demande/ Heures prévues/ Heures affecté</th> 
                                            <th style="cursor: pointer;">Reste à planifier</th> 
                                            <th style="cursor: pointer;">Capacité planifiable</th> 
                                            <th style="cursor: pointer;">Reste à renseigner</th> 
                                            <th style="cursor: pointer;">Capacité mensuelle</th> 
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th style="cursor: pointer;">No.</th> 
                                            <th style="cursor: pointer;">Prénom / Nom</th> 
                                            <th style="cursor: pointer;">Pole</th> 
                                            <th style="cursor: pointer;">Poste</th> 
                                            <th style="cursor: pointer;">Demande/ Heures affectés</th> 
                                            <th style="cursor: pointer;">Reste à planifier</th> 
                                            <th style="cursor: pointer;">Capacité planifiable</th> 
                                            <th style="cursor: pointer;">Reste à renseigner</th> 
                                            <th style="cursor: pointer;">Capacité mensuelle</th> 
                                        </tr>
                                    </tfoot>
                                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                                        {%set no = 1%}
                                        {%for id,row in charge %}
                                            {%if row.pole == dep%}
                                                {%set rowspan = 0%}
                                                {%if row.details is defined%}
                                                    {%set rowspan = row.details|length%}
                                                {%endif%}
                                                <tr>
                                                    <td rowspan="{{rowspan+1}}">{{no}}</td>
                                                    <td rowspan="{{rowspan+1}}">{{row.username}}</td>
                                                    <td rowspan="{{rowspan+1}}">{{row.pole}}</td>
                                                    <td rowspan="{{rowspan+1}}">{{row.poste}}</td>
                                                    {%if row.details is not defined%}
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                    {%endif%}
                                                </tr>
                                                {%if row.details is defined%}
                                                    {%for date,detail in row.details%}
                                                        <tr>
                                                            {%set rowspanMonth = 0%}
                                                            <td>
                                                                <table class="table table-bordered">
                                                                    {% set prevHours = 0%}
                                                                    {% set remainingHours = 0%}
                                                                    {% set chargeHoursWorked = 0%}
                                                                    {% set capTotalHours = 0%}
                                                                    {%for demande in detail%}
                                                                        {% set prevHours = prevHours+demande.chargeHours%}
                                                                        {% set remainingHours = demande.remainingHours%}
                                                                        {% set chargeHoursWorked = chargeHoursWorked+demande.chargeHoursWorked%}
                                                                        {% set capTotalHours = demande.capTotalHours%}
                                                                        {% set capacity = demande.capacity%}
                                                                        <tr>
                                                                            <td>
                                                                                <a href="{{path('suivi_etudes_voir',{'id':demande.id})}}" target="_blank">{{demande.request}}</a>
                                                                            </td>
                                                                            <td class="col-lg-1">{{demande.chargeHours|default(0)}}</td>
                                                                            <td class="col-lg-1">{{demande.chargeHoursWorked|default(0)}}</td>
                                                                        </tr>
                                                                    {%endfor%}
                                                                </table>
                                                            </td>
                                                            <td>
                                                                {%if capacity > 0 %}
                                                                    <div>
                                                                        {{(((capTotalHours/100) * capacity)-prevHours) |round(0,'floor')|abs}} heures
                                                                    </div>
                                                                    <!-- Progress bars -->
                                                                    <div class="progress xs">
                                                                        {%if capTotalHours > 0%}
                                                                            <div style="width: {{((((capTotalHours/100) * capacity)-prevHours)) |round(0,'floor')|abs}}%;" class="progress-bar progress-bar-primary"></div>
                                                                        {% else %}
                                                                            <div style="width: 0%;" class="progress-bar progress-bar-primary"></div>
                                                                        {% endif %}
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        {%if capTotalHours > 0%}
                                                                            <small class="text-center">{{((((capTotalHours/100) * capacity)-prevHours)/((capTotalHours/100) * capacity)*100) |round(0,'floor')|abs}}%</small>
                                                                        {% else %}
                                                                            <small class="text-center">0%</small>
                                                                        {% endif %}
                                                                    </div>
                                                                {%else%}
                                                                    <!-- Progress bars -->
                                                                    <div class="progress xs">
                                                                        <div style="width: 100%;" class="progress-bar progress-bar-primary"></div>
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        <small class="text-center">100%</small>
                                                                    </div>
                                                                {%endif%}
                                                            </td>
                                                            <td>
                                                                {{((capTotalHours/100) * capacity) |round(0,'floor')}} 
                                                            </td>
                                                            <td>
                                                                {%if chargeHoursWorked > 0 %}
                                                                    <div>
                                                                        {{(capTotalHours-chargeHoursWorked) |round(0,'floor')}} heures
                                                                    </div>
                                                                    <!-- Progress bars -->
                                                                    <div class="progress xs">
                                                                        <div style="width: {{((capTotalHours-chargeHoursWorked)/capTotalHours*100) |round(0,'floor')|abs}}%;" class="progress-bar progress-bar-green"></div>
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        <small class="text-center">{{((capTotalHours-chargeHoursWorked)/capTotalHours*100) |round(0,'floor')|abs}}%</small>
                                                                    </div>
                                                                {%else%}
                                                                    <!-- Progress bars -->
                                                                    <div class="progress xs">
                                                                        <div style="width: 100%;" class="progress-bar progress-bar-green"></div>
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        <small class="text-center">100%</small>
                                                                    </div>
                                                                {%endif%}
                                                            </td>
                                                            <td>{{capTotalHours}}</td>
                                                        </tr>
                                                    {%endfor%}
                                                {%endif%}
                                            {%endif%}
                                            {%set no = no + 1%}
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- /.box-body -->
                    </div>
                </div>
            {%endfor%}
        </div>
    </section>
{% endblock %}
