{% block extraJavascripts %}
    <script type="text/javascript" src="{{ asset('all/js/highcharts.js') }}"></script>
    <script>
        $(function () {
        {% if projectCharge is not empty %}
                // project charge
                $('#charge').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Projet charge'
                    },
                    xAxis: {
                        categories: ['Prévision ', 'Réalisé', ]
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Heures'
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                        }
                    },
                    legend: {
                        align: 'right',
                        x: -30,
                        verticalAlign: 'top',
                        y: 25,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                        borderColor: '#CCC',
                        borderWidth: 1,
                        shadow: false
                    },
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '<b>{series.name}</b>'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true,
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                style: {
                                    textShadow: '0 0 3px black'
                                }
                            }
                        },
                    },
                    series:
                            [{%for row in projectCharge%}
                                {
                                    name: '{{row.name}}',
                                    data: [{{row.hoursPrev}},{{row.hoursReal}} ],
                                    stack: 'p'
                                },
            {%endfor%} 
                            ]
                });
                {%endif%}

                        var i = 1;
                    {%for user,row in balanceByProfesion%}
                            // gap/cumul in euro
                            $('#euro-' + i).highcharts({
                                chart: {
                                    type: 'line',
                                    backgroundColor: "#C4CCDF"
                                },
                                title: {
                                    text: 'Ecart/Cumul en euro'
                                },
                                xAxis: {
                                    categories: [{%for user,details in row%}'{{user}}',{%endfor%} ]
                                },
                                yAxis: [{
                                        title: {
                                            text: 'Euro'
                                        }
                                    },
                                    {
                                        labels: {
                                            format: '{series.name}',
                                        },
                                        title: {
                                            text: 'Heures'
                                        },
                                        opposite: true
                                    }],
                                plotOptions: {
                                    line: {
                                        dataLabels: {
                                            enabled: true
                                        },
                                        enableMouseTracking: false
                                    }
                                },
                                series: [{
                                        name: 'Ecart en Euro',
                                        data: [{%for user,details in row%}{{details.ecartEuro}},{%endfor%} ]
                                    },
                                    {
                                        name: 'Cumul en Euro',
                                        data: [{%for user,details in row%}{{details.cumulEuro}},{%endfor%} ]
                                    },
                                    {
                                        name: 'Ecart en Heures',
                                        data: [{%for user,details in row%}{{details.ecartH}},{%endfor%} ]
                                    }
                                ]
                            });

                            // gap in hours
                            $('#hours-' + i).highcharts({
                                title: {
                                    text: 'Ecart/Cumul en euro et Ecart en heures'
                                },
                                xAxis: {
                                    categories: [{%for user,details in row%}'{{user}}',{%endfor%} ]
                                },
                                yAxis: [{// Primary yAxis
                                        labels: {
                                            style: {
                                                color: Highcharts.getOptions().colors[2]
                                            }
                                        },
                                        title: {
                                            text: 'Euro',
                                            style: {
                                                color: Highcharts.getOptions().colors[2]
                                            }
                                        },
                                        opposite: true

                                    }, {// Secondary yAxis
                                        gridLineWidth: 0,
                                        title: {
                                            text: 'Hours',
                                            style: {
                                                color: Highcharts.getOptions().colors[2]
                                            }
                                        },
                                        labels: {
                                            style: {
                                                color: Highcharts.getOptions().colors[2]
                                            }
                                        }

                                    }],
                                tooltip: {
                                    shared: true
                                },
                                series: [{
                                        name: 'Ecart en Heures',
                                        type: 'column',
                                        yAxis: 1,
                                        data: [{%for user,details in row%}{{details.ecartH}},{%endfor%} ]
                                    }, {
                                        name: 'Ecart en Euro',
                                        type: 'line',
                                        yAxis: 0,
                                        data: [{%for user,details in row%}{{details.ecartEuro}},{%endfor%} ],
                                        dashStyle: 'shortdot'
                                    }, {
                                        name: 'Cumul en Euro',
                                        type: 'spline',
                                        data: [{%for user,details in row%}{{details.cumulEuro}},{%endfor%} ]
                                    }]
                            });
                            i++;
                    {%endfor%}
                        });
                </script>
                {% endblock %}
                    {% block suivietudes_body %}
                        <style>
                            /* bootstrap hack: fix highcharts width in tabs */
                            .tab-content > .tab-pane,
                            .pill-content > .pill-pane {
                                display: block;    
                                height: 0;         
                                overflow-x: hidden; 
                            }
                            .tab-content > .active,
                            .pill-content > .active {
                                height: auto;      
                            } /* bootstrap hack end */
                            .modal-backdrop{
                                height:auto!important;
                            } 
                        </style>

                        <section class="content">
                            <div id="charge"></div>
                            <ul class="nav nav-pills">
                                {% set counter = 1 %}
                                {%for key,row in projectCharge%}
                                    <li class="{%if key==0%}active{%endif%}">
                                        <a href="#user-{{key+1}}" data-toggle="pill">{{row.name}}</a>
                                    </li>
                                {%endfor%}
                            </ul>
                            <div class="tab-content">
                                {%for row in balanceByProfesion%}
                                    <div id="user-{{counter}}" class="tab-pane fade in {%if counter==1%}active{%endif%}">
                                        <div id="euro-{{counter}}"></div>
                                        <div id="hours-{{counter}}"></div>
                                    </div>
                                    {% set counter = counter+1 %}
                                {%endfor%}
                            </div>
                        </section>
                    {% endblock %}
