{% extends "SuiviEtudesBundle::layout.html.twig" %}
{% block title %}
    Taux Horaire par métier {{ parent() }}
{% endblock %}
{% block suivietudes_body %}
    <link href="{{ asset('all/LTE/plugins/datepicker/datepicker3.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/bootstrap3-editable/css/bootstrap-editable.CSS') }}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/bootstrap-datepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/LTE/plugins/datepicker/locales/bootstrap-datepicker.fr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('all/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script>
        $(function () {
            //Datepicker
            {%if periode %} $('#datepicker').val('{{periode}}');{%endif%}
            var $datepickerOld = $('#datepicker').val();
            $('#datePicker').datepicker({
                format: 'yyyy-mm-dd',
                clearBtn: true,
                language: "fr",
                minViewMode: "months"
            });
            $('#datePicker').on('changeDate', function () {
                $date = $('#datepicker').val();
                if ($date != '' || $datepickerOld != $date) {
                    return window.location.href = '{{path('suivi_etudes_admin_project_taux_horaire')}}' + '/' + $date;
                }
            });
            // editable.js
        {#$('#dataWorkHours').editable({
            type: "number",
            value: '{%if workingHours%}{{workingHours.hours}}{%else%}0{%endif%}',
            url: "{{path('suivi_etudes_admin_project_add_user_working_hours')}}",
            params: function (params) {
                params.period = $(this).editable().data('period');
                return params;
            },
            success: function () {
                window.location.reload();
            }
        });#}
                $('.tax').editable({
                    type: "number",
                    step: 'any', // as float
                    url: "{{path('suivi_etudes_admin_project_modify_hourly_tax')}}",
                    value: 0,
                    params: function (params) {
                        params.period = $(this).editable().data('period');
                        return params;
                    },
                });
                $('.tax').on('click', function (e) {
                    $period = $('#datepicker').val();
                    $(this).attr('data-period', $period);
                });

            });
    </script>
    <section class="content-header">
        <h1>Taux Horaire par métier</h1>
    </section>
    <section class="content">
        {# datepicker #}
        <div class="box-body">
            <div class="form-group pull-left">
                <a href="{{path('suivi_etudes_admin_project_taux_horaire',{'periode':prevPeriode})}}" class="btn btn-primary">Precedent</a>
            </div>
            <div class="form-group col-xs-6 col-sm-4 col-md-2">
                <div id="datePicker" class="input-group input-append date">
                    <input type="text" name="date" class="form-control col-lg-6" data-fv-field="date" id="datepicker" disabled>
                    <span class="input-group-addon add-on btn"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <a href="{{path('suivi_etudes_admin_project_taux_horaire',{'periode':nextPeriode})}}" class="btn btn-primary">Suivant</a>
        </div>
        <div class="box-body">
            {#<div id="workingHours">
                {%if workingHours is not null %}
                    <span class="btn alert-info">La charge de travail mensuel: {{workingHours.hours}}</span>
                    <a href="#" id="dataWorkHours" class="btn btn-primary" data-pk="1" data-period="{{periode}}">Ajouter/modifier</a>
                {%else%}
                    <span class="btn alert-danger">Ajouter les heures de travail pour ce mois.</span>
                    <a href="#" id="dataWorkHours" class="btn btn-primary" data-pk="1" data-period="{{periode}}">Ajouter/modifier</a>
                {%endif%}
            </div>#}
        </div>
        <div class="box">
            <div class="box-body">
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">No</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom / Prénom', 'nom')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Pole', 'pole')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Poste', 'poste')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Taux Horaire (€/H)', 'tax')}}</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">No</th>
                                <th rowspan="1" colspan="1">Nom / Prénom</th>
                                <th rowspan="1" colspan="1">Pole</th>
                                <th rowspan="1" colspan="1">Poste</th>
                                <th rowspan="1" colspan="1">Taux Horaire (€/H)</th>
                            </tr>
                        </tfoot>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {%for id,row in pagination%}
                                <tr>
                                    <td>{{id+1}}</td>
                                    <td>{{row.nom}} {{row.prenom}}</td>
                                    <td>{{row.pole}}</td>
                                    <td>{{row.poste}}</td>
                                    <td>
                                        <a href="#" class="tax" data-pk="{{row.userId}}">{%if row.setTax is not null%}{{row.setTax}}{%else%}{{row.tauxHoraire}}{%endif%}</a>
                                    </td>
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <div class="row pull-right">
                        {{ knp_pagination_render(pagination) }}                        
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>
    </section>
{% endblock %}
