<script>	
	var selected = {% if selected is defined and selected %}{{ selected }}{% else %}0{% endif %};
</script>
<style>
	.arretDeTravail{
		padding: 2px !important;
	}
</style>
{% javascripts
	'@PaieArretTravailBundle/Resources/public/js/filteredArrets.js'
	 %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% if is_granted("ROLE_PAIE_ARRET") %}
<button type="button" class="btn btn-info" aria-label="Left Align"
		 data-toggle="modal" id="ajouterArretBttn">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
</button>
{% endif %}
&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-info" aria-label="Left Align" id="actualiserArrets">
	<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
</button>	
&nbsp;&nbsp;&nbsp;
<a href="{{ path('paie_arrets_export') }}">
	<button type="button" class="btn btn-info" aria-label="Left Align" id="exportArrets">
		<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export
	</button>
</a>
&nbsp;&nbsp;&nbsp;
<a href="{{ path('paie_arrets_export_annee') }}">
	<button type="button" class="btn btn-info" aria-label="Left Align" id="exportArretsAnnee">
		<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export annuel
	</button>
</a>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(aretsDeTravail) }}
</div>

<table class="table tablesorter table-bordered table-striped dataTable" id="listApplications">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th style="cursor: pointer;">Nature</th>
			<th style="cursor: pointer;">Nom</th>
			<th style="cursor: pointer;">Prenom</th>
			<th style="cursor: pointer;">Debut</th>
			<th style="cursor: pointer;">Fin</th>
			<th style="cursor: pointer;">Traité</th>
			<th style="cursor: pointer;">Pris en compte</th>
			<th style="cursor: pointer;">I/P</th>
			<th style="cursor: pointer;">délai. Trait.</th>
		</tr>
	</thead>
{% if aretsDeTravail|length > 0 %}
{% for arretData in aretsDeTravail %}
	    {% set arret = arretData.0 %}
	<tr id="{{arret.id}}">
		<td>
		    {%if is_granted('ROLE_PAIE_ARRET') or is_granted('ROLE_PAIE_MANAGER')%}
				<a href="{{ path('paie_suprimmer_arret', {'id' : arret.id}) }}"
				   onclick="return confirm('Attention! L\'arret de travail et tous les autres qu\'il prolonge seront supprimés!');">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a>
			{% endif %}
		</td>
		<td class="arretDeTravail">
			<INPUT type="radio" name="{{arret.id}}">
		</td>
		<td class="arretDeTravail">{{arret.nature.libelle}}</td>
		<td class="arretDeTravail">{{arret.salarie.nom}}</td>	
		<td class="arretDeTravail">{{arret.salarie.prenom}}</td>
		<td class="arretDeTravail">{{arret.dateDebut|date('d/m/y')}}</td>
		<td class="arretDeTravail">{{arret.dateFin|date('d/m/y')}}</td>
		<td class="arretDeTravail">{% if arret.Traite %} Oui {% else %} Non {% endif %}</td>	
		<td class="arretDeTravail">{% if arret.PrisEnCompte %} Oui {% else %} Non {% endif %}</td>	
		<td class="arretDeTravail">{% if arret.IdArretInitial %} P {% else %} I {% endif %}</td>	
		<td class="arretDeTravail">				
			{% if arret.DelaiTraitement < 15 %} < 15
			{% elseif arret.DelaiTraitement < 30 %} 15 - 30
			{% elseif arret.DelaiTraitement < 45 %} 30 - 45
			{% else %} >= 45 {% endif %} 
		</td>
	</tr>
{% endfor %}
{%else%}
	<tr>
		<td class="arretDeTravail"  colspan="10">Pas d'arrêts de travail</td>
	</tr>
{% endif %}
</table>
