{% extends 'PaieAdministrationBundle:layout:base.html.twig' %}
{% block body %}	
	{{ parent() }}
	 {% stylesheets 
   	    'all/jquery-ui-1.11.1/jquery-ui.css' 	    
   	 %}
   	<link rel="stylesheet" href="{{ asset_url }}" />    
{% endstylesheets %}
	{% if page_title is not defined %} 
		{% set page_title= 'Outil du service Paie | Arrêts de travail' %} 
	{% endif %}	
	{% for flashMessage in app.session.flashbag.get('prolongationSucces') %}
		<div role="alert" class="alert alert-danger alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}	
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}	
    {{ form_errors(form) }}
    <div class="table-div-60">
    	</br>
		<table class="table table-striped table-hover ">
			<tr class="info">
				<td>
					{{ form_label(form.nature) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.nature) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.nature) }}</strong>
						</div>	
					{% endif %}
				</td>					
				<td>
					{{ form_widget(form.nature) }}
				</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.categorie) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.categorie) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.categorie) }}</strong>
						</div>	
					{% endif %}
				</td>					
				<td>
					{{ form_widget(form.categorie) }}
				</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.dateDebut) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.dateDebut) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.dateDebut) }}</strong>
						</div>	
					{% endif %}
				</td>					
				<td>{{ form_widget(form.dateDebut, {'attr': {'class': 'date'}}) }}</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.dateFin) }}
					
					{% if form_errors(form.dateFin) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.dateFin) }}</strong>
						</div>	
					{% endif %}
				</td>					
				<td>{{ form_widget(form.dateFin, {'attr': {'class': 'date'}}) }}</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.dateReception) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.dateReception) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.dateReception) }}</strong>
						</div>	
					{% endif %}
				</td>			
				<td>{{ form_widget(form.dateReception, {'attr': {'class': 'date'}}) }}</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.typeReception) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.typeReception) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.typeReception) }}</strong>
						</div>	
					{% endif %}
				</td>					
				<td>
					{{ form_widget(form.typeReception) }}
				</td>
			</tr>
			<tr class="info">
				<td>
					{{ form_label(form.commentaire) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					
					{% if form_errors(form.commentaire) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.commentaire) }}</strong>
						</div>	
					{% endif %}
				</td>					
				<td>
					{{ form_widget(form.commentaire) }}
				</td>
			</tr>

			<tr class="info">
				<td>
					{{ form_label(form.grossesse) }} 					
				</td>					
				<td>
					{{ form_widget(form.grossesse) }}
				</td>
			</tr>

			
			<tr class="info">
				<td>
					{{ form_widget(form.id) }}
					<input id="paie_arret_travail_arretInitial" type="hidden"
						   name="paie_arret_travail[arretInitial]" value="{{ idArretInitial }}">
					{{ form_widget(form.save) }}
				</td>
				<td>
				</td>
			</tr>
		</table>
	</div>
	{{ form_end(form, {'render_rest' : false}) }}
	{% block javascripts %}
		{% javascripts 
			'js/jquery-ui-1.11.1/jquery-ui.min.js'
			'@PaieArretTravailBundle/Resources/public/js/prolongerArret.js'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
	{% endblock %}
{% endblock %}