{% extends 'PaieAdministrationBundle:layout:base.html.twig' %}	

{% block body %}	
	{{ parent() }}	
	
{% if page_title is not defined %} 
	{% set page_title= 'Outil du service Paie | Arrêts de travail' %} 
{% endif %}

{% block graph %}
  <script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts-3d.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/modules/drilldown.js') }}"></script>

  {# Import & Print #}
  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
    <h2>Diagramme des arrets de travail</h2>

    <script type="text/javascript">
        $(function () {
            $('#containerChart').highcharts({
                chart: {
                    type: "column",
                    options3d: {
                        enabled: true,
                        alpha: 10,
                        beta: 10,
                        viewDistance: 100,
                        depth: 50
                    },
                    marginTop: 60,
                    marginRight: 30
                },
                plotOptions: {
                    column: {
                        stacking: "normal",
                        depth: 50
                    },
                    series: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function () {

                                }
                            }
                        }

                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>';

                    }
                },
                series: {{data|raw}},
                title: {
                    text: ""
                },
                xAxis: {
                    title: {
                        text: "Mois"
                    },
                    categories: {{categories|raw}}
                },
                yAxis: {
                    title: {
                        text: "Nombre d'arrêts de travail traités"
                    },
                    allowDecimals: false
                }
            });
        });
        
    {# chart(barchart) }#}
    </script>
    {#<div id="barchart" style="min-width: 400px; height: 500px;"></div>#}
    <div id="containerChart" style="min-width: 400px; height: 500px;"></div>

{% endblock %}




{% endblock %}