<!DOCTYPE html>
<html>
    <head>
        <title>Page non trouvée</title>
        <link href="{{ asset('bundles/hierarchie/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/hierarchie/app/css/styles.css') }}" rel="stylesheet" /> 
    </head>
    <body>
        <div class="error-template text-center">
            <h1>Oops!</h1>
            <h2 style="width:100%;">404 Page non trouvée</h2>
            <div class="error-details">
                Désolé, une erreur est survenue, la page demandée introuvable!
            </div>
            <div class="error-actions">
                <a class="btn btn-primary btn-lg" href="{{homeUrl}}"><span class="glyphicon glyphicon-home"></span>
                    Arrière 
                </a>
            </div>
        </div>
    </body>

</html>
