{% extends 'DPDCBundle:layout:base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
	{{ parent() }}

	{% block stylesheets %}
		{{ parent() }}

		<link href="{{ asset('bundles/dpdc/css/dpdc-point-ajouter.css') }}" rel="stylesheet" />
	{% endblock %}	
	<style>
	.ui-datepicker-month {
		color: #222D32;
	}
	.ui-datepicker-year {
		color: #222D32;
	}	
	.ui-datepicker-calendar{
		display:none !important;
	}
	</style>	
	{% if pointDeControle.id is defined and pointDeControle.id %}
		<h3>Modifier le contrôle</h3>
	{% else %}
		<h3>Ajouter un contrôle</h3>
	{% endif %}	
	{% for flashMessage in app.session.flashbag.get('dpdcPointSuccess') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}
	<div class="row">
		<div class="col-sm-12">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{#			{{ form_errors(form) }}#}
			<fieldset id= "demandeur">
			<legend> Vos informations </legend>
				<div  class="form-group row info">					
					{% if form_errors(form.nom) | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.nom) }}</strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2">{{ form_label(form.nom) }}
					<span class="required mainPoint" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					</div>
					<div class="col-md-5 col-xs-2">	
						{{ form_widget(form.nom) }}
					</div>
				</div>
				<div  class="form-group row">
					{% if form_errors(form.prenom) | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.prenom) }}</strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2">{{ form_label(form.prenom) }}
					<span class="required mainPoint" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					</div>
					<div class="col-md-5 col-xs-2">
						{{ form_widget(form.prenom) }}
					</div>
				</div>
				<div  class="form-group row">
					{% if form_errors(form.email) | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.email) }}</strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2">{{ form_label(form.email) }}
					<span class="required mainPoint" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					</div>
					<div class="col-md-5 col-xs-2">
						{{ form_widget(form.email) }}
					</div>
				</div>				
			</fieldset>
			<fieldset id= "concernee">
			<legend> Proposition de contrôle </legend>
				<div  class="form-group row">
					{% if errordirection | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong><ul><li>{{ errordirection }}</ul></li></strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2"><b>Direction du contrôle</b>
					<span class="required mainPoint" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					</div>
					<div class="col-md-5 col-xs-2">
						<select id="direction" name="direction" style="width: 300px;">

						</select>	
					</div>
				</div>
				{#<div  class="form-group row">
					{% if form_errors(form.direction) | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.direction) }}</strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2">{{ form_label(form.direction) }}</div>
					<div class="col-md-5 col-xs-2">{{ form_widget(form.direction) }}</div>
				</div>#}
				<div  class="form-group row">
					<div class="col-md-3 col-xs-2"><b>Service du contrôle</b></div>
					<div class="col-md-5 col-xs-2">
						<select id="service" name="service" style="width: 300px;">

						</select>	
					</div>
				</div>
				<div  class="form-group row">
					<div class="col-md-3 col-xs-2"><b>Pôle du contrôle</b></div>
					<div class="col-md-5 col-xs-2">
						<select id="pole" name="pole" style="width: 300px;">

						</select>	
					</div>
				</div>
				{#<div  class="form-group row">
					{% if form_errors(form.pole) | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.pole) }}</strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2">{{ form_label(form.pole) }}</div>
					<div class="col-md-5 col-xs-2">{{ form_widget(form.pole) }}</div>
				</div>#}
				<div  class="form-group row">
					{% if form_errors(form.titre) | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.titre) }}</strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2">{{ form_label(form.titre) }}
					<span class="required mainPoint" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
					</div>
					<div class="col-md-5 col-xs-2">{{ form_widget(form.titre) }}</div>
				</div>
				<div  class="form-group row">
					{% if form_errors(form.description) | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.description) }}</strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2">{{ form_label(form.description) }}</div>
					<div class="col-md-5 col-xs-2">{{ form_widget(form.description) }}</div>
				</div>
				<div  class="form-group row">
					{% if form_errors(form.frequence) | length %}
						<div class="alert alert-dismissible custom-alert">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.frequence) }}</strong>
						</div>
					{% endif %}
					<div class="col-md-3 col-xs-2">{{ form_label(form.frequence) }}</div>
					<div class="col-md-5 col-xs-2">{{ form_widget(form.frequence) }}</div>
				</div>
				<div  class="form-group row">
					<div class="col-md-3 col-xs-2">{{ form_label(form.nomAAppeler) }}</div>
					<div class="col-md-5 col-xs-2" title='Indiquer dans ce champs le nom de la personne à contacter pour effectuer le contrôle'>{{ form_widget(form.nomAAppeler) }}</div>
				</div>
				<div  class="form-group row">
					<div class="col-md-3 col-xs-2">{{ form_label(form.telephoneAAppeler) }}</div>
					<div class="col-md-5 col-xs-2" title='Indiquer dans ce champs le téléphone de la personne à contacter pour effectuer le contrôle'>{{ form_widget(form.telephoneAAppeler) }}</div>
				</div>
				{% if pointDeControle.id is defined and pointDeControle.id %}
					<div  class="form-group row">
						{% if form_errors(form.lePremierMois) | length %}
							<div class="alert alert-dismissible custom-alert">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong>{{ form_errors(form.lePremierMois) }}</strong>
							</div>
						{% endif %}
						<div class="col-md-3 col-xs-2">{{ form_label(form.lePremierMois) }}</div>
						<div class="col-md-5 col-xs-2">{{ form_widget(form.lePremierMois, {'attr': {'class': 'date'}}) }}</div>
					</div>
					<div  class="form-group row">
						{% if form_errors(form.type) | length %}
							<div class="alert alert-dismissible custom-alert">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong>{{ form_errors(form.type) }}</strong>
							</div>
						{% endif %}
						<div class="col-md-3 col-xs-2">{{ form_label(form.type) }}</div>
						<div class="col-md-5 col-xs-2">{{ form_widget(form.type) }}</div>
					</div>
					<div  class="form-group row">
						{% if form_errors(form.niveau1) | length %}
							<div class="alert alert-dismissible custom-alert">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong>{{ form_errors(form.niveau1) }}</strong>
							</div>
						{% endif %}
						<div class="col-md-3 col-xs-2">{{ form_label(form.niveau1) }}</div>
						<div class="col-md-5 col-xs-2">{{ form_widget(form.niveau1) }}</div>
					</div>
					<div  class="form-group row">
						{% if form_errors(form.niveau2) | length %}
							<div class="alert alert-dismissible custom-alert">
								<button type="button" class="close" data-dismiss="alert">×</button>
								<strong>{{ form_errors(form.niveau2) }}</strong>
							</div>
						{% endif %}
						<div class="col-md-3 col-xs-2">{{ form_label(form.niveau2) }}</div>
						<div class="col-md-5 col-xs-2">{{ form_widget(form.niveau2) }}</div>
					</div>
				{% endif %}
			</fieldset>			
			{{ form_row(form._token) }}
			<div  class="form-group row">
				<div class="col-md-3 col-xs-2">{{ form_label(form.save) }}</div>
				<div class="col-md-5 col-xs-2">{{ form_widget(form.save) }}</div>
			</div>
			{{ form_end(form, {'render_rest' : false}) }}
		</div>
	</div>
	<script>
		var url_get_directions = {{ path('dpdc_get_directions')|json_encode|raw }};
		var url_get_service_by_direction = {{ path('dpdc_get_service_by_direction')|json_encode|raw }};
		var url_get_pole_by_service = {{ path('dpdc_get_pole_by_service')|json_encode|raw }};
		var laDirection = {{ direction }};
		var leService = {{ service }};
		var lePole = {{ pole }};	
	</script>		
	{% block javascripts %}
		{{ parent() }}
		<script type="text/javascript"
				src="https://raw.githubusercontent.com/jquery/jquery-ui/master/ui/i18n/datepicker-fr.js">
		</script>
		<script src="{{ asset('bundles/dpdc/js/dpdc-point-ajouter.js') }}"></script>
	{% endblock %}
{% endblock %}