{% extends 'DPDCBundle:layout:base.html.twig' %}
{% block title %}
    Vision N3
{% endblock %}
{% block body %}
	{{ parent() }}

	{% block stylesheets %}
		{{ parent() }}
		
		<link href="{{ asset('bundles/dpdc/css/dpdc-planning.css') }}" rel="stylesheet" />
	{% endblock %}
	<style>
		.tablesorter .tablesorter-filter {
			width: 100%;
		}

		.tablesorter tbody tr td,
		.tablesorter tbody tr td button,
		.tablesorter tbody tr td a{
			padding: 2px 5px !important;
			word-break: break-all;
		}
	</style>
	<h3>Vision N3</h3>
	<div class="row">	
		<div class="col-sm-12">
			<ul class="nav nav-tabs">
				{% for month in allMonths %}
					<li><a class='clickableMonth' id="month{{ month }}" data-toggle="tab" href="#{{ month }}">{{ month }}</a></li>
				{% endfor %}
			</ul>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="tab-content">
				{% for month in allMonths %}
					<div id="{{ month }}" class="tab-pane fade">
						<table class="table tablesorter table-bordered table-striped dataTable planningPointsDeControle">
							<colgroup>
							   <col span="1" style="width: 30% !important;">
							   <col span="1" style="width: 30% !important;">
							   <col span="1" style="width: 35% !important;">
							   <col span="1" style="width: 5% !important;">
							</colgroup>
							<thead>
								<tr>
									<th style="cursor: pointer;">Niveau 2</th>
									<th style="cursor: pointer;">E-mail</th>
									<th style="cursor: pointer;">Commentaire</th>
									<th class="filter-false"></th>
								</tr>
							</thead>
							{% for idN2, niveau2 in plannedPDC[month] %}
								<tr id="{{ idN2 }}" class="{{ month }}"
									{% if qualite[month] is not defined or qualite[month][idN2] is not defined or qualite[month][idN2] != 2 %}
										{% set columnClass = 'success' %}
									{% else %}
										{% set columnClass = 'danger' %}
									{% endif %}
									>
									<td class="{{ columnClass }} niveau3-niveau2">{{ niveau2.nom }}</td>
									<td class="{{ columnClass }} niveau3-niveau2">{{ niveau2.email }}</td>
									<td class="{{ columnClass }} niveau3-niveau2">
										{% if commentairesMoisN2N1[month] is defined and 
											commentairesMoisN2N1[month][idN2] is defined %}
											{% for idN1, commentaires in commentairesMoisN2N1[month][idN2]['commentaires'] %}
												{% for commentaire in commentaires %}													
													{{ commentaire }}<br/>
												{% endfor %}
											{% endfor %}
										{% endif %}
									</td>
									<td class="{{ columnClass }}">		
										<a title="" class="btn btn-sm btn-info n3-n2">
											<span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
										</a>	
									</td>										
								</tr>
							{% endfor %}
						</table>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<script>
		var url_session_month = {{ path('dpdc_session_month')|json_encode|raw }};
		var leMois = {{ leMois|json_encode|raw }};
		$('.n3-n2').click(function(){
			var selectedId = parseInt($(this).parent('td').parent('tr').attr('id'));
			window.location = {{ path('dpdc_vision_n2')|json_encode|raw }}+'/'+selectedId;
		});
		function enregistrerLeMois(leMois){
			$.ajax({
				dataType: "json",
				type: "POST",
				url: url_session_month,
				data: { leMois : leMois},  
				async: true,
				cache: false,
				error: function(jqXHR,textStatus, errorThrown ) {
	//				alert(jqXHR.responseText); return false;
				},
				success: function(data){
				}                                                                            
			});
			return false;
		}	
		$(function(){
			$(".planningPointsDeControle").each(function(){
				$(this).tablesorter({
{#					widthFixed : false,#}
					widgets:['filter']
				});
			});
			if(leMois !== 0){
				$('#'+leMois).click();
			}else{
				$('.clickableMonth').eq(12).click();
			}
			$('.clickableMonth').click(function(){
				var leMois = $(this).attr('id');
				enregistrerLeMois(leMois);
			});
		});
	</script>
{% endblock %}{# empty Twig template #}
