{% extends 'DPDCBundle:layout:base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
	{{ parent() }}

	{% block stylesheets %}
		{{ parent() }}

		<link href="{{ asset('bundles/dpdc/css/dpdc-point-valider.css') }}" rel="stylesheet" />
	{% endblock %}	
	
	<h3>Valider le contrôle</h3>
	
	{% for flashMessage in app.session.flashbag.get('dpdcValiderPointSuccess') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}
	<div class="row">
		<div class="col-sm-12">
			{{ form_start(formValider) }}
			{{ form_errors(formValider) }}
			{{ form_row(formValider._token) }}
			{{ form_widget(formValider.valider) }}
			{{ form_widget(formValider.refuser) }}
			{{ form_end(formValider, {'render_rest' : false}) }}
			<br/>
        <table>
            <tr style="background-color:#428bca;color:white;">
                <th colspan="2" height="15px"> Récapitulatif du contrôle</th>
            </tr>
            <tr>
                <td width="40%"><b>Titre de la demande</b></td>
                <td width="60%">
{#                    <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">#}
						{{ pointDeControle.id }} - {{ pointDeControle.titre }}
{#                    </a>#}
                </td>
            </tr>
            <tr>
                <td><b>Crée le</b></td>
                <td>
					{{ pointDeControle.dateAdded|date('d/m/Y') }}
                </td>
            </tr>
            <tr>
                <td><b>Demandeur</b></td>
                <td>
					{{ pointDeControle.nom }} {{ pointDeControle.prenom }} - 
					<a target="_blank" href="mailto:{{ pointDeControle.email }}">{{ pointDeControle.email }}</a>
				</td>
            </tr>
            <tr>
                <td><b>Direction</b></td>
                <td>
					{% if pointDeControle.direction %}
						{{ pointDeControle.direction.libelle }}
					{% endif %}
				</td>
            </tr>
            <tr>
                <td><b>Service </b></td>
                <td>
					{% if pointDeControle.service %}
						{{ pointDeControle.service.libelle }}
					{% endif %}
				</td>
            </tr>
			{% if pointDeControle.pole %}
				<tr>
					<td><b>Pole</b></td>
					<td>
						{{ pointDeControle.pole.libelle }}
					</td>
				</tr>
			{% endif %}					
            <tr>
                <td><b>Fréquence</b></td>
                <td>
					{% if pointDeControle.frequence == 30 %}
						mensuel
					{% elseif pointDeControle.frequence == 60 %}
						bimestriel
					{% elseif pointDeControle.frequence == 90 %}
						trimestriel
					{% elseif pointDeControle.frequence == 120 %}
						semestriel
					{% elseif pointDeControle.frequence == 360 %}
						annuel
					{% endif %}
				</td>
            </tr>
            <tr>
                <td><b>Personne à contacter</b></td>
                <td>{{ pointDeControle.nomAAppeler }} {{ pointDeControle.prenomAAppeler }}</td>
            </tr>
            <tr>
                <td><b>Description</b></td>
                <td>{{ pointDeControle.description }}</td>
            </tr>
        </table>	
			
		</div>
	</div>
				
	<script>					
		jQuery.fn.preventDoubleSubmission = function() {
		$(this).on('submit',function(e){
		  var $form = $(this);
		  
		  // ADDED TO SOLUTION
			$("#loader").show();

		  if ($form.data('submitted') === true) {
			// Previously submitted - don't submit again
			e.preventDefault();
		  } else {
			// Mark it so that the next submit can be ignored
			$form.data('submitted', true);
		  }
		});

		// Keep chainability
		return this;
	  };
	  $('form').preventDoubleSubmission();
	</script>
	
{% endblock %}{# empty Twig template #}
