{% extends 'ChecklistBundle:template:base.html.twig' %}
{% block title %}
    Magasin
{% endblock %}
{% block body %}	
	{{ parent() }}
	{{ include('ChecklistBundle:magasin:menu.html.twig') }}	
    <div class="table-div-60">
    	</br>	
		<table class="table table-striped table-hover ">
			<tr class="info">
				<td><label>Nom :</label></td>					
				<td>{{ magasin.nom }}</td>
			</tr>
			<tr class="info">
				<td><label>Numéro :</label></td>		
				<td>{{ magasin.numero }}</td>
			</tr>
			<tr class="info">
				<td><label>Téléphone :</label></td>		
				<td>{{ magasin.telephone }}</td>
			</tr>
	
			<tr class="info">
				<td><label>Adresse :</label></td>		
				<td>{{ magasin.adresse }}</td>
			</tr>
			<tr class="info">
				<td><label>Code Postal :</label></td>		
				<td>{{ magasin.codepostal }}</td>
			</tr>
					<tr class="info">
				<td><label>Ville :</label></td>		
				<td>{{ magasin.ville }}</td>
			</tr>
			<tr class="info">
				<td><label>Nombre de caisses :</label></td>		
				<td>{{ magasin.nombreDeCaisses }}</td>
			</tr>			
			
			{% if (is_granted('ROLE_CHK_ADMIN'))%}
			<tr class="info">
				<td>		
					<a href="{{ path('checklist_magasin_editer', {'id' : magasin.id}) }}" title="modifier les infos du magasin">
						<button type="button" class="btn btn-info" aria-label="Left Align" >
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							Editer le magasin
						</button>
					</a>	
				</td>		
				<td></td>
			</tr>
			{% endif %}
			
		</table>	
	</div>	
	{{ include('ChecklistBundle:magasin:menu.html.twig') }}	
{% endblock %}