.tablesorter {
    width: auto;
}

.tablesorter .header{
	background-image: url("data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==");
    background-position: right center;
    background-repeat: no-repeat;
}

.tablesorter .tablesorter-headerAsc{
	background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7");
    background-position: right center;
    background-repeat: no-repeat;
}

.tablesorter .tablesorter-headerDesc{
	background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7");
    background-position: right center;
    background-repeat: no-repeat;
}

.tablesorter .filter-false {
    background-image: none;
    cursor: default;
    padding: 4px;
}

.tablesorter-header .sorter-false{
	background-image: none;
}

