<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>{% block title %}{% if page_title is defined %} {{ page_title }}{% endif %}{% endblock %}</title>
        {{ include('HotelBookingBundle:layout:header.html.twig') }}
    </head>
	{% if page_title is not defined %} 
		{% set page_title= 'Outil du Hôtel Noz' %} 
	{% endif %}
	{% set path_homepage= path('hotel_default_booking')  %} 
	{% set homepage_title= 'Hotel Bookings' %} 
    <body class="skin-blue">
        <div id="loader" class="container">
			{% image 'img/loader.gif' %}
			    <img src="{{ asset_url }}" alt="Wait"/>
			{% endimage %}
        </div>
             <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="{{ path_homepage }}" class="logo"><b>{{ homepage_title }}</b></a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                </nav>
            </header>
            <div class="content-wrapper">
            	<section class="content">
               		{#MESSAGES#}
                	{% include "::messages.html.twig" %}
                	{% block body %}{% endblock %}
                </section>
	        </div>	
        {#FOOTER#}
        {% include "HotelBookingBundle:layout:footer.html.twig" %}
            </div><!-- ./wrapper -->
     </body>
</html>