<ul class="sidebar-menu">
    <li class="{% if app.request.attributes.get('_route') starts with 'acl_documentation' %}active {% endif %}">
        <a href="{{ path('acl_documentation') }}">
            <i class="fa fa-book"></i>
            <span>Documentation</span>
        </a>
    </li>
</ul>
<ul class="sidebar-menu">
    <li class="{% if app.request.attributes.get('_route') starts with 'acl_resource' %}active {% endif %}">
        <a href="#">
            <i class="fa fa-list"></i>
            <span>Ressources</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if app.request.attributes.get('_route') == 'acl_resource_add' %}active{% endif %}">
                <a href="{{ path('acl_resource_add') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_resource_add' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Créer</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'acl_resource_view' %}active{% endif %}">
                <a href="{{ path('acl_resource_view') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_resource_view' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Visualiser</a>
            </li>
            <li class="btn disabled {% if app.request.attributes.get('_route') == 'acl_resource_modify' %}active{% endif %}">
                <a href="{{ path('acl_resource_modify') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_resource_modify' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Modifier</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="sidebar-menu">
    <li class="{% if app.request.attributes.get('_route') starts with 'acl_role' %}active {% endif %}">
        <a href="#">
            <i class="fa fa-building"></i>
            <span>Groupes</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if app.request.attributes.get('_route') == 'acl_role_add' %}active{% endif %}">
                <a href="{{ path('acl_role_add') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_role_add' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Créer</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'acl_role_view' %}active{% endif %}">
                <a href="{{ path('acl_role_view') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_role_view' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Visualiser</a>
            </li>
            <li class="btn disabled {% if app.request.attributes.get('_route') == 'acl_role_modify' %}active{% endif %}">
                <a href="{{ path('acl_role_modify') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_role_modify' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Modifier</a>
            </li>
            <li class="btn disabled {% if app.request.attributes.get('_route') == 'acl_role_resources' %}active{% endif %}">
                <a href="{{ path('acl_role_resources') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_role_resources' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Ressources</a>
            </li>
            <li class="btn disabled {% if app.request.attributes.get('_route') == 'acl_role_add_resources' %}active{% endif %}">
                <a href="{{ path('acl_role_add_resources') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_role_add_resources' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Ajouter ressources</a>
            </li>
        </ul>
    </li>
</ul>
<ul class="sidebar-menu">
    <li class="{% if app.request.attributes.get('_route') starts with 'acl_utilisateur' %}active {% endif %}">
        <a href="#">
            <i class="fa fa-users"></i>
            <span>Utilisateurs</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if app.request.attributes.get('_route') == 'acl_utilisateur_view' %}active{% endif %}">
                <a href="{{ path('acl_utilisateur_view') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_utilisateur_view' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Visualiser</a>
            </li>
            <li class="btn disabled{% if app.request.attributes.get('_route') == 'acl_utilisateur_rights' %} active{% endif %}">
                <a href="{{ path('acl_utilisateur_rights') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_utilisateur_rights' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Droits</a>
            </li>
            <li class="btn disabled{% if app.request.attributes.get('_route') == 'acl_utilisateur_add_rights' %} active{% endif %}">
                <a href="{{ path('acl_utilisateur_add_rights') }}"><i class="fa{% if app.request.attributes.get('_route') == 'acl_utilisateur_add_rights' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>Ajouter droits</a>
            </li>
        </ul>
    </li>
</ul>