<!-- SCRIPTS -->
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/acl/bootstrap/js/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acl/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acl/LTE/js/lte.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/acl/app/js/app.js') }}"></script>
{% endblock %}
<!-- END SCRIPTS -->