{% extends 'AdminBundle:layout:base.html.twig' %}

    {% block body %}
        <section class="content-header">
            <h1>
                Affecter liste materiel/logiciel et groupe outlook
            </h1>
        </section>
<section class="content">
    <div class="row">

            <form action="{{ path('affect_profil_valid') }}" method="post" class="form-horizontal" id="myform" onsubmit="return doNotSubmit(this)">
                <div id="loading"  style="margin-left: 385px;margin-top: 90px;margin-bottom: 90px;">
                    <img src="{{ asset('img/dmli-loader.gif')}}" alt="Wait"/>
                </div>
                <fieldset id="affectProfil" hidden>

                <div class="col-sm-9">
                    <div class="box">
                        <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Utilisateur</h3>
                        </div>
                        <div class="box-body">
                            <div class="row" >


                                     <div class="col-md-6">
                                         <strong>  Direction:</strong> {{ result.dir_id }}
                                     </div>
                                        <div class="col-md-6">
                                            <strong> Pole:</strong>{{ result.pol_id }}
                                        </div>
                                        <div class="col-md-6">
                                           <strong> Service:</strong>{{ result.srv_id }}
                                        </div>
                                        <div class="col-md-6">
                                            <strong> Poste:</strong>{{ result.pst_id }}
                                        </div>
                        </div>
                           </div>
                        </div>
</div>
</div>
                    <div class="row">
                        <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Groupe Outlook
                                    <a id="buttonChangeMailingSelected"
                                       onclick="return false" style="padding-left: 612px" data-toggle="modal"
                                       data-target="#myModalMail"><i class="glyphicon glyphicon-plus"></i></a></h3>
                            </div>
                            <div class="box-body">
                                <table id="divMailingSelected" class="table table-striped">
                                </table>
                                <div class="form-group form-group-sm" style="margin-bottom:0px">
                                    <div class="col-sm-5">

                                        <div id="myModalMail" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->

                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close"
                                                                data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Groupe Outlouk</h4>
                                                    </div>
                                                    <div class="modal-body">

                                                        <p><label>Cochez/Décochez les éléments pour les
                                                                ajouter/enlever, puis
                                                                cliquez sur le bouton valider en bas de
                                                                page.</label></p>
                                                        <div class="form-group form-group-sm"
                                                             style="margin-bottom:0px">
                                                            <div class="col-sm-3">
                                                                <button id="buttonUncheckAllMailingList"
                                                                        class="btn btn-sm btn-default" type="button"
                                                                        onclick="uncheckCheckMailing(); saveListCheckMailing();">
                                                                    Tout d&eacute;s&eacute;lectionner
                                                                </button>
                                                            </div>
                                                        </div>

                                                        <br>
                                                        <table id="MailNew"
                                                               class="table table-hover table-striped table-condensed table-scrollable">
                                                        </table>
                                                        <br/>
                                                        <div class="bodycontainer scrollable">
                                                            <table id="divMailingList"
                                                                   class="table table-hover table-striped table-condensed table-scrollable">
                                                            </table>
                                                        </div>
                                                        <br/>

                                                        <button id="buttonValidateMailingList"
                                                                class="btn btn-sm btn-default"
                                                                name="buttonValidateMailingList"
                                                                data-dismiss="modal">Valider
                                                        </button>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="box box-info">
                                  <div class="box-header with-border">
                                      <h3 class="box-title">Liste Materiel
                                          <a id="buttonChangeHardwareSelected"
                                             onclick="return false" style="padding-left: 230px" data-toggle="modal"
                                             data-target="#myModalHard"><i class="glyphicon glyphicon-plus"></i></a></h3>
                                  </div>
                                  <div class="box-body">
                                      <div id="myModalHard" class="modal fade" role="dialog">
                                          <div class="modal-dialog">

                                              <!-- Modal content-->
                                              <fieldset id="hardwareList">
                                                  <div class="modal-content">
                                                      <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                          <h4 class="modal-title">Liste Materiel</h4>
                                                      </div>
                                                      <div class="modal-body">

                                                          <p><label>Cochez/Décochez les éléments pour les ajouter/enlever, puis
                                                                  cliquez sur
                                                                  le bouton valider en bas de page.</label></p>
                                                          <div id="hardwarePack">
                                                              <label class="col-sm-3 control-label">Choisiez un pack : </label>
                                                              <div class="col-sm-5"><select name="selectHardwarePack"
                                                                                            id="selectHardwarePack"
                                                                                            class="form-control input-sm"></select>
                                                              </div>
                                                          </div>

                                                          <div>

                                                              <button id="buttonUncheckAllHardwareList" class="btn btn-sm btn-default" type="button"
                                                                      onclick="uncheckCheckHardware(); saveListCheckHardware();">
                                                                  Tout désélectionner
                                                              </button>
                                                          </div>
                                                          <br/><br/>
                                                          <div class="bodycontainer scrollable">
                                                              <table id="divHardwareList"
                                                                     class="table table-hover table-striped table-condensed table-scrollable">


                                                              </table>
                                                          </div>
                                                          <br/>

                                                          <button id="buttonValidateHardwareList" class="btn btn-sm btn-default"
                                                                  data-dismiss="modal">Valider
                                                          </button>

                                                      </div>

                                                  </div>
                                              </fieldset>
                                          </div>
                                      </div>

                                      <fieldset id="hardwareSelected">
                                          <table id="divHardwareSelected" class="table table-striped">
                                          </table>
                                      </fieldset>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="box box-info">
                                  <div class="box-header with-border">
                                      <h3 class="box-title">Liste de Logiciel
                                          <a id="buttonChangeSoftwareSelected"
                                             onclick="return false" style="padding-left: 216px" data-toggle="modal"
                                             data-target="#myModalSoft"><i class="glyphicon glyphicon-plus"></i></a></h3>
                                  </div>
                                  <div class="box-body">
                                      <div id="myModalSoft" class="modal fade" role="dialog">
                                          <div class="modal-dialog">

                                              <!-- Modal content-->
                                              <fieldset id="softwareList">
                                                  <div class="modal-content">
                                                      <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                          <h4 class="modal-title">Liste de logiciel</h4>
                                                      </div>
                                                      <div class="modal-body">

                                                          <p><label>Cochez/Décochez les éléments pour les ajouter/enlever, puis
                                                                  cliquez sur le bouton valider en bas de page.</label></p>

                                                          <button id="buttonUncheckAllSoftwareList" class="btn btn-sm btn-default" type="button"
                                                                  onclick="uncheckCheckSoftware(); saveListCheckSoftware();">Tout
                                                              désélectionner
                                                          </button>
                                                          <br/><br/>
                                                          <div class="bodycontainer scrollable">
                                                              <table id="divSoftwareList"
                                                                     class="table table-hover table-striped table-condensed table-scrollable">
                                                              </table>
                                                          </div>
                                                          <br/>

                                                          <button id="buttonValidateSoftwareList" class="btn btn-sm btn-default"
                                                                  data-dismiss="modal">Valider
                                                          </button>
                                                      </div>

                                                  </div>
                                              </fieldset>
                                          </div>
                                      </div>

                                      <fieldset id="softwareSelected">
                                          <table id="divSoftwareSelected" class="table table-striped">
                                          </table>
                                      </fieldset>
                                      </div>
                                  </div>
                          </div>
                      </div>

</div>

                        <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_profil') }}">{{ form_row(form.Annuler) }}</a></div>
                                <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>

                            <input id="idBdg" name="BdgId" value="{{ result.id }}" />

                        </div>

                </div>
                    </div>
                </fieldset>
                </form>
                    </div>
              </section>

        <script src="{{ asset('bundles/dmli/js/admin.js') }}"></script>

    {% endblock %}
