{% extends 'AdminBundle:layout:base.html.twig' %}
{% block body %}
    <script src="{{ asset('bundles/dmli/js/addProfil.js') }}"></script>
    <section class="content-header">
        <h1>
            Ajouter un profil
        </h1>
    </section>
    <section class="content">
        <div class="row">
    <div class="col-md-6">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Utilisateur</h3>
            </div>
        <form action="{{ path('add_profil_valid') }}" method="post" class="form-horizontal" id="addformprofil">

                      <div id="loading"  style="margin-left: 230px;margin-top: 90px;margin-bottom: 90px;">
                      
                        <img src="{{ asset('img/dmli-loader.gif')}}" alt="Wait"/>
                    </div>
					<div id="addProfil" hidden>

                        <!-- livraison-->
                        <!-- utilisateur-->
                        <div class="box-body">

                                    <div id="divUserHierarchy">
                                        <div id="divDirection">
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label"> {{ form_label(form.direction) }}</label>
                                                <div class="col-sm-7">
                                                    {{ form_widget(form.direction) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divDepartment">
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label"> {{ form_label(form.service) }}</label>
                                                <div class="col-sm-7">
                                                    {{ form_widget(form.service) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div id="divDivision">
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label"> {{ form_label(form.pole) }}</label>
                                                <div class="col-sm-7">
                                                    {{ form_widget(form.pole) }}
                                                </div>

                                            </div>

                                        </div>
                                        <div id="divPost">
                                            <div class="form-group form-group-sm" style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label"> {{ form_label(form.poste) }}</label>
                                                <div class="col-sm-7">
                                                    {{ form_widget(form.poste) }}
                                                </div>
                                            </div>
                                            <div id="divNewPost" class="form-group form-group-sm"
                                                 style="margin-bottom:0px">
                                                <label class="col-sm-3 control-label">Précisez</label>
                                                <div class="col-sm-7">
                                                    <input class="form-control input-sm" name="userNewPost"
                                                           id="inputNewPost" required="required"
                                                           type="text"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                        <!-- code utilisateur-->
                        <!-- Demande-->
            <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('index_profil') }}">{{ form_row(form.Annuler) }}</a></div>
                    <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>



            </div>
              </form>
            </div>
           </div></div></section>


{% endblock %}