{% extends 'AdminBundle:layout:base.html.twig' %}

    {% block body %}
        <script>
            $(document).ready(function () {

                $('#myform').bootstrapValidator({
                    err: {
                        container: '#messages'
                    },
                    fields: {

                        "gestion_adminbundle_profil[posteHolder]": {
                            validators: {
                                notEmpty: {
                                    message: 'Ce champ est obligatoire!'
                                },

                            }
                        },}});})

        </script>

        <div class="row">

        <form action="{{ path('edit_profil_valid') }}" method="post" class="form-horizontal" id="myform">
        <div class="col-sm-9">
        <div class="panel panel-default">
        <div class="row">
            <h3 class="text-center">Modifier Profil</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="panel panel-info"
                 style="margin-right: 10px;margin-left: 10px; margin-top: 0px; margin-bottom:5px">
                <div class="panel-heading" style="padding: 4px 25px;">Utilisateur</div>
                <div class="panel-body">
                    <div class="row">
                    <div class="col-md-6">
                        <strong>  Direction :</strong>
                        </div>
                     <div class="col-md-6">
                        {{ result.dir_id }}
                    </div></div>

                    <div class="row">
                    <div class="col-md-6">
                        <strong> Pole :</strong>
                    </div>
                    <div class="col-md-6">
                        {{ result.pol_id }}
                    </div></div>
                    <div class="row">
                    <div class="col-md-6">
                        <strong> Service :</strong>
                    </div>
                    <div class="col-md-6">
                        {{ result.srv_id }}
                    </div></div><div class="row">

 <div class="col-md-6">
                        <strong>  Poste :</strong>
                        </div>                            <div class="col-sm-6">
                                {{ form_widget(form.posteHolder, {'attr':{'placeholder':
                                    result.pst_id }}) }}
                            </div></div>

               </div>
               </div>
            </div>
               </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">

                          <div style="padding: 5px" ><a href="{{ path('index_profil') }}" >{{ form_row(form.Annuler) }}</a>

                        </div></div>
                        <div class="col-md-4">
                            <div style="padding: 5px" >{{ form_row(form.Valider) }}
                                <input id="idBdg" name="BdgId" value="{{ result.id }}" type="hidden" /></div>

                        </div>
                    </div>
        </div>
        </div>

           
        </form>
        </div>

{% endblock %}