{% extends '@hierarchie/layout/base.html.twig' %}
{% set page_title = 'Créer un groupe' %}
{% block body %}
    <section class="content-header">
        <h1>Créer un groupe</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.grpLibelle, 'Libelle:*') }}
                            {{ form_widget(form.grpLibelle, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.grpDescription, '') }}
                            {{ form_widget(form.grpDescription, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div>
                            {{ form_row(form.Ajouter, { 'label': 'Créer' ,'attr': {'class': 'btn btn-primary'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}