{% block body %}
    <script>
        $(function () {
            var groupId = $("#grpLibelle option:selected").val();
            $("#form").append('<input type="hidden" name="groupChild" value="' + groupId + '"/>');
            $("#addGroupBtn").on("click", function (event) {
                if ($('#groupHierarchy').val() == '' || $('#groupParent').val() == '') {
                    event.preventDefault();
                    alert("HIerarchie et Groupe père sont obligatoires.");
                }
            });
            $("#groupHierarchy").on("change", function () {
                $id = $("#groupHierarchy option:selected").val();
                $("#groupParent").empty();
                if ($id) {
                    $path = window.location.pathname;
                    $url = $path.split("/");
                    $url.pop();
                    $url.pop();
                    $url = $url.join('/');
                    $grpId = $("#grpLibelle option:selected").val();
                    $("#groupParent").load($url+'/groupe/' + $id + "/" + $grpId);
                } else {
                    $("#parent").append('<option value="">Choisir une hiérarchie</option>');
                }
            });
        });
    </script>
    <section class="content-header">
        <h1>Ajouter une liaison</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <form action="{{ path('groupe-modifier-groupe')}}" method="POST" id="form">
                            <div class="form-group">
                                <label>Hiérarchie:*</label>
                                <select id="groupHierarchy" name="groupHierarchy" class="pull-right form-control form-group">
                                    <option value=""></option>
                                    {% for key,name in list %}
                                        <option value="{{ key }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Groupe père:*</label>
                                <select id="groupParent" name="groupParent" class="pull-right form-control form-group">
                                    <option value="">Choisir un groupe</option>
                                </select>
                            </div>
                            <input type="hidden" name="action" value="add"/>
                            <input type="submit" class="btn btn-primary" value="Ajouter" id="addGroupBtn" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}