{% extends '@hierarchie/layout/base.html.twig' %}
{% set page_title = 'Gérer les liaisons d\'un groupe' %}
{% block body %}
    <section class="content-header">
        <h1>Gérer les liaisons d'un groupe</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_widget(form.grpLibelle, {'value': selectedGrp, 'attr' : {'class': 'form-control'}}) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <div id="editButtons" class="col-md-12">
            <button type="button" class="btn btn-primary" id="addLink">Ajouter une liaison</button>
            <button type="button" class="btn btn-primary" id="modifyLink">Modifier une liasion</button>
            <button type="button" class="btn btn-primary" id="deleteLink">Supprimer une liasion</button>
        </div>
        <div id="edit-div" class="row" style="clear: both"></div>
    </section>
{% endblock %}