{% block body %}
    <script>
        $(function () {
            var groupId = $("#grpLibelle option:selected").val();
            $("#form").append('<input type="hidden" name="groupChild" value="' + groupId + '"/>');
            $("#deleteGroupBtn").on("click", function (event) {
                event.preventDefault();
                if ($('#groupHierarchy').val() == '') {
                    alert("HIerarchie et Groupe père sont obligatoires.");
                } else {
                    $confirm = confirm("Êtes vous sûr ?");
                    if ($confirm == true) {
                        $("#form").submit();
                    }
                }
            });
            $("#groupHierarchy").on("change", function () {
                $id = $("#groupHierarchy option:selected").val();
                $("#groupParent").empty();
                if ($id) {
                    $grpId = $("#grpLibelle option:selected").val();
                    $path = window.location.pathname;
                    $url = $path.split("/");
                    $url.pop();
                    $url.pop();
                    $url = $url.join('/');
                    $("#groupParent").load($url+'/supprimer-groupe/' + $id + "/" + $grpId);
                }
            });
        });
    </script>
    <section class="content-header">
        <h1>Supprimer une liaison</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <form action="{{ path('groupe-modifier-groupe')}}" method="POST" id="form">
                            <div class="form-group">
                                <label>Hiérarchie:*</label>
                                <select id="groupHierarchy" name="groupHierarchy" class="pull-right form-control form-group">
                                    <option value=""></option>
                                    {% for key,name in list %}
                                        <option value="{{ key }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-group">Groupe père:</label>
                                <span id="groupParent" class="pull-right"></span>
                            </div>
                            <input type="hidden" name="action" value="delete"/>
                            <input type="submit" class="btn btn-primary" value="Supprimer" id="deleteGroupBtn" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}