{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
  Se connecter - {{ parent() }}
{% endblock %}

{% block suivietudes_body %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}