{% extends 'ChecklistBundle:template:base.html.twig' %}	
{% block title %}
    Checklists
{% endblock %}	
{% block body %}	
	{{ parent() }}
	{% stylesheets 
		'@ChecklistBundle/Resources/public/css/tabMagasin.css'
		'@ChecklistBundle/Resources/public/css/tabsorter.css'
		%}
		<link rel="stylesheet" href="{{ asset_url }}" />    
	{% endstylesheets %}
	{{ include('ChecklistBundle:checklist:menu.html.twig') }}			
	<script>	
		var url_verif_checklist = {{ path('checklist_checklist_verifier')|json_encode|raw }};
	</script>
    <div>
    </br>
		{{ form_start(form) }}
			{{ form_label(form.afficheDesactive) }}
			{{ form_widget(form.afficheDesactive) }}
			{{ form_label(form.save) }}
			{{ form_widget(form.save) }}
		{{ form_end(form) }}
    </div>	
    <div class="table-div-80">
    	</br>
		<table id="listTableSorter" class="table tablesorter table-striped table-hover ">
			<thead>
				<th class="filter-false"></th>
				<th>Nom</th>
				<th>Temps estimée</th>
			</thead>
			{% for checklist in checklists %}
			{% if checklist.desactive %}
				<tr class="alert alert-danger alert-dismissable">
			{% else %}
				<tr class="info">
			{% endif %}				
					<td>
						<a href="{{ path('checklist_checklist_checklist', {'id' : checklist.id}) }}"
							title="afficher la fiche de la checklist" >
							<button type="button" class="btn btn-info" aria-label="Left Align">
								<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
							</button>
						</a>
						<a href="{{ path('checklist_checklist_editer', {'id' : checklist.id}) }}"
							title="modifier la fiche de la checklist">
							<button type="button" class="btn btn-info" aria-label="Left Align">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
						</a>
						
						<a href="{{ path('checklist_checklist_desactiver', {'id' : checklist.id}) }}"
							title="{{ checklist.desactive ? 'activer':'désactiver' }} la checklist"
						   onclick="return confirm('Attention! Le checklist sera ' + 
									   '{{ checklist.desactive ? 'activée':'désactivée' }}' + '!');">
							<button type="button" class="btn btn-info" aria-label="Left Align">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
						</a>
					</td>
					
					<td>{{ checklist.nom }}</td>
					<td>{{ temps[checklist.id]|date('H\\hi') }} + {{ caisse[checklist.id]|date('H\\hi') }} par caisse</td>
				</tr>
			{% endfor %}
		</table>
	</div>		
	{{ include('ChecklistBundle:checklist:menu.html.twig') }}	
{% endblock %}