{% extends 'ChecklistBundle:template:base.html.twig' %}	
{% block title %}
    {{ title }}
{% endblock %}	
{% block body %}	
	{{ parent() }}
	{{ include('ChecklistBundle:checklist:menu.html.twig') }}
    <div class="table-div-60">
    	</br>	
		<table class="table table-striped table-hover ">
			<tr class="info">
				<td><label>Nom</label></td>					
				<td>{{ checklist.nom }}</td>
			</tr>
			<tr class="info">
				<td><label>Temps estimé</label></td>		
				<td>{{ estimee|date('H:i') }} + {{ parCaisse|date('H:i') }} x Nombre de caisses</td>
			</tr>
			<tr class="info">
				<td><label>Desactivée</label></td>			
				<td>{{ checklist.desactive ? 'Yes':'No' }}</td>	
			</tr>
			<tr class="info">
				<td>	
					<a href="{{ path('checklist_checklist_editer', {'id' : checklist.id}) }}">
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							Editer le checklist
						</button>
					</a>		
				</td>			
				<td></td>	
			</tr>
		</table>	
	</div>	
	{{ include('ChecklistBundle:checklist:menu.html.twig') }}
{% endblock %}