{% block body %}
    <option value=""></option>
    {% for key,name in list %}
        <option value="{{ key }}" {% if grpIn['grpId'] == key %} selected="selected" {% endif %}> {{ name }} </option>
    {% endfor %}
    <script>
        $(function () {
            $selected = {% if grpIn['rolId'] is not empty %} {{ grpIn['rolId'] }} {% else %} 0{% endif %};
            $('.radioRole').prop('checked', false);
            $('.radioRole').each(function () {
                if ($selected != 0 && $(this).val() == $selected) {
                    $(this).prop('checked', true);
                }
            });
        });
    </script>
{% endblock %}