{% block menu %}
	<a href="{{ path('checklist_point_de_controle_points_de_controle') }}">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Liste des points de contrôle
		</button>
	</a>		
	<a href="{{ path('checklist_point_de_controle_ajouter') }}">
		<button type="button" class="btn btn-info" aria-label="Left Align">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un point de contrôle
		</button>
	</a>	
{% endblock %}