{% extends 'ChecklistBundle:template:base.html.twig' %}	
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}	
	{{ parent() }}
	{{ include('ChecklistBundle:pointDeControle:menu.html.twig') }}	
	<div class="table-div-60">
		</br>
		<table class="table table-striped table-hover ">
			<tr class="info">
				<td><label>Nom</label></td>					
				<td>{{ pointDeControle.nom }}</td>
			</tr>
			<tr class="info">
				<td><label>Temps théorique</label></td>		
				<td>{{ pointDeControle.duree|date('H:i') }}</td>
			</tr>
			<tr class="info">
				<td><label>Caisses</label></td>		
				<td>{{ pointDeControle.caisses ? 'Oui':'Non' }}</td>
			</tr>
			<tr class="info">
				<td><label>Durée par caisse</label></td>		
				<td>{{ pointDeControle.dureeParCaisse|date('H:i') }}</td>
			</tr>
			<tr class="info">
				<td><label>Type de Point de contrôle</label></td>		
				<td>{{ pointDeControle.type }}</td>
			</tr>
			<tr class="info">
				<td><label>Énoncé du point de contrôle</label></td>	
				<td>{{ pointDeControle.question }}</td>	
			</tr>
			<tr class="info">
				<td><label>Libellé de la question</label></td>		
				<td>{{ pointDeControle.libelle }}</td>
			</tr>
			<tr class="info">
				<td><label>Action à valider</label></td>		
				<td>{{ pointDeControle.action }}</td>
			</tr>
			<tr class="info">
				<td><label>Fische de procedure</label></td>		
				<td>{{ pointDeControle.fischeDeProcedure }}</td>
			</tr>
			<tr class="info">
				<td><label>Desactivée</label></td>			
				<td>{{ pointDeControle.desactive ? 'Yes':'No' }}</td>	
			</tr>
			<tr class="info">
				<td>
					<a href="{{ path('checklist_point_de_controle_editer', {'id' : pointDeControle.id}) }}">
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							Editer le point de contrôle
						</button>
					</a>
				</td>			
				<td></td>	
			</tr>
		</table>	
	</div>
	{{ include('ChecklistBundle:pointDeControle:menu.html.twig') }}	
{% endblock %}