{% extends 'ChecklistBundle:template:base.html.twig' %}	
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}	
	{{ parent() }}
	{{ include('ChecklistBundle:pointDeControle:menu.html.twig') }}	
	<div>
	</br>
		<table class="table table-striped table-hover "   style="width:80%;margin:0 auto;">
			<tr class="info">
				<td><label>Nom</label></td>					
				<td>{{ pointDeControle.nom }}</td>
			</tr>
			<tr class="info">
				<td><label>Temps théorique</label></td>		
				<td>{{ pointDeControle.duree|date('H \\h i') }}</td>
			</tr>
			<tr class="info">
				<td><label>Caisses</label></td>		
				<td>{{ pointDeControle.caisses ? 'Oui':'Non' }}</td>
			</tr>
			{% if pointDeControle.caisses %}
				<tr class="info">
					<td><label>Durée par caisse</label></td>		
					<td>{{ pointDeControle.dureeParCaisse|date('H \\h i') }}</td>
				</tr>
			{% endif %}		
			<tr class="info">
				<td><label>Type de Point de contrôle</label></td>		
				<td>					
					{% if pointDeControle.type == constant('TYPE_VISUEL', pointDeControle) %}
						Contrôle Visuel
					{% elseif pointDeControle.type == constant('TYPE_INSTALLATION_LOGICIEL', pointDeControle) %}
						Installation de Logiciel					
					{% elseif pointDeControle.type == constant('TYPE_ACTION', pointDeControle) %}		
						Action à Mener
					{% elseif pointDeControle.type == constant('TYPE_RETOUR_INFO', pointDeControle) %}
						Action avec retour d'Info
					{% endif %}			
				</td>
			</tr>
			<tr>
				<td>
					<a href="{{ path('checklist_point_de_controle_editer', {'id' : pointDeControle.id}) }}">
						<button type="button" class="btn btn-info" aria-label="Left Align">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Modifier le point de contrôle
						</button>
					</a>
				</td>
				<td></td>
			</tr>
		</table>
		</br>
	</div>
	{% for resultat in listeResultats %}
			{% if loop.first or (listeResultats[loop.index-2].visites.id != resultat.visites.id ) %}
			<div>
				</br>			
				<table class="table table-striped table-hover "   style="width:80%;margin:0 auto;">
					<tr class="info">
						<td><label>Visite</label></td>
						<td>{{ resultat.visites.magasin.nom}}, le {{ resultat.visites.date|date('d/m/Y')}} 
							(visite faite par {{ resultat.visites.technicien.displayname}})
						</td>
					</tr>
			{% endif %}			
			{% if pointDeControle.type == constant('TYPE_VISUEL', pointDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:controleVisuel.html.twig' with {'resultat': resultat} only %}
			{% elseif pointDeControle.type == constant('TYPE_INSTALLATION_LOGICIEL', pointDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:InstallationDeLogiciel.html.twig' with {'resultat': resultat} only %}
			{% elseif pointDeControle.type == constant('TYPE_ACTION', pointDeControle) %}		
				{% include 'ChecklistBundle:pointDeControle:actionamener.html.twig' with {'resultat': resultat} only %}
			{% elseif pointDeControle.type == constant('TYPE_RETOUR_INFO', pointDeControle) %}
				{% include 'ChecklistBundle:pointDeControle:ControleAvecRetourDInfo.html.twig' with {'resultat': resultat} only %}
			{% endif %}				
			{% if loop.last or (listeResultats[loop.index].visites.id != resultat.visites.id )%}	
				</table>
					</br>
				<div>
			{% else %}
				<tr class="info"><td></td><td></td></tr>		
			{% endif %}			
	{% endfor %}
	{{ include('ChecklistBundle:pointDeControle:menu.html.twig') }}	
{% endblock %}