{% block stylesheets %}
    <link href="{{ asset('bundles/hierarchie/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/hierarchie/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/hierarchie/css/ionicons.min.css') }}" rel="stylesheet" /> 
    <link href="{{ asset('bundles/hierarchie/dist/css/AdminLTE.min.css') }}" rel="stylesheet" /> 
    <link href="{{ asset('bundles/hierarchie/dist/css/skins/_all-skins.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/hierarchie/app/css/styles.css') }}" rel="stylesheet" />  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% if app.request.attributes.get('_route') starts with 'utilisateur' %}
        <link href="{{ asset('bundles/hierarchie/chosen/chosen.min.css') }}" rel="stylesheet" />  
    {% endif %}
    {% if app.request.attributes.get('_route') == 'groupe-modifier' %}
        <link href="{{ asset('bundles/hierarchie/chosen/chosen.min.css') }}" rel="stylesheet" />  
    {% endif %}
{% endblock %}