<ul class="sidebar-menu">
    <li class="{% if app.request.attributes.get('_route') starts with 'hierarchie' %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-tree"></i>
            <span>GERER LES HIERARCHIES</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if app.request.attributes.get('_route') == 'hierarchie-ajouter' %}active{% endif %}">
                <a href="{{ path('hierarchie-ajouter') }}"><i class="fa{% if app.request.attributes.get('_route') == 'hierarchie-ajouter' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Créer</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'hierarchie-vue' %}active{% endif %}">
                <a class="changeHieId" href="{{ path('hierarchie-vue')}}{% if app.request.get('hierarchie') %}?hierarchie={{ app.request.get('hierarchie') }} {%endif%}"><i class="fa{% if app.request.attributes.get('_route') == 'hierarchie-vue' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Visualiser</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'hierarchie-modifier' %}active{% endif %}">
                <a class="changeHieId" href="{{ path('hierarchie-modifier')}}{% if app.request.get('hierarchie') %}?hierarchie={{ app.request.get('hierarchie') }} {%endif%}"><i class="fa{% if app.request.attributes.get('_route') == 'hierarchie-modifier' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Modifier</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'hierarchie-importation' %}active{% endif %}">
                <a class="changeHieId" href="{{ path('hierarchie-importation')}}{% if app.request.get('hierarchie') %}?hierarchie={{ app.request.get('hierarchie') }} {%endif%}"><i class="fa{% if app.request.attributes.get('_route') == 'hierarchie-importation' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i></i>Importer</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'hierarchie-exportation' %}active{% endif %}">
                <a class="changeHieId" href="{{ path('hierarchie-exportation')}}{% if app.request.get('hierarchie') %}?hierarchie={{ app.request.get('hierarchie') }} {%endif%}"><i class="fa{% if app.request.attributes.get('_route') == 'hierarchie-exportation' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Exporter</a>
            </li>
        </ul>
    </li>
    <li class="{% if app.request.attributes.get('_route') starts with 'groupe' %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-list"></i>
            <span>GERER LES GROUPES</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if app.request.attributes.get('_route') == 'groupe-ajouter' %}active{% endif %}">
                <a href="{{ path('groupe-ajouter') }}"><i class="fa{% if app.request.attributes.get('_route') == 'groupe-ajouter' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Créer un groupe</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'groupe-modifier' %}active{% endif %}">
                <a href="{{ path('groupe-modifier') }}"><i class="fa{% if app.request.attributes.get('_route') == 'groupe-modifier' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Modifier un groupe</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'groupe-gerer' %}active{% endif %}">
                <a href="{{ path('groupe-gerer') }}"><i class="fa{% if app.request.attributes.get('_route') == 'groupe-gerer' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Gérer les liaisons d'un groupe</a>
            </li>
        </ul>
    </li>
    <li class="{% if app.request.attributes.get('_route') starts with 'utilisateur' %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-list"></i>
            <span>GERER LES UTILISATEURS</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if app.request.attributes.get('_route') == 'utilisateur' %}active{% endif %}">
                <a href="{{ path('utilisateur') }}"><i class="fa{% if app.request.attributes.get('_route') == 'utilisateur' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Dans hiérarchies</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'utilisateur-ajouter' %}active{% endif %}">
                <a href="{{ path('utilisateur-ajouter') }}"><i class="fa{% if app.request.attributes.get('_route') == 'utilisateur-ajouter' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Ajouter</a>
            </li>
            <li class="{% if app.request.attributes.get('_route') == 'utilisateur-editer' %}active{% endif %}">
                <a href="{{ path('utilisateur-editer') }}"><i class="fa{% if app.request.attributes.get('_route') == 'utilisateur-editer' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Modifier</a>
            </li>
        </ul>
    </li>
</ul>