<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>Connexion</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <link href="{{asset('all/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('all/font-awesome-4.3.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('all/LTE/css/AdminLTE.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="{{path('login')}}"><b>Connexion</b></a>
            </div><!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Se connecter</p>
                <p class="login-box-msg">Avec votre identifiant/mot de passe windows</p>
                {% if error %}
                    <div class="alert alert-danger" role="alert" id="alertConnect">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post"  id="form_login">
                    {% if csrf_token is defined %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />  
                    {% endif %}
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Identifiant windows" name='_username' required="" autofocus="" {% if last_username is defined %}value="{{ last_username }}"{% endif %}/>
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" name="_password" placeholder="Mot de passe" required=""/>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />
                        <label for="remember_me">Se souvenir de moi</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Connexion</button>
                        </div><!-- /.col -->
                    </div>
                </form>
            </div><!-- /.login-box-body -->
        </div><!-- /.login-box -->
    </body>
</html>