<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Suivi de votre demande</title>
        <style type="text/css">
            html {
                /*background-color: #eee !important;*/
                font-size:13px;
            }
            body {
                background-color: white;
                /* border:3px solid #e7e7e7;*/
                margin: 10px auto;
                padding:5px;
                font-family: Arial, Helvetica, sans-serif;
                width:620px;
            }
            tr, td, h2, h3, h4, a, p {
                margin:0;
                padding:0;
                vertical-align:center;
                text-decoration:none;
            }
            a {
                text-decoration:underline;
            }
            h4 {
                font-weight:normal;
            }
            table {
                width:100%;
                border: 1px solid #428bca;
                margin:20px auto;
            }
            table td {
                padding:2px 5px;
                border:1px solid lightgrey;
            }
            table tr {
            }
        </style>
    </head>
    <body>

        {% if environnement != 'prod' %}
            <p> CECI EST UN MAIL DE TEST, MERCI DE NE PAS EN TENIR COMPTE.</p>
            <br/>
        {% endif %}

        <p>
            Bonjour,
        </p>
        <br/>

        {% block body_mail %}
            <!-- Contenu du mail -->
        {% endblock %}

        <table cellpadding="0" cellspacing="0" style="font-size:13px;">
            <tr style="background-color:#428bca;color:white;">
                <th colspan="2" height="15px"> Récapitulatif de votre demande</th>
            </tr>
            <tr>
                <td width="40%"><b>Titre de la demande</b></td>
                <td width="60%">
                    <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">
                        {{demande.id}} - {{demande.titre}}
                    </a>
                </td>
            </tr>

            <tr>
                <td><b>Application concernée</b></td>
                <td>
                    {% if demande.application is not null %}
                        {%for app in demande.application%}
                            {{app.name}}</br>
                        {%endfor%}
                    {% else %} 
                        -- 
                    {% endif%}
                </td>
            </tr>

            <tr>
                <td><b>Type de demande</b></td>
                <td>{{demande.type.name}}</td>
            </tr>
            <tr>
                <td><b>Priorité</b></td>
                <td>{{ demande.criterionOrigin.points|default(0) * demande.criterionPopulation.points|default(0) * demande.criterionFrequence.points|default(0) }}</td>
            </tr>
            {%if demande.criterionOrigin.points is defined%}
                <tr>
                    <td><b>Origine de la demande</b></td>
                    <td>{{demande.criterionOrigin.name}}</td>
                </tr>
            {%endif%}
            {%if demande.criterionPopulation.points is defined%}
                <tr>
                    <td><b>Population concernée</b></td>
                    <td>{{demande.criterionPopulation.name}}</td>
                </tr>
            {%endif%}
            {%if demande.criterionFrequence.points is defined%}
                <tr>
                    <td><b>Fréquence d’utilisation</b></td>
                    <td>{{demande.criterionFrequence.name}}</td>
                </tr>
            {%endif%}
            <tr>
                <td><b>Statut</b></td>
                <td>{{demande.statut.name}}</td>
            </tr>
            <tr>
                <td><b>Créateur</b></td>
                <td>
                    {% for dem in demande.demandeUser %}
                        {% if dem.type is constant('DEMANDEUR', dem) %}
                            {{ dem.user.displayname}}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><b>Observateur(s)</b></td>
                <td>
                    {% for dem in demande.demandeUser %}
                        {% if dem.type is constant('OBSERVATEUR', dem) %}
                            {{ dem.user.displayname}} -
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><b>Créée le</b></td>
                <td>{{ demande.date|date('d/m/Y') }}</td>
            </tr>
            {% if demande.service is not null %}
                <tr>
                    <td><b>Service concerné</b></td>
                    <td>{{demande.service.direction.libelle}} - {{demande.service.libelle}}</td>
                </tr>
            {% endif%}
            {% if demande.statut.id >= constant('EN_ATTENTE', demande.statut) %}
                <tr>
                    <td><b>Charge(s) estimée(s)</b></td>
                    <td>{{demande.charges}} heures 
                        {% if demande.charges > 40 %} ({{ (demande.charges / 8)|round(1, 'floor')}} jours){% endif %}.
                    </td>
                </tr>
            {% endif %}
            {% if demande.statut.id >= constant('EN_ATTENTE', demande.statut) %}
                <tr>
                    <td><b>Date Recette</b></td>
                    <td>{{demande.dateRecette|date('d/m/Y')}}</td>
                </tr>
            {% endif %}
            {% if demande.statut.id >= constant('EN_ATTENTE', demande.statut) %}
                <tr>
                    <td><b>Date de mise en production</b></td>
                    <td>{{demande.dateProduction|date('d/m/Y')}}</td>
                </tr>
            {% endif %}
            {% if demande.statut.id >= constant('RECETTE_USER', demande.statut) %}
                <tr>
                    <td><b>Date de mise en production</b></td>
                    <td>{{demande.dateProduction|date('d/m/Y')}}</td>
                </tr>
            {% endif %}
            <tr>
                <td><b>Description</b></td>
                <td>{{demande.description|raw}}</td>
            </tr>
        </table>
        <br/>
        <div id="signature">
            <p>Cordialement,</p><br/>
            <p>Pôle WEB - poleweb@noz.fr</p>
            <p>Service Informatique - Univers NOZ</p>
        </div>
    </body>
</html>