{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            Votre demande n°{{demande.id}} vient d'être modifiée.<br/>
            Les estimations de charges, ainsi qu'une date de livraison ont été renseignées :<br/><br/>
            {% if demande.statut.id >= constant('EN_ATTENTE', demande.statut) %}
                <b>Charge(s) estimée(s)</b> : {{demande.charges}} heures
                {% if demande.charges > 40 %}({{ (demande.charges / 8)|round(1, 'floor')}} jours){% endif %}.</br>
                    <b>Date Recette</b> : {{demande.dateRecette|date('d/m/Y')}}</br>
                <b>Date de mise en production</b> : {{demande.dateProduction|date('d/m/Y')}}
            {% endif %}
            <br/><br/>
            Vous avez la possibilité de valider ou refuser directement ces estimations en ligne, en vous rendant
            sur <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">la fiche de votre demande</a>.<br/>
            La date de livraison proposée n'est valables que pendant les 5 prochains jours.
            Passé ce délai, elle peut évoluer.<br/><br/>
            Si vous souhaitez plus d'informations sur ces estimations, n'hésitez pas à nous contacter.
        </p>
    </div>

{% endblock %}