{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            L'étape d'analyse est terminée, vous avez été affecté(e) à la demande n°{{demande.id}}.</br></br>

            Vous pouvez à tout moment consulter la demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">lien</a>.
        </p>
    </div>

{% endblock %}