{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            Votre demande n°{{demande.id}} vient d'être prise en compte.<br/>
            Vous serez informé dans les prochains jours, par mail également, sur les estimations de votre demande.
            En attendant, vous pouvez retrouver votre demande en cliquant sur <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">ce lien</a>.<br/>
            Vous avez également la possibilité de modifier votre demande, jusqu'à la validation du devis.<br/><br/>
            Si vous souhaitez nous donner plus d'informations sur votre besoin, n'hésitez pas à nous contacter.
        </p>
    </div>

{% endblock %}