{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            Les estimations de livraison pour la demande n°{{demande.id}} viennent d'être modifiées.<br/>
            Nouvelle date de mise en recette : <b>{{demande.dateRecette|date('d/m/Y')}}</b><br/>
            Nouvelle date de mise en production : <b>{{demande.dateProduction|date('d/m/Y')}}</b>
        <br/>
        <br/>
            Si vous souhaitez plus d'informations concernant les raisons de ce changement, n'hésitez pas à nous contacter.
        </p>
    </div>

{% endblock %}