{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}
	<div id="mailcontent">
        <p>
            <!-- PENSER A LA PIECE JOINTE DU DEVIS !!!!!! -->
            Vous avez refusé la validation du devis pour la demande n°{{demande.id}}, un manager technique va prendre contact avec vous afin de re-spécifier les besoins.
    </div>

{% endblock %}