{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            La demande n°{{demande.id}} passe au statut "recette informatique", veuillez effectuer les tests nécéssaires afin de déterminer si la solution proposée répond aux besoins spécifiés.</br></br>

            Vous pouvez à tout moment consulter la demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">lien</a>.
        </p>
    </div>

{% endblock %}