{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            Votre demande n°{{demande.id}} a été validée par le chef de projet, veuillez effectuer les tests afin de déterminer si la solution répond aux besoins que vous avez formulés.</br></br>

            Vous pouvez à tout moment consulter la demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">lien</a>.
        </p>
    </div>

{% endblock %}