{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            Les tests de la demande n°{{demande.id}} effectués par le demandeur <b>{{ userDmd }}</b> ont été validés, veuillez valider (ou non) la mise en production.</br></br>

            Commentaire du demandeur : <b>{{ commentaire }}</b></br></br>

            Vous pouvez accéder à la demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}"> lien</a>.
        </p>
    </div>

{% endblock %}