{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            La demande n°{{demande.id}} vient d'être rétrogradée au statut "En cours - DEV", veuillez effectuer les modifications nécéssaires.</br></br>

            Les tâches ont été automatiquement réaffectées aux mêmes techniciens mais il vous est néanmoins possible de modifier les affectations.</br></br>

            Commentaire du demandeur : <b>{{ commentaire }}</b></br></br>
            
            Vous pouvez à tout moment consulter la demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">lien</a>.
        </p>
    </div>

{% endblock %}