{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}
{% block body_mail %}
    <div>
        <p>Une proposition de mise en "Stand-by" a été faite pour la demande {{demande.id}} – {{demande.titre}}</p>
        <p>Vous pouvez répondre à cette proposition en vous rendant sur ce <a href="{{url}}{{path("suivi_etudes_liste_stand_by_demandes")}}">lien</a></p>
        <p>Bonne journée.</p>
    </div>
    <div id="signature">
        <p>Cordialement,</p><br/>
        <p>Pôle WEB - poleweb@noz.fr</p>
        <p>Service Informatique - Univers NOZ</p>
    </div>
{% endblock %}