{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}
{% block body_mail %}
    <div>
        <p>La demande {{demande.id}} – "{{demande.titre}}" vient de passer au statut "Stand-by" pour la raison suivante :</p>
        <p>Raison : {{reason.reason}}</p>
        <p>Commentaire : {{reason.description}}</p>
    </div>
{% endblock %}