{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

    <div id="mailcontent">
        <p>
            <!-- PENSER A LA PIECE JOINTE DU DEVIS !!!!!! -->
            La demande n°{{demande.id}} a été validée par l'utilisateur.</br></br>
            Vous avez la possibilité d'accéder à cette demande par le biais de ce <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}"> lien</a>.
        </p>
    </div>

{% endblock %}