<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Demande de mise &agrave; disposition de matériél téléphonique</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }

    .strong {
        font-weight: bold;
    }

    .min {
        font-size: 15px;
    }

    .min2 {
        font-size: 16px;
    }
    .min1 {
        font-size: 13px;
    }

    .footer {
        position: absolute;
        bottom: 10px;
        width: 90%;
        text-align: right;
        line-height: 25px;
    }
img{
    height: 70px;
}

</style>
<body>
<div style="padding-left: 30px;">
    <table style="padding-top:30px; border: 1px solid black; padding-left: 20px;">
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;" width="120px;" height="30px;"><img src="{{ pdf_image('dmliBundle:bg2.png') }}"/></td>
            <td style="border: 1px solid black;  padding-top:25px;" width="250px;"  align="center" class="min2 strong">Demande de mise &agrave;
                disposition de Matériel
                Téléphonique
            </td>
            <td style="border: 1px solid black;" width="230px;" >
                <table>
                    <tr style="border: 1px solid black;">
                        <td style="border-bottom: 1px solid black;" class="min1">Service émetteur: Secrétariat des
                            Directions
                        </td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td style="border-bottom: 1px solid black;" class="min1">Date de création: 03.12.2009</td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td style="border-bottom: 1px solid black;" class="min1">Date de Dérniere mise &agrave; jour:
                            29.07.2016
                        </td>
                    </tr>
                    <tr style="border: 1px solid black;">
                        <td class="min1">Indice de version: v8</td>
                    </tr>
                </table>


            </td>
        </tr>
    </table>
    <div style="padding-left:40px; padding-top: 20px;">
        <table>
            <tr style="padding-top: 20px;" class="min">
                <td> Nom&Prénom de l'utilisateur:</td>
                <td> {{ result.nom }} </td>
            </tr>
            <tr class="min">
                <td> société:</td>
                <td>  {{ result.societe }}</td>
            </tr>
            <tr class="min">
                <td> Fonction de l'utilisateur:</td>
                <td>  {{ result.poste }} </td>
            </tr>

        </table>
        <table style="padding-top: 30px;">
            <tr class="min">
                <td>Date d'entrée dans la société:</td>
                <td>  {{ result.date_entree }}</td>
            </tr>
            <tr class="min">
                <td>Date d'affectation du matériél:</td>
                <td>  {{ result.date_affectation }}</td>
            </tr>

        </table>


        <div style="padding-top: 20px; padding-left:20px;text-decoration: underline; " class="min">• Type de
            mise &agrave; disposition
            souhaitée:
        </div>

        <table style="padding-top: 10px;padding-left: 30px;">
            <tr class="min">
                <td>
                    &raquo; Attribution:
                </td>
                <td>
                    {% if result.pret == 'Attribution' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}

                </td>
                <td style="padding-left:140px;" class="min">
                    &raquo; Smartphone:<b> Forfait appel + internet</b>
                </td>
                <td>


                    {% if result.Tforfait == 'Smartphone' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}

                </td>
            </tr>
            <tr>
                <td class="min">
                    &raquo; Pr&ecirc;t ponctuel:
                </td>
                <td>

                    {% if result.pret == 'Pret ponctuel' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}

                </td>
                <td style="padding-left:140px;" class="min">
                    &raquo; Téléphone classique:<b> Forfait appel + sms</b>
                </td>
                <td>

                    {% if result.Tforfait == 'Télephone classique' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}

                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="padding-left:140px;" class="min">
                    &raquo; Carte SIM seule
                </td>
                <td>

                    {% if result.Tforfait == 'Carte' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}

                </td>
            </tr>
        </table>

        <!--attribution -->
        <div style="border: 1px solid black;margin-top: 40px; width: 620px;">
            <div style="padding-left: 30px;">
                <div style="text-decoration: underline" class="min">
                    <b> Attribution</b>
                </div>
                <div style="padding-top: 20px; width:600px; padding-bottom: 10px;"  class="min" >

                          <b> Observations/ Motif de la demande:</b>
                            {% if result.pret == 'Attribution' %}
                                    {{ result.motif }}
                                {% endif %}


                </div>
            </div>
        </div>

        <!--pret ponctuel -->
        <div style="border: 1px solid black; margin-top: 20px; width: 620px;">
            <div style="padding-left: 30px;">
                <div style="text-decoration: underline;" class="min">
                    <b> Pr&ecirc;t Ponctuel:</b>
                </div>
                <div style="padding-top: 20px;">
                    <table>
                        <tr class="min">
                            <td> Date:</td>
                            <td>{% if result.pret == 'Pret ponctuel' %}
                                    {{ result.DatePret }}
                                {% endif %}</td>
                        </tr>
                    </table>

                </div>
                <div style="padding-top: 20px; width:600px; padding-bottom: 10px;"  class="min" >
                    <b>Motif de pr&ecirc;t ponctuel:</b>
                             {% if result.pret == 'Pret ponctuel' %}
                                    {{ result.motif }}
                                {% endif %}
                </div>
            </div>
        </div>

        <table style="padding-top: 20px;padding-left: 30px;">
            <tr class="min">
                <td>
                    France:
                </td>
                <td style="padding-left:100px;">

                    {% if result.forfait == 'France' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}

                </td>
                <td style="padding-left:200px;">
                    International:
                </td>
                <td style="padding-left:100px;">

                    {% if result.forfait == 'International' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}

                </td>
            </tr>

        </table>
        <div style="padding-top: 20px;padding-left:20px;text-decoration: underline; " class="min">• Choix d'utilisation
            du téléphone:
        </div>

        <div style="padding-top: 20px;text-decoration: underline; " class="min">Quelle est l'utilisation autorisée par
            le manager?
        </div>

        <table style="padding-top: 20px;padding-left: 30px;">
            <tr class="min">
                <td>
                    Usage professionnel uniquement en semaine:
                </td>
                <td style="padding-left:100px;">

                    {% if result.usage == 'usage professionnel uniquement en semaine' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}

                </td>
            </tr>
            <tr class="min">
                <td> Usage professionnel semaine et week-end compris:</td>
                <td style="padding-left:100px;">

                    {% if result.usage == 'Usage professionnel semaine et weekend compris' %}
                        <input type="checkbox"
                               checked="checked"/>
                    {% else %}
                        <input type="checkbox"
                               checked="unchecked"/>
                    {% endif %}


                </td>
            </tr>

        </table>

        <table style="padding-top:30px;">
            <tr style="text-decoration: underline;" class="min1" align="center" >
                <td>
                   <cite> Nous vous rappelons que le matériel téléphonique
                    mis &agrave; disposition des utilisateurs dois etre utilisé uniquement</cite>
                </td>
            </tr>
            <tr style="text-decoration: underline;" class="min1" align="center">
                <td>
                     <cite> &agrave; titre professionnel.</cite>
                </td>
            </tr>
        </table>


        <div style="padding-top: 20px;" class="min"> Fait &agrave; St-Berthevin le : {{ "now"|date("d-m-Y") }}</div>
        <div style="padding-top: 20px;" class="min"> Nom du signataire :</div>
        <div class="min1"><cite>(Membre de la Direction obligatoirement)</cite></div>
        <div class="min"> Qualité du signataire:</div>
        <div class="min"> signature</div>

        <div style=" padding-left: 450px;">
            <div style="border: 1px solid black; width: 200px; height: 100px;">
                <div style="padding-left: 10px; text-align: center;" class="min">
                    J.ADRION Signature:
                    <cite class="min1">(Validation Smartphone)</cite>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="footer min1">
        <cite> &laquo; Demande de mise &agrave; disposition de matériél téléphonique &raquo; – 29.07.2016 – v8– 1/1</cite>
    </div>


</body>
</html>