<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Demande de mise &agrave; disposition de matériél téléphonique</title>
</head>
<style>
    table {
        border-collapse: collapse;
    }
    .strong {
        font-weight:bold;
    }
    .min {
        font-size:10px;
    }

    img {
        position:absolute;
        width: 150px;
        top: 25px;
    }
    #footer {
        position:absolute;
        bottom:0px;width:100%;
        text-align:right;
        line-height:25px;
    }

</style>
<body >
<table style="padding-top:30px; border: 1px solid black; padding-left: 20px;">
    <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;" width="150px;"><img src="{{ pdf_image('dmliBundle:noz.png') }}"/></td>
        <td style="border: 1px solid black;" width="200px;" align="center" class="strong">Demande de mise &agrave; disposition de Matériel
                Téléphonique</td>
        <td style="border: 1px solid black;">
            <table>
                <tr style="border: 1px solid black;">
                    <td style="border-bottom: 1px solid black;" class="min">Service émetteur: Secrétariat des Directions</td>
                </tr>
                <tr style="border: 1px solid black;">
                    <td style="border-bottom: 1px solid black;" class="min">Date de création: 03.12.2009</td>
                </tr>
                <tr style="border: 1px solid black;">
                    <td style="border-bottom: 1px solid black;" class="min">Date de Dérniere mise &agrave; jour: 29.07.2016</td>
                </tr>
                <tr style="border: 1px solid black;">
                    <td class="min">Indice de version: v8</td>
                </tr>
            </table>


        </td>
    </tr>
</table>

<div style="padding-left: 30px;padding-right: 30px;">
    <div style="padding-top: 20px;"> Nom&Prénom de l'utilisateur:  {{ result.nom }}</div>
    <div> société:  {{ result.societe }}</div>
    <div> Fonction de l'utilisateur:  {{ result.poste }}</div>


    <div style="padding-top: 20px;"> Date d'entrée dans la société:  {{ result.date_entree }}</div>
    <div> Date d'affectation du matériél:  {{ result.date_affectation }}</div>


    <div style="padding-top: 20px; padding-left:20px;text-decoration: underline; ">• Type de mise &agrave; disposition
        souhaitée:
    </div>

    <table style="padding-top: 10px;padding-left: 30px;">
        <tr>
            <td>
                &raquo; Attribution:
            </td>
            <td>
                {% if result.pret == 'Attribution' %}
                <input type="checkbox"
                       checked="checked" />
                {% else %}
                <input type="checkbox"
                       checked="unchecked" />
                {% endif %}
            </td>
            <td style="padding-left:200px;">
                &raquo; Smartphone:<b> Forfait appel + internet</b>
            </td>
            <td>
                {% if result.Tforfait == 'Smartphone' %}
                    <input type="checkbox"
                           checked="checked" />
                {% else %}
                    <input type="checkbox"
                           checked="unchecked" />
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                &raquo; Pr&ecirc;t ponctuel:
            </td>
            <td>
                {% if result.pret == 'Pret ponctuel' %}
                    <input type="checkbox"
                           checked="checked" />
                {% else %}
                    <input type="checkbox"
                           checked="unchecked" />
                {% endif %}
            </td>
            <td style="padding-left:200px;">
                &raquo; Téléphone classique:<b> Forfait appel + sms</b>
            </td>
            <td>
                {% if result.Tforfait == 'Télephone classique' %}
                    <input type="checkbox"
                           checked="checked" />
                {% else %}
                    <input type="checkbox"
                           checked="unchecked" />
                {% endif %}
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td style="padding-left:200px;">
                &raquo; Carte SIM seule
            </td>
            <td>
                {% if result.Tforfait == 'Carte' %}
                    <input type="checkbox"
                           checked="checked" />
                {% else %}
                    <input type="checkbox"
                           checked="unchecked" />
                {% endif %}
            </td>
        </tr>
    </table>

    <!--attribution -->
    <div style="border: 1px solid black;margin-top: 40px; width: 670px;">
        <div style="padding-left: 30px">
            <div style="text-decoration: underline">
                <b> Attribution</b>
            </div>
            <div style="padding-top: 20px;">
                Observations/ Motif de la demande:
                {% if result.pret == 'Attribution' %}
              {{ result.motif }}
                {% endif %}
            </div>
        </div>
    </div>

    <!--pret ponctuel -->
    <div style="border: 1px solid black; margin-top: 20px; width: 670px;">
        <div style="padding-left: 30px;">
            <div style="text-decoration: underline;">
                <b>    Pr&ecirc;t Ponctuel:</b>
            </div>
            <div style="padding-top: 20px;">
                Date:  {% if result.pret == 'Pret ponctuel' %}
                    {{ result.DatePret }}
                {% endif %}
            </div>
            <div style="padding-top: 20px;">
                Motif de pr&ecirc;t ponctuel:

                {% if result.pret == 'Pret ponctuel' %}
                    {{ result.motif }}
                {% endif %}
            </div>
        </div>
    </div>

    <table style="padding-top: 20px;padding-left: 30px;">
        <tr>
            <td>
                France:
            </td>
            <td style="padding-left:100px;">
                {% if result.forfait == 'France' %}
                    <input type="checkbox"
                           checked="checked" />
                {% else %}
                    <input type="checkbox"
                           checked="unchecked" />
                {% endif %}
            </td>
            <td style="padding-left:200px;">
                International:
            </td>
            <td style="padding-left:100px;">
                {% if result.forfait == 'International' %}
                    <input type="checkbox"
                           checked="checked" />
                {% else %}
                    <input type="checkbox"
                           checked="unchecked" />
                {% endif %}
            </td>
        </tr>

    </table>
    <div style="padding-top: 20px;padding-left:20px;text-decoration: underline; ">• Choix d'utilisation du téléphone:
    </div>

    <div style="padding-top: 20px;text-decoration: underline; ">Quelle est l'utilisation autorisée par le manager?</div>

    <table style="padding-top: 20px;padding-left: 30px;">
        <tr>
            <td>
                Usage professionnel uniquement en semaine:
            </td>
            <td style="padding-left:100px;">
                {% if result.usage == 'usage professionnel uniquement en semaine' %}
                    <input type="checkbox"
                           checked="checked" />
                {% else %}
                    <input type="checkbox"
                           checked="unchecked" />
                {% endif %}
            </td>
        </tr>
        <tr>
            <td> Usage professionnel semaine et week-end compris:</td>
            <td style="padding-left:100px;">
                {% if result.usage == 'Usage professionnel semaine et weekend compris' %}
                    <input type="checkbox"
                           checked="checked" />
                {% else %}
                    <input type="checkbox"
                           checked="unchecked" />
                {% endif %}
            </td>
        </tr>

    </table>

    <p style="padding-top: 30px;">
        <cite style="text-decoration: underline; text-align: center;"> Nouv vous rappelons que le matériel téléphonique
            mis &agrave; disposition des utilisateurs dois etre utilisé uniquement &agrave; titre professionnel.</cite>
    </p>


    <div style="padding-top: 20px;"> Fait &agrave; St-Berthevin le :</div>
    <div style="padding-top: 20px;"> Nom du signataire :</div>
    <div><cite>(Membre de la Direction obligatoirement)</cite></div>
    <div> Qualité du signataire:</div>
    <div> signature</div>

    <div style=" padding-left: 500px;">
        <div style="border: 1px solid black; width: 200px; height: 100px;">
            <div style="padding-left: 10px; text-align: center;">
                J.ADRION Signature: <cite>(Validation Smartphone)</cite>
            </div>
        </div>
    </div>

</div>
<div id="footer">
    <cite> Demande de mise &agrave; disposition de matériél téléphonique </cite>
</div>

</body>
</html>