{% extends 'dmliBundle:layout:base.html.twig' %}
    {% block body %}
        <div class="row">
            <div class="col-md-9">
        <div class="box-body">
        <div class="alert alert-info">
            <div class="text-center"><h3> {{ msg }} </h3></div>
        </div>
        </div>
                <div class="col-md-1"></div>
        <div class="col-md-4">
           <a href="{{ path('dmli_page1') }}"><h3><i class="fa fa-arrow-left"></i> Retour au formulaire</h3></a>
        </div>
                <div class="col-md-2"></div>
        <div class="col-md-4">
           <a href="http://intranet/"><h3>Allez à IntraNoz <i class="fa fa-arrow-right"></i></h3></a>
        </div>

  </div>
        <div class="col-md-3">{% include "dmliBundle:layout:guide.html.twig" %}</div>
        </div>
    {% endblock %}