{% extends 'DPDCBundle:layout:base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
	{{ parent() }}	
	
	<style>
		.multiple-commentaires {
			width: 100%;
		}
		.multiple-commentaires tbody tr td,
		.multiple-commentaires tbody tr td button,
		.multiple-commentaires tbody tr td a{
			padding: 2px 5px !important;
			word-break: break-all;
		}
	</style>
	<h3>Commentaire de {{niveau2.displayName}} pour le mois {{ leMois|localizeddate('long', 'none', 'en')|frMois }} pour le niveau 1 {{niveau1.displayName}} n'ayant pas répondu</h3>
	<div class="row">
		<div class="col-sm-8">
			{{ form_start(forms, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_errors(forms) }}
			<table class="multiple-commentaires">
				<colgroup>
				   <col span="1" style="width: 50%;">
				   <col span="1" style="width: 50%;">
				</colgroup>
				{% for child in forms.children %}
					{% include 'DPDCBundle:CommentaireN2PDC:ajouterCommentaireN2PDC.html.twig' with {'child': child} only %}
				{% endfor %}
				<tr class="info">
					<td></td>
					<td>{{ form_widget(forms.save, {'attr' : {'class': 'btn btn-info glyphicon glyphicon-floppy-disk'}, 'label' : ' Enregistrer'}) }}</td>
				</tr>
			</table>
			{{ form_end(forms) }}
		</div>
	</div>

{% endblock %}
