{% extends "::layoutLTE.html.twig" %}
{% set hidemenu= true %}
{% if page_title is not defined %} 
	{% set page_title= 'Outil du service Paie' %} 
{% endif %}
	{% set path_homepage= path('paie_homepage')  %} 
	{% set homepage_title= 'Paie' %} 

{% block menu %}
	{% include "PaieAdministrationBundle:layout:menu.html.twig" %}
{% endblock %}

{% block body %}	
	{{ parent() }}	
        <div id="loader" class="container">
            <img src="/Applications/web/bundles/hierarchie/app/img/loader.gif" alt="Wait"/>
        </div>

{% endblock %}	