<ul class="sidebar-menu">
	{% if not is_granted("ROLE_PAIE_VENTE") %}
    <li class="{% if app.request.attributes.get('_route') starts with 'administration' %}active {% endif %}treeview">
        <a href="{{ path('paie_societe')}}">
            <i class="fa fa-users"></i>
            <span>ADMINISTRATION</span>
        </a>
    </li>
	{% endif %}
    <li class="{% if app.request.attributes.get('_route') starts with 'paie_arret_de_travail' %}active {% endif %}treeview">
        <a href="{{ path('paie_arrets_de_travail')}}">
            <i class="fa fa-users"></i>
            <span>ARRÊTS DE TRAVAIL</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if app.request.attributes.get('_route') == 'paie_arrets_de_travail' %}active{% endif %}">
                <a href="{{ path('paie_arrets_de_travail') }}"><i class="fa{% if app.request.attributes.get('_route') == 'paie_arrets_de_travail' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>Gérer les arrêts de travail</a>
            </li>
            {% if not is_granted("ROLE_PAIE_MANAGER") %}
            <li class="{% if app.request.attributes.get('_route') == 'paie_arret_de_travail_reporting' %}active{% endif %}">
                <a href="{{ path('paie_arret_de_travail_reporting') }}"><i class="fa{% if app.request.attributes.get('_route') == 'paie_arret_de_travail_reporting' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i></i>Reporting</a>
            </li>
			{% endif %}
        </ul>
    </li>
        
</ul>