{% extends 'CovoiturageBundle:layout:base.html.twig' %}



    {% block body %}
        <script src="{{ asset('bundles/covoiturage/js/co_voiturage.js') }}"></script>
        <section class="content-header">
            <h1>
                Liste des trajets-Professionnels-Personnels

            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Filtrer la liste</h3>
                            <div class="box-tools pull-right"> <button type="button" class="btn btn-box-tool" data-widget="collapse"> <i class="fa fa-minus"></i></button></div>
                        </div>
                        <form action="{{ path('covoiturage') }}" method="post" class="form-horizontal" id="myform">

                            <div class="box-body">
                                <!-- adresse depart -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.depart) }}</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.depart) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label id="newDepart" class="col-sm-3 control-label">Précisez une autre adresse:</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-sm" name="inputNewDepart"
                                                   id="inputNewDepart" required="required"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- adresse depart -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.arrivee) }}</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.arrivee) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label id="newArrivee" class="col-sm-3 control-label">Précisez une autre adresse:</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-sm" name="inputNewArrivee"
                                                   id="inputNewArrivee" required="required"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- Date Aller-->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Date Aller </label>
                                        <div class="col-sm-6">
                                            <div class="input-group date" data-provide="datepicker">
                                                <input type="text" id="inputDate" class="form-control">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12">

                    <table id="example"  class="table table-striped table-bordered table-hover table-responsive" style="padding-left: 2px; width: 100%">
                        <thead>
                        <tr style="background-color: #00C0EF">
                            <td style="color: #ffffee"><strong>Date</strong></td>
                            <td style="color: #ffffee"><strong>Départ</strong></td>
                            <td style="color: #ffffee"><strong>Arrivé</strong></td>
                            <td style="color: #ffffee"><strong>Nbre de place disponible</strong></td>

                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        {% if listetrajet is empty %}
                            <tr> <td></td>
                                <td></td>
                                <td class="text-center">Pas d'enregistrement</td>
                                <td></td>
                                <td></td></tr>
                        {% else %}
                            {% for item in listetrajet %}
                                <tr>
                                    <td>{{ item.date }}</td>
                                    <td>{{ item.ville_depart }}</td>
                                    <td>{{ item.ville_arrivee }}</td>
                                    <td>{{ item.NbrePlace }}</td>
                                    <td style="width: 8%">
                                        <div class="row" style="margin-left: 4px;">
                                            <a style="padding-left: 2px;" href="{{ path('details_trajet_pro', {'id': item.id})}}" title="Réserver un trajet">
                                                <span class="glyphicon glyphicon-pencil" style="color: #00a65a"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function () {
                var table= $('#example').DataTable({
                    "bProcessing": false,
                    "bLengthChange": false,
                    paging: false,                    "info":false,
                    "language": {
                        "zeroRecords": "Pas d'enregistrement",
                        "infoEmpty": "Pas d'enregistrement",
                    },
                });
                $('#covoituragebundle_profil_depart').on( 'change', function () {
                    if($('#covoituragebundle_profil_depart').val() == -1){
                        $('#inputNewDepart').on( 'keyup', function () {
                            table.column(1).search( this.value ).draw();

                        });
                    }else{

                       var ch=$('#covoituragebundle_profil_depart option[value='+$('#covoituragebundle_profil_depart').val()+']').text();
                        table.column(1).search( ch ).draw();}
                } );
                $('#covoituragebundle_profil_arrivee').on( 'change', function () {
                    if($('#covoituragebundle_profil_arrivee').val() == -1){
                        $('#inputNewArrivee').on( 'keyup', function () {
                            table.column(2).search( this.value ).draw();
                        });
                    }else{
                        var ch1=$('#covoituragebundle_profil_arrivee option[value='+$('#covoituragebundle_profil_arrivee').val()+']').text();
                        table.column(2).search( ch1).draw();}
                } );
                $('#inputDate').on( 'change', function () {
                    table.column(0).search( this.value ).draw();
                } );
                $(function () {

                    $("input[name='demo_vertical2']").TouchSpin({
                        verticalbuttons: true,
                        verticalupclass: 'glyphicon glyphicon-plus',
                        verticaldownclass: 'glyphicon glyphicon-minus',
                        min: 1,
                        max: 4
                    });
                    $('[data-toggle="popover"]').popover({html: true});


                    $('#inputDate').keypress(function (e) {
                        return false;
                    });

                    $('#inputDate').datepicker({
                        minDate: 0,
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
                            'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'],
                        monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                            'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'déc.'],
                        dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                        dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'yy-mm-dd',
                        firstDay: 1,
                    });


                    $('#inputDate2').keypress(function (e) {
                        return false;
                    });

                    $('#inputDate2').datepicker({
                        minDate: 0,
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
                            'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'],
                        monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                            'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'déc.'],
                        dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                        dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'dd-mm-yy',
                        firstDay: 1,
                    });
                });
                $('#date_retour').hide();
                $('#covoituragebundle_profil_retour').on("change", function () {
                    if ($("#covoituragebundle_profil_retour:checked").length == 1) {
                        $('#date_retour').show();}
                    else{
                        $('#date_retour').hide();
                    }
                });
            });
        </script>
    {% endblock %}