<!DOCTYPE html>
<html>
    <head>
        <title>Application en maintenance</title>
        <link href="{{ asset('all/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/LTE/css/AdminLTE.min.css') }}" rel="stylesheet" /> 
        <link href="{{ asset('all/LTE/css/skins/_all-skins.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('all/app/css/styles.css') }}" rel="stylesheet" />  
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{{ asset('all/bootstrap/js/jquery-1.10.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('all/bootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('all/LTE/js/lte.js') }}"></script>
    </head>
    <body class="skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    {% if app.user %}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{ asset('bundles/acl/app/img/user_default.jpg') }}" class="user-image" alt="User Image"/>
                                        <span class="hidden-xs">{{ app.user.displayname }}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="{{ asset('bundles/acl/app/img/user_default.jpg') }}" class="img-circle" alt="User Image" />
                                            {% if app.user %}
                                                <p>
                                                    {{ app.user.displayname }} -
                                                    Connecté(e) en tant que : 
                                                    {% if is_granted('ROLE_SUPER_ADMIN')%}
                                                        SUPER ADMIN
                                                    {% elseif is_granted('ROLE_MANAGER_TECH')%}
                                                        MANAGER TECHNIQUE
                                                    {% elseif is_granted('ROLE_RESP_TECH')%}
                                                        RESPONSABLE TECHNIQUE
                                                    {% elseif is_granted('ROLE_TECH')%}
                                                        TECHNICIEN
                                                    {% elseif is_granted('ROLE_COPIL')%}
                                                        MEMBRE COPIL
                                                    {% elseif is_granted('ROLE_VALIDEUR')%}
                                                        VALIDEUR
                                                    {% elseif is_granted('ROLE_DEMANDEUR')%}
                                                        DEMANDEUR
                                                    {% else %}
                                                        COLLABORATEUR
                                                    {% endif %} 
                                                </p>
                                            {% endif %}
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-right">
                                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Se déconnecter</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </nav>
            </header>
            <div class="content-wrapper">
                <!-- Main content -->
                <section class="content">
                    <div class="error-page">
                        <h2 class="headline text-red">500</h2>
                        <div class="error-content">
                            <h3><i class="fa fa-warning text-red"></i> Application en maintenance</h3>
                            <p>Nous faisons des services de maintenance. S'il vous plaît être patient.</p>
                            <p>Nous vous enverrons un e-mail lorsque la demande sera à nouveau fonctionnel.</p>
                        </div>
                    </div>
                <!-- /.content -->
            </div>
            <footer class="main-footer">
                <i>Cette application a été développée par le Pôle WEB - Univers NOZ © {{ 'now'|date('Y') }}.
                    Pour nous contacter : <a href="mailto:poleweb@noz.fr">envoyez-nous un mail</a></i>
            </footer>
        </div>
    </body>
</html>
