{% extends 'IndicateursDAMBundle:TvDam:layout.html.twig' %}

{% block nextpage %}
	{{ path('affichage_tv_diapo_challenge') }}
{% endblock %}

{% block content %}
<div class="row" >
	<div class="col-md-2">
	   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}" class="img-responsive"/>
	</div>
	<div class="col-md-8">
	   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}"  class="img-responsive"/>
	</div>
	{{ include ("IndicateursDAMBundle:TvDam:vignette.html.twig") }}
</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-7 contenu"  align="center">
	   	<img src="{{ asset('bundles/indicateursdam/images/img_dam.png')}}" style="max-height:586px" class="img-responsive"/>
	</div>
</div>
{% endblock %}