{% extends 'IndicateursDAMBundle:layout:base.html.twig' %}
{% set page_title = 'Equipe ' %}
{% block body %}
	<style>
		.carousel-page
		{
			width:100%;
			height:100%;
			color:white;
		}
	</style>
	{% stylesheets '@IndicateursDAMBundle/Resources/public/css/styleCaroussel.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	<div id="my_carousel" class="carousel slide" data-ride="carousel"  data-pause="false">
		<!-- Bulles -->
		<ol class="carousel-indicators" >
			<li data-target="#my_carousel" data-slide-to="0" class="active"></li>
			<li data-target="#my_carousel" data-slide-to="1"></li>
			<li data-target="#my_carousel" data-slide-to="2"></li>
			<li data-target="#my_carousel" data-slide-to="3"></li>
		</ol>
		<!-- Slides -->
		<div class="carousel-inner">
			<!-- Pages -->
			<div class="item active">
				<div class="carousel-page">
					{{ include ("IndicateursDAMBundle:TvDam:achats.html.twig") }}
				</div>
			</div>
			<div class="item">
				<div class="carousel-page">
					{{ include ("IndicateursDAMBundle:TvDam:challenge.html.twig") }}
				</div>
			</div>
			<div class="item">
				<div class="carousel-page">
					{{ include ("IndicateursDAMBundle:TvDam:chiffres.html.twig") }}
				</div>
			</div>
			<div class="item">
				<div class="carousel-page">
					{{ include ("IndicateursDAMBundle:TvDam:chiffres_terrain_europe.html.twig") }}
				</div>
			</div> 
		</div>
		<!-- Contrôles -->
		<a class="left carousel-control" href="#my_carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#my_carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>

{% endblock %}