<div class="col-md-3">
   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}"/>
</div>
<div class="col-md-8">
   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}"/>
</div>

<div class="col-md-12"></div>
<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Europe 1</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                     	<th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{ data['realisation_eur1']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_eur1']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_europe1 = (data['realisation_eur1']/data['objectif_eur1'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_europe1 < 33 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_europe1 < 66 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_europe1 }}%
                            </div>
                        </td>
                       	<td class="sizeTD4">{{ data['dossier_EURO1'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_EURO1'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_europe1 }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Europe 2</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                        <th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{ data['realisation_eur2']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_eur2']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_europe2 = ( data['realisation_eur2']/data['objectif_eur2'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_europe2 < 80 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_europe2 < 100 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_europe2 }}%
                            </div>
                        </td>
                       	<td class="sizeTD4">{{ data['dossier_EURO2'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_EURO2'] }}</td>

                    </tr>
                    <tr>
                        <td  colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_europe2 }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Europe 3</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                       	<th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{  data['realisation_eur3']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_eur3']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_europe3 = ( data['realisation_eur3']/data['objectif_eur3'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_europe3 < 80 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_europe3 < 100 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_europe3 }}%
                            </div>
                        </td>
                       	<td class="sizeTD4">{{ data['dossier_EURO3'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_EURO3'] }}</td>
                    </tr>
                    <tr>
                        <td  colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_europe3 }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Europe 4</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                       	<th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{  data['realisation_eur4']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_eur4']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_europe4 = ( data['realisation_eur4']/data['objectif_eur4'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_europe4 < 80 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_europe4 < 100 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_europe4 }}%
                            </div>
                        </td>
                       	<td class="sizeTD4">{{ data['dossier_EURO4'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_EURO4'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_europe4 }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Europe 5</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                       	<th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{  data['realisation_eur5']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_eur5']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_europe5 = ( data['realisation_eur5']/data['objectif_eur5'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_europe5 < 80 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_europe5 < 100 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_europe5 }}%
                            </div>
                        </td>
                       	<td class="sizeTD4">{{ data['dossier_EURO5'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_EURO5'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_europe5 }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>