{% extends 'IndicateursDAMBundle:TvDam:layout.html.twig' %}

{% block nextpage %}
	{{ path('affichage_tv_diapo_histogramme_terrain') }}
{% endblock %}

{% block content %}
<div class="col-md-2">
   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}" class="img-responsive"/>
</div>
<div class="col-md-8">
   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}" class="img-responsive"/>
</div>
{{ include ("IndicateursDAMBundle:TvDam:vignette.html.twig") }}

<div class="contenu">

<div class="col-md-12"></div>

<div class="col-md-1"></div>
<!--CHIFFRES DAM -->
<div class="col-md-10">
	<div class="box box-primary">
        <div class="box-body with-border text-center">
            <table class="table table-bordered text-center">
                <tbody>
					<th class="sizeTH" colspan=5>Chiffres des Equipes Terrain</th>
                    <tr>
                        <th class="sizeTH" >Nom</th>
                        <th class="sizeTH">Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th class="sizeTH">Progression</th>
                        <th style="width:10%"></th>
                    </tr>
                    <tr>
                        <td class="sizeTH">Royaume-Uni</td>
                        <td class="sizeTH">{{ data['realisation_UK'] }} k€</td>
                        <td class="sizeTH">{{ data['objectif_UK'] }} k€</td>
                        {% set pourcentage_UK = (data['realisation_UK']/data['objectif_UK'] * 100)|round(0) %}
 						{% if pourcentage_UK < 80 %}
                           	{% set type_bar_global  = 'progress-bar-danger' %}
                            {% set type_label_global  = 'bg-red' %}
						{% elseif pourcentage_UK < 100 %}
                           	{% set type_bar_global  = 'progress-bar-warning' %}
                            {% set type_label_global  = 'bg-yellow' %}
						{% else %}
                           	{% set type_bar_global  = 'progress-bar-success' %}
                            {% set type_label_global  = 'bg-green' %}
                        {% endif %}
                        <td class="sizeTH">
                        		<div class="progress">
                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_UK }}%"></div>
                            	</div>
                        </td>
                        <td class="sizeTH">
                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_UK }}%
                            </div>
                        </td>
                    </tr>
                   	<tr>
                        <td class="sizeTH">Allemagne</td>
                        <td class="sizeTH">{{ data['realisation_ALL'] }} k€</td>
                        <td class="sizeTH">{{ data['objectif_ALL'] }} k€</td>
                        {% set pourcentage_ALL = (data['realisation_ALL']/data['objectif_ALL'] * 100)|round(0) %}
 						{% if pourcentage_ALL < 80 %}
                           	{% set type_bar_global  = 'progress-bar-danger' %}
                            {% set type_label_global  = 'bg-red' %}
						{% elseif pourcentage_ALL < 100 %}
                           	{% set type_bar_global  = 'progress-bar-warning' %}
                            {% set type_label_global  = 'bg-yellow' %}
						{% else %}
                           	{% set type_bar_global  = 'progress-bar-success' %}
                            {% set type_label_global  = 'bg-green' %}
                        {% endif %}
                        <td class="sizeTH">
                        		<div class="progress">
                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_ALL }}%"></div>
                            	</div>
                        </td>
                        <td class="sizeTH">
                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_ALL }}%
                            </div>
                        </td>
                    </tr>
                   	<tr>
                        <td class="sizeTH">Espagne</td>
                        <td class="sizeTH">{{ data['realisation_esp'] }} k€</td>
                        <td class="sizeTH">{{ data['objectif_esp'] }} k€</td>
                        {% set pourcentage_ESP = (data['realisation_esp']/data['objectif_esp'] * 100)|round(0) %}
 						{% if pourcentage_ESP < 80 %}
                           	{% set type_bar_global  = 'progress-bar-danger' %}
                            {% set type_label_global  = 'bg-red' %}
						{% elseif pourcentage_ESP < 100 %}
                           	{% set type_bar_global  = 'progress-bar-warning' %}
                            {% set type_label_global  = 'bg-yellow' %}
						{% else %}
                           	{% set type_bar_global  = 'progress-bar-success' %}
                            {% set type_label_global  = 'bg-green' %}
                        {% endif %}
                        <td class="sizeTH">
                        		<div class="progress">
                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_ESP }}%"></div>
                            	</div>
                        </td>
                        <td class="sizeTH">
                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_ESP }}%
                            </div>
                        </td>
                    </tr>
                   	<tr>
                        <td class="sizeTH">Italie</td>
                        <td class="sizeTH">{{ data['realisation_ita'] }} k€</td>
                        <td class="sizeTH">{{ data['objectif_ita'] }} k€</td>
                        {% set pourcentage_ita = (data['realisation_ita']/data['objectif_ita'] * 100)|round(0) %}
 						{% if pourcentage_ita < 80 %}
                           	{% set type_bar_global  = 'progress-bar-danger' %}
                            {% set type_label_global  = 'bg-red' %}
						{% elseif pourcentage_ita < 100 %}
                           	{% set type_bar_global  = 'progress-bar-warning' %}
                            {% set type_label_global  = 'bg-yellow' %}
						{% else %}
                           	{% set type_bar_global  = 'progress-bar-success' %}
                            {% set type_label_global  = 'bg-green' %}
                        {% endif %}
                        <td class="sizeTH">
                        		<div class="progress">
                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_ita }}%"></div>
                            	</div>
                        </td>
                        <td class="sizeTH">
                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_ita }}%
                            </div>
                        </td>
                    </tr>
                   	<tr>
                        <td class="sizeTH">France Est</td>
                        <td class="sizeTH">{{ data['realisation_fre'] }} k€</td>
                        <td class="sizeTH">{{ data['objectif_fre'] }} k€</td>
                        {% set pourcentage_fre = (data['realisation_fre']/data['objectif_fre'] * 100)|round(0) %}
 						{% if pourcentage_fre < 80 %}
                           	{% set type_bar_global  = 'progress-bar-danger' %}
                            {% set type_label_global  = 'bg-red' %}
						{% elseif pourcentage_fre < 100 %}
                           	{% set type_bar_global  = 'progress-bar-warning' %}
                            {% set type_label_global  = 'bg-yellow' %}
						{% else %}
                           	{% set type_bar_global  = 'progress-bar-success' %}
                            {% set type_label_global  = 'bg-green' %}
                        {% endif %}
                        <td class="sizeTH">
                        		<div class="progress">
                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_fre }}%"></div>
                            	</div>
                        </td>
                        <td class="sizeTH">
                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_fre }}%
                            </div>
                        </td>
                    </tr>
                   	<tr>
                        <td class="sizeTH">France Ouest</td>
                        <td class="sizeTH">{{ data['realisation_fro'] }} k€</td>
                        <td class="sizeTH">{{ data['objectif_fre'] }} k€</td>
                        {% set pourcentage_fro = (data['realisation_fro']/data['objectif_fro'] * 100)|round(0) %}
 						{% if pourcentage_fro < 80 %}
                           	{% set type_bar_global  = 'progress-bar-danger' %}
                            {% set type_label_global  = 'bg-red' %}
						{% elseif pourcentage_fro < 100 %}
                           	{% set type_bar_global  = 'progress-bar-warning' %}
                            {% set type_label_global  = 'bg-yellow' %}
						{% else %}
                           	{% set type_bar_global  = 'progress-bar-success' %}
                            {% set type_label_global  = 'bg-green' %}
                        {% endif %}
                        <td class="sizeTH">
                        		<div class="progress">
                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_fro }}%"></div>
                            	</div>
                        </td>
                        <td class="sizeTH">
                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_fro }}%
                            </div>
                        </td>
                    </tr>
                   	<tr>
                        <td class="sizeTH">France Sud</td>
                        <td class="sizeTH">{{ data['realisation_frs'] }} k€</td>
                        <td class="sizeTH">{{ data['objectif_frs'] }} k€</td>
                        {% set pourcentage_frs = (data['realisation_frs']/data['objectif_frs'] * 100)|round(0) %}
 						{% if pourcentage_frs < 80 %}
                           	{% set type_bar_global  = 'progress-bar-danger' %}
                            {% set type_label_global  = 'bg-red' %}
						{% elseif pourcentage_frs < 100 %}
                           	{% set type_bar_global  = 'progress-bar-warning' %}
                            {% set type_label_global  = 'bg-yellow' %}
						{% else %}
                           	{% set type_bar_global  = 'progress-bar-success' %}
                            {% set type_label_global  = 'bg-green' %}
                        {% endif %}
                        <td class="sizeTH">
                        		<div class="progress">
                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_frs }}%"></div>
                            	</div>
                        </td>
                        <td class="sizeTH">
                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_frs }}%
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-1"></div>

</div>
{% endblock %}
