{% extends 'IndicateursDAMBundle:TvDam:layout.html.twig' %}

{% block nextpage %}
	{{ path('affichage_tv_diapo_histogramme_sedentaire') }}
{% endblock %}

{% block content %}
<div class="contenu">
	<div class="row" style="height:20px"></div>
	<div class="row">
	
		<div class="col-md-1"></div>
		<!--CHIFFRES DAM -->
	
		<div class="col-md-10">
			<div class="box box-primary">
	        	<div class="box-body with-border text-center">
		            <table class="table table-bordered text-center">
							<th class="sizeTH2" colspan=5>Chiffres des Equipes Sedentaires</th>
		                    <tr>
		                        <th class="sizeTH2" >Nom</th>
		                        <th class="sizeTH2">Réalisé</th>
		                        <th class="sizeTH2">Objectif</th>
		                        <th class="sizeTH2">Progression</th>
		                        <th style="width:10%"></th>
		                    </tr>
		                   	<tr>
		                        <td class="sizeTD2">Textile</td>
		                        <td class="sizeTD2">{{ data['realisation_textile'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_textile'] }} k€</td>
		                        {% set pourcentage_textile = (data['realisation_textile']/data['objectif_textile'] * 100)|round(0) %}
		 						{% if pourcentage_textile < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_textile < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_textile }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_textile }}%
		                            </div>
		                        </td>
		                    </tr>                    
		                    	<tr>
		                        <td class="sizeTD2">Grands Comptes</td>
		                        <td class="sizeTD2">{{ data['realisation_gc'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_gc'] }} k€</td>
		                        {% set pourcentage_gc = (data['realisation_gc']/data['objectif_gc'] * 100)|round(0) %}
		 						{% if pourcentage_gc < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_gc < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_gc }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_gc }}%
		                            </div>
		                        </td>
		                    </tr>
		                   	<tr>
		                        <td class="sizeTD2">France Belgique</td>
		                        <td class="sizeTD2">{{ data['realisation_bel'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_bel'] }} k€</td>
		                        {% set pourcentage_bel = (data['realisation_bel']/data['objectif_bel'] * 100)|round(0) %}
		 						{% if pourcentage_bel < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_bel < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_bel }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_bel }}%
		                            </div>
		                        </td>
		                    </tr>
		
		                   	<tr>
		                        <td class="sizeTD2">Mogador 1</td>
		                        <td class="sizeTD2">{{ data['realisation_mog1'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_mog1'] }} k€</td>
		                        {% set pourcentage_mog1 = (data['realisation_mog1']/data['objectif_mog1'] * 100)|round(0) %}
		 						{% if pourcentage_mog1 < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_mog1 < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_mog1 }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_mog1 }}%
		                            </div>
		                        </td>
		                    </tr>                                     
		                   	<tr>
		                        <td class="sizeTD2">Mogador 2</td>
		                        <td class="sizeTD2">{{ data['realisation_mog2'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_mog2'] }} k€</td>
		                        {% set pourcentage_mog2 = (data['realisation_mog2']/data['objectif_mog2'] * 100)|round(0) %}
		 						{% if pourcentage_mog2 < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_mog2 < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_mog2 }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_mog2 }}%
		                            </div>
		                        </td>
		                    </tr>                   
		                    <tr>
		                        <td class="sizeTD2">Europe 1</td>
		                        <td class="sizeTD2">{{ data['realisation_eur1'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_eur1'] }} k€</td>
		                        {% set pourcentage_eur1 = (data['realisation_eur1']/data['objectif_eur1'] * 100)|round(0) %}
		 						{% if pourcentage_eur1 < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_eur1 < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_eur1 }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_eur1 }}%
		                            </div>
		                        </td>
		                    </tr>
		                    <tr>
		                        <td class="sizeTD2">Europe 2</td>
		                        <td class="sizeTD2">{{ data['realisation_eur2'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_eur2'] }} k€</td>
		                        {% set pourcentage_eur2 = (data['realisation_eur2']/data['objectif_eur2'] * 100)|round(0) %}
		 						{% if pourcentage_eur2 < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_eur2 < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_eur2 }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_eur2 }}%
		                            </div>
		                        </td>
		                    </tr>
		                    <tr>
		                        <td class="sizeTD2">Europe 3</td>
		                        <td class="sizeTD2">{{ data['realisation_eur3'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_eur3'] }} k€</td>
		                        {% set pourcentage_eur3 = (data['realisation_eur3']/data['objectif_eur3'] * 100)|round(0) %}
		 						{% if pourcentage_eur3 < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_eur3 < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_eur3 }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_eur3 }}%
		                            </div>
		                        </td>
		                    </tr>
		                    <tr>
		                        <td class="sizeTD2">Europe 4</td>
		                        <td class="sizeTD2">{{ data['realisation_eur4'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_eur4'] }} k€</td>
		                        {% set pourcentage_eur4 = (data['realisation_eur4']/data['objectif_eur4'] * 100)|round(0) %}
		 						{% if pourcentage_eur4 < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_eur4 < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_eur4 }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_eur4 }}%
		                            </div>
		                        </td>
		                    </tr>
		                    <tr>
		                        <td class="sizeTD2">Europe 5</td>
		                        <td class="sizeTD2">{{ data['realisation_eur5'] }} k€</td>
		                        <td class="sizeTD2">{{ data['objectif_eur5'] }} k€</td>
		                        {% set pourcentage_eur5 = (data['realisation_eur5']/data['objectif_eur5'] * 100)|round(0) %}
		 						{% if pourcentage_eur5 < 80 %}
		                           	{% set type_bar_global  = 'progress-bar-danger' %}
		                            {% set type_label_global  = 'bg-red' %}
								{% elseif pourcentage_eur5 < 100 %}
		                           	{% set type_bar_global  = 'progress-bar-warning' %}
		                            {% set type_label_global  = 'bg-yellow' %}
								{% else %}
		                           	{% set type_bar_global  = 'progress-bar-success' %}
		                            {% set type_label_global  = 'bg-green' %}
		                        {% endif %}
		                        <td class="sizeTD2">
		                        		<div class="progress">
		                                	<div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_eur5 }}%"></div>
		                            	</div>
		                        </td>
		                        <td class="sizeTD2">
		                         	<div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
		                           		{{ pourcentage_eur5 }}%
		                            </div>
		                        </td>
		                    </tr>
		            </table>
	        	</div>
	    	</div>
		</div>
	</div>
</div>
{% endblock %}