<div class="col-md-3">
   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}"/>
</div>
<div class="col-md-8">
   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}"/>
</div>

<div class="col-md-12"></div>
<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Compte Clés</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                       	<th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{ data['realisation_gc']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_gc']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_compte_cle = (data['realisation_gc']/data['objectif_gc'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_compte_cle < 33 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_compte_cle < 66 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_compte_cle }}%
                            </div>
                        </td>
                        <td class="sizeTD4">{{ data['dossier_GC'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_GC'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_compte_cle }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Textile</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                        <th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{ data['realisation_textile']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_textile']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_marketing = (data['realisation_textile']/data['objectif_textile'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_marketing < 80 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_marketing < 100 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_marketing }}%
                            </div>
                        </td>
                        <td class="sizeTD4">{{ data['dossier_textile'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_textile'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_marketing }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Mogador 1</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                       	<th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{ data['realisation_mog1']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_mog1']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_france = (data['realisation_mog1']/data['objectif_mog1'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_france < 80 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_france < 100 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_france }}%
                            </div>
                        </td>
                        <td class="sizeTD4">{{ data['dossier_mog1'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_mog1'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_france }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Mogador 2</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                       	<th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{ data['realisation_mog2']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_mog2']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_france = (data['realisation_mog2']/data['objectif_mog2'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_france < 80 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_france < 100 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_france }}%
                            </div>
                        </td>
                        <td class="sizeTD4">{{ data['dossier_mog2'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_mog2'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_france }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-6">
	<table class="table"><tr>
		<td class="sizeNomEquipe">Equipe Sédentaire Belgique</td>
	</tr></table>
	<div class="box box-primary">
		<div class="box-header with-border text-center">
		</div>
        <div class="box-body  text-center">
            <table class="table table-bordered text-center">
                <tbody>
                    <tr>
                        <th class="sizeTH" >Réalisé</th>
                        <th class="sizeTH">Objectif</th>
                        <th style="width:10%"></th>
                       	<th class="sizeTH">Dossiers déposés</th>
                        <th class="sizeTH">Objectif</th>
                    </tr>
                    <tr>
                        <td class="sizeTD4">{{ data['realisation_bel']|number_format(0,',', ' ') }} k€</td>
                        <td class="sizeTD4"> {{ data['objectif_bel']|number_format(0,',', ' ') }} k€</td>
                        {% set pourcentage_belgique = (data['realisation_bel']/data['objectif_bel'] * 100)|round(0) %}
                        <td class="sizeTD4">
							{% if pourcentage_belgique < 80 %}
                            	{% set type_bar_global  = 'progress-bar-danger' %}
                                {% set type_label_global  = 'bg-red' %}
							{% elseif pourcentage_belgique < 100 %}
                            	{% set type_bar_global  = 'progress-bar-warning' %}
                                {% set type_label_global  = 'bg-yellow' %}
							{% else %}
                            	{% set type_bar_global  = 'progress-bar-success' %}
                                {% set type_label_global  = 'bg-green' %}
                            {% endif %}
                            <div class="{{type_label_global}}" style="font-weight:bold; padding: 0.2em; border-radius: 0.25em;">
                           		{{ pourcentage_belgique }}%
                            </div>
                        </td>
                        <td class="sizeTD4">{{ data['dossier_BEL'] }}</td>
                        <td class="sizeTD4">{{ data['obj_dossier_BEL'] }}</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="sizeTD4">
                        	<div class="progress">
                                <div class="progress-bar {{type_bar_global}}" style="width: {{ pourcentage_belgique }}%"></div>
                            </div>
                        </td>                   
                </tbody>
            </table>
        </div>
    </div>
</div>