{% extends 'IndicateursDAMBundle:TvDam:layout.html.twig' %}

{% block nextpage %}
	{{ path(route) }}
{% endblock %}

{% block content %}
<div class="row" >
	<div class="col-md-2">
	   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}" class="img-responsive"/>
	</div>
	<div class="col-md-8">
	   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}"  class="img-responsive"/>
	</div>
	<div class="col-md-2">
	   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}" class="img-responsive"/>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-7 contenu"  align="center">
	   	<p>Une erreur est survenue ou le site est en maintenance.<p>
	   	<p>Si le problême persiste, contactez le Pôle Web.<p>
	</div>
</div>
{% endblock %}