{% extends 'IndicateursDAMBundle:TvDam:layout.html.twig' %}

{% block nextpage %}
	{{ path('affichage_tv_diapo_chiffre_terrain') }}
{% endblock %}

{% block content %}
<div class="col-md-2">
   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}" class="img-responsive"/>
</div>
<div class="col-md-8">
   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}" class="img-responsive"/>
</div>
{{ include ("IndicateursDAMBundle:TvDam:vignette.html.twig") }}

<div class="contenu" >
<div class="col-md-12"></div>

<div class="col-md-1"></div>
<div class="col-md-10">
	<table class="table"><tr>
		<td class="sizeDate">Semaine n°{{ "now"|date("W") }}</td>
		<td class="sizeDate" align="right">{{ "now"|date("m/d/Y h:i", 'Europe/Paris') }}</td>
	</tr></table>
</div>
<divclass="col-md-1"></div>

<div class="col-md-12"></div>

<div class="col-md-1"></div>
<!--CHIFFRES DAM -->
<div  id="containerHistogramme" class="col-md-10">

 <script type="text/javascript">

$(function () {

        // Build the chart
        var chart = new Highcharts.Chart({
            chart: {
                plotShadow: false,
                type: 'column',
                renderTo: 'containerHistogramme',
                height:500,
        		marginTop: 20,
        		backgroundColor: '#ecf0f5',
	            },
            credits: {
            	enabled: false
        	},
            title: {
                text: ''
            },
            legend: {
            	enabled: false
            },
            xAxis: {
            	categories: [
            	    'Sédentaire',
            	    'Terrain',
            	],
            	labels: {
                	style: {
                	    fontSize: '30px',
                	    color: 'black',
                	}
            	},
            	crosshair: true
        	},
	         yAxis: {
	            min: 0,
	            max:100,
	            title: {
	                text: ''
	            },
	            labels: {
                	style: {
                	    fontSize: '30px',
                	    color: 'black',
                	}
            	},
	        },       	
	        series: [{
	            colorByPoint: true,
	            data: [{
	                name: 'Sédentaire',
	                y: {{(data['realisation_sedentaire']/data['objectif_sedentaire'] * 100)|round(0)}}
	            }, {
	                name: 'Terrain',
	                y: {{(data['realisation_terrain']/data['objectif_terrain'] * 100)|round(0)}},
	                color: '#CFA0E9'
	            }]
	        }]
        });
});
</script>
            
<div class="col-md-1"></div>

</div>
{% endblock %}


            