{% extends 'IndicateursDAMBundle:TvDam:layout.html.twig' %}

{% block nextpage %}
	{{ path('affichage_tv_diapo_chiffre_sedentaire') }}
{% endblock %}

{% block content %}
<div class="col-md-2">
   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}" class="img-responsive"/>
</div>
<div class="col-md-8">
   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}" class="img-responsive"/>
</div>
{{ include ("IndicateursDAMBundle:TvDam:vignette.html.twig") }}

<div class="contenu">

<div class="col-md-12"></div>

<div class="col-md-7"><p class="sizeDate">Semaine n°{{ "now"|date("W") }}</p></div>
<div class="col-md-5" align="right"><p class="sizeDate">{{ "now"|date("d/m/Y H:i", 'Europe/Paris') }}</p></div>

<div class="col-md-12" align="center"><p class="sizeDate">V.V.H.T. des équipes Terrain (en %)</p></div>

<!--CHIFFRES DAM -->
<div  id="containerHistogrammeTerrainPour" class="col-md-12">

 <script type="text/javascript">

$(function () {

        // Build the chart
        var chart = new Highcharts.Chart({
            chart: {
                plotShadow: false,
                type: 'column',
                renderTo: 'containerHistogrammeTerrainPour',
                height:192,
        		marginTop: 17,
        		backgroundColor: '#ecf0f5',
	            },
            credits: {
            	enabled: false
        	},
            title: {
                text: ''
            },
            legend: {
            	enabled: false
            },
            xAxis: {
            	categories: [
            	    'Royaume-Uni',
            	    'Allemagne',
            	    'Espagne',
            	    'Italie',
            	    'France Ouest',
            	    'France Est',
            	    'France Sud'
            	],
            	labels: {
                	style: {
                	    fontSize: '20px',
                	    color: 'black',
                	}
            	},
            	crosshair: true
        	},
	         yAxis: {
	            min: 0,
	            max:100,
	            title: {
	                 text: ''
	            },
	            labels: {
                	style: {
                	    fontSize: '30px',
                	    color: 'black',
                	}
            	},
	        },       	
	        series: [{
	            colorByPoint: true,
	            data: [{
	                y: {{(data['realisation_UK']/data['objectif_UK'] * 100)|round(0)}}
	            }, {
	                y: {{(data['realisation_ALL']/data['objectif_ALL'] * 100)|round(0)}},
	                color: '#CFA0E9'
	            }, {
	                y: {{(data['realisation_esp']/data['objectif_esp'] * 100)|round(0)}},
	                color: '#90ed7d'
	            }, {
	                y: {{(data['realisation_ita']/data['objectif_ita'] * 100)|round(0)}},
	                color: '#f7a35c'
	            }, {
	                y: {{(data['realisation_fro']/data['objectif_fro'] * 100)|round(0)}},
					color: '#8085e9' 
	            }, {
	                y: {{(data['realisation_fre']/data['objectif_fre'] * 100)|round(0)}},
					color: '#f15c80'
	            }, {
	                y: {{(data['realisation_frs']/data['objectif_frs'] * 100)|round(0)}},
					color: '#e4d354'
	            }]
	        }]
        });
});
</script>

<divclass="col-md-1"></div>

<div class="col-md-12" align="center"><p class="sizeDate">V.V.H.T. des équipes Terrain (en k€)</p></div>

<div class="col-md-1"></div>

<div  id="containerHistogrammeTerrainReel" class="col-md-12">

 <script type="text/javascript">

$(function () {

        // Build the chart
        var chart = new Highcharts.Chart({
            chart: {
                plotShadow: false,
                type: 'column',
                renderTo: 'containerHistogrammeTerrainReel',
                height:192,
        		marginTop: 17,
        		backgroundColor: '#ecf0f5',
	            },
            credits: {
            	enabled: false
        	},
            title: {
                text: ''
            },
            legend: {
            	enabled: false
            },
            xAxis: {
            	categories: [
            	    'Royaume-Uni',
            	    'Allemagne',
            	    'Espagne',
            	    'Italie',
            	    'France Ouest',
            	    'France Est',
            	    'France Sud'
            	],
            	labels: {
                	style: {
                	    fontSize: '20px',
                	    color: 'black',
                	}
            	},
            	crosshair: true
        	},
	         yAxis: {
	            min: 0,
	            title: {
	                text: ''
	            },
	            labels: {
                	style: {
                	    fontSize: '30px',
                	    color: 'black',
                	}
            	},
	        },       	
	        series: [{
	            colorByPoint: true,
	            data: [{
	                y: {{data['realisation_UK']}}
	            }, {
	                y: {{data['realisation_ALL']}},
	                color: '#CFA0E9'
	            }, {
	                y: {{data['realisation_esp']}},
	                color: '#90ed7d'
	            }, {
	                y: {{data['realisation_ita']}},
	                color: '#f7a35c'
	            }, {
	                y: {{data['realisation_fro']}},
					color: '#8085e9' 
	            }, {
	                y: {{data['realisation_fre']}},
					color: '#f15c80'
	            }, {
	                y: {{data['realisation_frs']}},
					color: '#e4d354'
	            }]
	        }]
        });
});
</script>
            
<div class="col-md-1"></div>

</div>
{% endblock %}