{% extends 'IndicateursDAMBundle:TvDam:layout.html.twig' %}

{% block nextpage %}
	{{ path('affichage_tv_diapo_drh') }}
{% endblock %}

{% block content %}
<div class="col-md-2">
   	<img src="{{ asset('bundles/indicateursdam/logo/LOGO_NOZ_INFOS_SEUL_v2.png')}}" class="img-responsive"/>
</div>
<div class="col-md-8">
   	<img src="{{ asset('bundles/indicateursdam/logo/TITRE_CHIFFRES_SEUL_v2.png')}}" class="img-responsive"/>
</div>
{{ include ("IndicateursDAMBundle:TvDam:vignette.html.twig") }}

<div class="contenu">

<div class="col-md-12"></div>

<div class="col-md-6"><p class="sizeDate">Semaine n°{{ "now"|date("W") }}</p></div>
<div class="col-md-6" align="right"><p class="sizeDate">{{ "now"|date("d/m/Y H:i", 'Europe/Paris') }}</p></div>

<div class="col-md-12" align="center"><p class="sizeDate">V.V.H.T. des équipes Sédentaires (en %)</p></div>

<!--CHIFFRES DAM -->
<div  id="containerHistogrammeSedentaire" class="col-md-12">

 <script type="text/javascript">

$(function () {

        // Build the chart
        var chart = new Highcharts.Chart({
            chart: {
                plotShadow: false,
                type: 'column',
                renderTo: 'containerHistogrammeSedentaire',
                height:192,
        		marginTop: 20,
        		backgroundColor: '#ecf0f5',
	            },
            credits: {
            	enabled: false
        	},
            title: {
                text: ''
            },
            legend: {
            	enabled: false
            },
            xAxis: {
            	categories: [
            	    'Textile',
            	    'Grands Comptes',
            	    'Belgique',
            	    'Mogador 1',
            	    'Mogador 2',
            	    'Europe 1',
            	    'Europe 2',
             	    'Europe 3',
             	    'Europe 4',
             	    'Europe 5',
            	],
            	labels: {
                	style: {
                	    fontSize: '20px',
                	    color: 'black',
                	}
            	},
            	crosshair: true
        	},
	         yAxis: {
	            min: 0,
	            max:100,
	            title: {
	                text: ''
	            },
	            labels: {
                	style: {
                	    fontSize: '30px',
                	    color: 'black',
                	}
            	},
	        },       	
	        series: [{
	            colorByPoint: true,
	            data: [{
	                y: {{(data['realisation_textile']/data['objectif_textile'] * 100)|round(0)}}
	            }, {
	                y: {{(data['realisation_gc']/data['objectif_gc'] * 100)|round(0)}},
	                color: '#CFA0E9'
	            }, {
	                y: {{(data['realisation_bel']/data['objectif_bel'] * 100)|round(0)}},
	                color: '#90ed7d'
	            }, {
	                y: {{(data['realisation_mog1']/data['objectif_mog1'] * 100)|round(0)}},
	                color: '#f7a35c'
	            }, {
		            y: {{(data['realisation_mog2']/data['objectif_mog2'] * 100)|round(0)}},
					color: '#8085e9' 
	            }, {            
	                y: {{(data['realisation_eur1']/data['objectif_eur1'] * 100)|round(0)}},
					color: '#f15c80'                
	            }, {
	                y: {{(data['realisation_eur2']/data['objectif_eur2'] * 100)|round(0)}},
					color: '#e4d354'
	            }, {
	                y: {{(data['realisation_eur3']/data['objectif_eur3'] * 100)|round(0)}},
					color: '#2b908f'
	            }, {
	                y: {{(data['realisation_eur4']/data['objectif_eur4'] * 100)|round(0)}},
					color: '#f45b5b'
	            }, {
	                y: {{(data['realisation_eur5']/data['objectif_eur5'] * 100)|round(0)}},
					color: '#91e8e1'
	            }]
	        }]
        });
});
</script>

<divclass="col-md-1"></div>

<div class="col-md-12" align="center"><p class="sizeDate">V.V.H.T. des équipes Sédentaires (en k€)</p></div>

<div class="col-md-1"></div>

<div  id="containerHistogrammeSedentaireReel" class="col-md-12">

 <script type="text/javascript">

$(function () {

        // Build the chart
        var chart = new Highcharts.Chart({
            chart: {
                plotShadow: false,
                type: 'column',
                renderTo: 'containerHistogrammeSedentaireReel',
                height:192,
        		marginTop: 20,
        		backgroundColor: '#ecf0f5',
	            },
            credits: {
            	enabled: false
        	},
            title: {
                text: ''
            },
            legend: {
            	enabled: false
            },
            xAxis: {
            	categories: [
            	    'Textile',
            	    'Grands Comptes',
            	    'Belgique',
            	    'Mogador 1',
            	    'Mogador 2',
            	    'Europe 1',
            	    'Europe 2',
             	    'Europe 3',
             	    'Europe 4',
             	    'Europe 5',
            	],
            	labels: {
                	style: {
                	    fontSize: '20px',
                	    color: 'black',
                	}
            	},
            	crosshair: true
        	},
	         yAxis: {
	            min: 0,
	            title: {
	                text: ''
	            },
	            labels: {
                	style: {
                	    fontSize: '30px',
                	    color: 'black',
                	}
            	},
	        },       	
	        series: [{
	            colorByPoint: true,
	            data: [{
	                y: {{data['realisation_textile']}}
	            }, {
	                y: {{data['realisation_gc']}},
	                color: '#CFA0E9'
	            }, {
	                y: {{data['realisation_bel']}},
	                color: '#90ed7d'
	            }, { 
	                y: {{data['realisation_mog1']}},
	                color: '#f7a35c'
	            }, {
		            y: {{data['realisation_mog2']}},
					color: '#8085e9' 
	            }, { 
	                y: {{data['realisation_eur1']}},
					color: '#f15c80'
	            }, {
	                y: {{data['realisation_eur2']}},
					color: '#e4d354'
	            }, {
	                y: {{data['realisation_eur3']}},
					color: '#2b908f'
	            }, {
	                y: {{data['realisation_eur4']}},
					color: '#f45b5b'
	            }, {
	                y: {{data['realisation_eur5']}},
					color: '#91e8e1'
	            }]
	        }]
        });
});
</script>
            
<div class="col-md-1"></div>
</div>
{% endblock %}            