<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
		<meta http-equiv="X-UA-Compatible" content="IE=9">
		<meta http-equiv="Refresh" content="48;url={{ path('affichage_tv') }}">	
        <title>Indicateurs DAM</title>
        {{ include('IndicateursDAMBundle:layout:header.html.twig') }}
        <link rel="shortcut icon" href="" />
                {% block javascripts %}
            {% javascripts 
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}  
            <script type="text/javascript" src="{{ asset('all/jquery-ui-1.11.1/external/jquery/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('all/jquery-ui-1.11.1/jquery-ui.js') }}"></script>
        {% endblock %}
    </head>
    <body class="skin-purple  sidebar-collapse">
        <div class="wrapper">
            <div class="content-wrapper">
                {#MESSAGES#}
                {{ include('IndicateursDAMBundle:layout:messages.html.twig') }}

				<style>
					.carousel-page
					{
						width:100%;
						height:100%;
					}
				</style>
				{% stylesheets '@IndicateursDAMBundle/Resources/public/css/styleTV.css' %}
					<link rel="stylesheet" href="{{ asset_url }}" />
				{% endstylesheets %}
				<div id="my_carousel" class="carousel slide" data-ride="carousel" data-pause="false">
					<!-- Bulles -->
					<!-- Slides -->
					<div class="carousel-inner">
						<!-- Pages -->
						<div class="item active">
							<div class="carousel-page">
								{%set numero_de_page ='1' %}
								{{ include ("IndicateursDAMBundle:TvDam:achats.html.twig") }}
							</div>
						</div>
		 				<div class="item">
							<div class="carousel-page">
								{%set numero_de_page ='2' %}
								{{ include ("IndicateursDAMBundle:TvDam:challenge.html.twig") }}
							</div>
						</div>
						<div class="item">
 							<div class="carousel-page">
								{%set numero_de_page ='3' %}
 								{{ include ("IndicateursDAMBundle:TvDam:pie.html.twig") }}
							</div>
						</div>
						<div class="item">
							<div class="carousel-page">
								{%set numero_de_page ='4' %}
								{{ include ("IndicateursDAMBundle:TvDam:histogramme.html.twig") }}
							</div>
						</div>
						<div class="item">
							<div class="carousel-page">
								{%set numero_de_page ='5' %}
								{{ include ("IndicateursDAMBundle:TvDam:chiffres_terrain.html.twig") }}
							</div>
						</div>
						<div class="item">
							<div class="carousel-page">
								{%set numero_de_page ='6' %}
								{{ include ("IndicateursDAMBundle:TvDam:histogramme_terrain.html.twig") }}
							</div>
						</div>
						<div class="item">
							<div class="carousel-page">
								{%set numero_de_page ='7' %}
								{{ include ("IndicateursDAMBundle:TvDam:chiffres_sedentaire.html.twig") }}
							</div>
						</div>	
						<div class="item">
							<div class="carousel-page">
								{%set numero_de_page ='8' %}							
								{{ include ("IndicateursDAMBundle:TvDam:histogramme_sedentaire.html.twig") }}
							</div>
						</div>
						<div class="item">
							<div class="carousel-page">
								{%set numero_de_page ='9' %}							
								{{ include ("IndicateursDAMBundle:TvDam:drh.html.twig") }}
							</div>
						</div>
						<div class="item"> 
							<div class="carousel-page">
								{%set numero_de_page ='10' %}							
								{{ include ("IndicateursDAMBundle:TvDam:siege.html.twig") }}
							</div>
						</div> 
					</div>
				</div> 
			</div>
        </div>
        {#SCRIPTS#}
        {{ include('IndicateursDAMBundle:layout:scripts.html.twig') }}
    </div><!-- ./wrapper -->
</body>
</html>
