  <script type="text/javascript"src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
  <script type="text/javascript" src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>

<div id="containerPie" style="background-color:#ecf0f5" class="col-md-2"></div>


 <script type="text/javascript">

$(function () {
        // Build the chart
        var chart = new Highcharts.Chart({
            chart: {
                plotShadow: false,
                type: 'pie',
                renderTo: 'containerPie',
                height:180,
        		marginTop: 0,
        		backgroundColor: '#ecf0f5'
            },
           credits: {
            	enabled: false
        	},
            title: {
                text: ''
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: false,
                    },
                    showInLegend: true
                }
            },
	        series: [{
	            name: 'Brands',
	            colorByPoint: true,
	            data: [{
	                name: 'Réalisé',
	                color: '#26861B',
	                y: {{data.realisation_DAM}}
	            }, {
	                name: 'Reste à faire',
	                color: '#D3201D',
	                y: {{data.objectif_dam}}
	            }]
	        }]
        });
});
</script>