<div class="wrapper ">
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token is defined %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />  
        {% endif %}
        <h2 class="form-signin-heading">Se connecter</h2>
        <input type="text" class="form-control" name="_username" placeholder="Identifiant windows" required="" autofocus="" {% if last_username is defined %}value="{{ last_username }}"{% endif %}/><br/>
        <input type="password" class="form-control" name="_password" placeholder="Mot de passe" required=""/>      
        <label class="checkbox">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" > Se souvenir de moi
        </label>
        <button class="btn btn-lg btn-success btn-block" type="submit">Connexion</button>   
    </form>
</div>

<!--
    <div class="form-group">   
        <label for="username" class="col-sm-1 control-label">Identifiant</label>
        <div class="col-sm-2">
            <input type="text" id="username" name="_username" value="{# last_username #}" class="form-control" />
        </div>
    </div>
    <div class="form-group">   
        <label for="password" class="col-sm-2 control-label">Mot de passe</label>
        <div class="col-sm-2">
            <input type="password" id="password" name="_password" class="form-control" />
        </div>
    </div>

  <!--<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token is defined %}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />  
    {% endif %}
    
 <div class="input-group">
  <span class="input-group-addon glyphicon glyphicon-user"></span>
  <input type="text" id="username" name="_username" class="form-control" placeholder="Identifiant windows" />
</div>
<div class="input-group">
  <span class="input-group-addon glyphicon glyphicon-lock"></span>
  <input type="password" id="password" name="_password" class="form-control" placeholder="Mot de passe">
</div>
  <input class="form-control input-sm" style="height:25px;width:120px;display:inline;" type="text" />
    <input class="form-control input-sm" style="height:25px;width:120px;display:inline;"  type="password" id="password" name="_password" />
    <br/>
    <!--<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">Se rappeler de moi</label>
 
    <input type="submit" id="_submit" name="_submit" class="btn btn-success navbar-btn" value="Se connecter" style="padding:2px;"/>
</form>

-->