{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
    Modifications {{ parent() }}
{% endblock %}

{% block suivietudes_body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-bullhorn"></i>
                    <h3 class="box-title">Modifications</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4>Changé le thème</h4>
                        <p>Mis en place un nouveau thème pour une meilleure expérience.</p>
                    </div>
                    <div class="callout callout-success">
                        <h4>Se souvenir de moi fonctionnalité</h4>
                        <p>Un utilisateur se souviendra pendant une semaine après un login.</p>
                    </div>
                    <div class="callout callout-success">
                        <h4>Demande</h4>
                        <p>Ajouter la posibilité lors de la création d'une Demande d'ajouter de multiples applications.</p>
                        <p>Ajout de la possibilité d'imprimer une Demande.</p>
                        <p>Ajout de la possibilité de sauvegarder en PDF.</p>
                        <p>Suprimmer devis et piece de jointe.</p>
                        <p>Ajout de deux nouveaux statuts: Stand by et Pris en compte.</p>
                        <p>Lors de l'ajout d'un nouveau technicien sur le demande cette personne peut être un chef de projet ou un technicien, pas les deux.</p>
                    </div>
                    <div class="callout callout-success">
                        <h4>Désactiver un utilisateur</h4>
                        <p>Restreindre l'accès de l'utilisateur à l'application.</p>
                    </div>
                    <div class="callout callout-success">
                        <h4>Nouveau menu d'administration</h4>
                        <p>Capacité de travail.</p>
                        <p>Charge de travail.</p>
                        <p>Taux horaire.</p>
                    </div>
                    <div class="callout callout-success">
                        <h4>Nouvel onglet de planification</h4>
                        <p>Ajouter / supprimer une personne qui travaille sur un demande.</p>
                        <p>Ajouter prévision et réalise charge en heures  pour chaque personne qui travaille dans ce demande.</p>
                        <p>Voir bilan détaillé.</p>
                        <p>Nouveaux graphiques: projet charge, ecart/cumul en euro (pour chaque personne).</p>
                    </div>
                    <div class="callout callout-success">
                        <h4>Nouveau menu</h4>
                        <p>Nouveau stand by menu (pour Gilles Danjou).</p>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}