			<!DOCTYPE html>
			<html lang="en">
			  <head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
				<meta name="description" content="">
				<meta name="author" content="">
				<link rel="icon" href="../../favicon.ico">
                                <link rel="stylesheet" type="text/css" href="{{ asset('js/jquery-ui-1.11.1/jquery-ui.css') }}">
				<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
                                <link href="{{ asset('bundles/ddrc/css/chosen.bootstrap.min.css') }}" rel="stylesheet">
                                <!-- Bootstrap core CSS -->
                                <title>{% block title %}Welcome!{% endblock %}</title>
				{% block stylesheets %}{% endblock %}	
                                 <!-- Bootstrap core JavaScript
				================================================== -->
				<script src="{{ asset('jquery/jquery-1.10.2.min.js') }}"></script>
                                <script src="{{ asset('js/jquery-ui-1.11.1/jquery-ui.min.js') }}"></script>
				<script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
                                <script src="{{asset("bundles/ddrc/js/jquery.form.js") }}"></script> 
                                <script src="{{asset("bundles/ddrc/js/jquery.html5-placeholder-shim.js") }}"></script>
                                <script src="{{asset("bundles/ddrc/js/chosen.jquery.min.js") }}"></script>
                               

			  </head>
			  <body>
			  
		            <div class="container" id='main_container'>
                                <div class="row">
                                    <div class="col-sm-3"><br></div>
                                    <br><br>
                                    <div class="col-sm-7">
                                        
                                                {% block body %}{% endblock %}
                                            
                                    </div>
                                    <div class="col-sm-3">

                                         <div class="panel panel-default">
                                              <div class="panel-heading">
                                                <h4 class="panel-title">
                                                  <a data-toggle="collapse" href="#collapse1"><h4>Notice</h4></a>
                                                </h4>
                                              </div>
                                              <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <h4>Informations :</h4>
                                                    <ul>
                                                        <li>Tous les champs doivent être renseignés .</li>
                                                    </ul>

                                                    <h4> Pièces jointes :</h4>
                                                    <ul>
                                                        <li>L'envoi de la demande ne peut s'effectuer que si les pièces jointes sont ajoutées.</li>
                                                        <li>Les fichiers doivent être des images, des pdf ou des documents word.</li>
                                                        <li>Les fichiers ne doivent pas éxéder 3Mo.</li>
                                                    </ul>

                                                </div>
                                              </div>
                                         </div>
                                    </div>
                                </div>
			    </div> <!-- /container -->

                                {% block javascripts %}{% endblock %}

			  </body>
			</html>