{% extends 'HotelBookingBundle:layout:base.html.twig' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block body %}
	{{ parent() }}
	{% for flashMessage in app.session.flashbag.get('hotelBookingSuccess') %}
		<div role="alert" class="alert alert-success alert-dismissable disabled">
			<button data-dismiss="alert" class="close" type="button">×</button>
			<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
			<p style="display:inline-block;">{{ flashMessage }}</p>
		</div>
	{% endfor %}
	<div class="row">
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
			{{ form_errors(form) }}
		<div class="col-sm-8">
			<div class="table-div-80">
				<table class="table table-striped table-hover reservation">
					<tr class="info">
						<td>
							{{ form_label(form.civilite) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.civilite) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.civilite) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.civilite) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.nom) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.nom) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.nom) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>
							{{ form_widget(form.nom) }}
						</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.prenom) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.prenom) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.prenom) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.prenom) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.adresseMail) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.adresseMail) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.adresseMail) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.adresseMail) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.telephone) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.telephone) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.telephone) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.telephone) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.direction) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.direction) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.direction) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.direction) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.service) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.service) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.service) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.service) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.nomDuResponsible) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.nomDuResponsible) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.nomDuResponsible) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.nomDuResponsible) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.autreSociete) }}

							{% if form_errors(form.autreSociete) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.autreSociete) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.autreSociete) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.dateArrivee) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.dateArrivee) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.dateArrivee) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>
							{{ form_widget(form.dateArrivee, {'attr': {'class': 'date', 'data-toggle': "tooltip", 'title': "date de la première nuit"}}) }}
						</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.dateDepart) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>

							{% if form_errors(form.dateDepart) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.dateDepart) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.dateDepart, {'attr': {'class': 'date',  'data-toggle': "tooltip", 'title': "date à laquelle vous comptez quitter l’hôtel"}}) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.nombreDeNuits) }}
							{% if form_errors(form.nombreDeNuits) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.nombreDeNuits) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.nombreDeNuits) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.heureArrivee) }} <span class="required" title="Ce champ est obligatoire"><span class="text-danger lead">*</span></span>
							
							{% if form_errors(form.heureArrivee) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.heureArrivee) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.heureArrivee) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.transportGareHotel) }}

							{% if form_errors(form.transportGareHotel) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.transportGareHotel) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.transportGareHotel,{'attr':{'cols':'80', 'rows':3} }) }}</td>
					</tr>
					<tr class="info">
						<td>
							{{ form_label(form.commentaire) }}

							{% if form_errors(form.commentaire) | length %}
								<div class="alert alert-dismissible alert-danger">
									<button type="button" class="close" data-dismiss="alert">×</button>
									<strong>{{ form_errors(form.commentaire) }}</strong>
								</div>
							{% endif %}
						</td>
						<td>{{ form_widget(form.commentaire) }}</td>
					</tr>
					<tr class="info reservationNuits">
						<td>
							<label for="dinner">Nuit no. 1 - Dîner</label>
							<br/>
							<input type="radio" name="dinner_0" value="1" id="dinner_0_oui"/>
							<label for="dinner_0_oui">Oui</label>
							&nbsp;
							<input type="radio" name="dinner_0" value="0" id="dinner_0_non"/>
							<label for="dinner_0_non">Non</label>
						</td>
						<td>
							<span class="remarquePratic" hidden>
								<label for="commentaire">Remarque particulière : </label>
								<textarea name="commentaire_0" rows="2" cols="50"></textarea>
							</span>
						</td>
					</tr>
				</table>
				{% for flashMessage in app.session.flashbag.get('reservationNights') %}
					<div role="alert" class="alert alert-error alert-dismissable disabled">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
						<p style="display:inline-block;">{{ flashMessage }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-3" style="position:fixed;right:0;">
			<div class="panel panel-info">
				<div class="panel-heading">
				  <h3 class="panel-title">Infos tarifs :</h3>
				</div>
				<div class="panel-body">
					<p class="text-info">
						- Chambre seule : 60€
					</p>
					<p class="text-info">
						- Simple : chambre + petit déjeuner : 65€
					</p>
					<p class="text-info">
						- Soirée étape : chambre + petit déjeuner + dîner : 75€
					</p>
				</div>
			</div>

			<div class="panel panel-danger">
				<div class="panel-heading">
				  <h3 class="panel-title">Total :</h3>
				</div>
				<div id="laValoire" class="panel-body">
				<p class="text-danger">
					Total :
				</p>
				</div>
			</div>

			{{ form_widget(form.save) }}

		</div>

		{{ form_end(form, {'render_rest' : false}) }}

	</div>
	<script>
		var url_update_service = {{ path('hotel_default_update_service')|json_encode|raw }};
		$(function(){
			$(document).delegate('.reservationNuits :radio', "click", function(){
				if(parseInt($(this).val()) === 1){
					$(this).closest('tr').find('.remarquePratic').show();
				}else{
					$(this).closest('tr').find('.remarquePratic').hide();
				}
				numeroDeJours = dateDifference();
				calculatePrix(numeroDeJours);
			});
		});
		var tempNights = {{tempNights|json_encode|raw}};


		function actualiserDinerNuits(){
			var nrResults = tempNights.length;
			if(nrResults > 0){
				var line = $('.reservationNuits')[0].outerHTML;
				var nuits = $('.reservationNuits').length;
				var pattern = /_0/ig;
				var pattern2 = /no. 1/ig;
				for(var z=0;z<nuits;z++){
					$(".reservation tr:last").remove();
				}
				for(var i=0;i<nrResults;i++){
					var replacement = line.replace(pattern, "_"+i).replace(pattern2, "no. "+(i+1));

					if(tempNights[i]['dinner'] === '1'){
						var replacement = '<tr class="info reservationNuits">'
							+'<td>'
								+'<label for="dinner">Nuit no. '+(i+1)+' - Dîner</label>'
								+'<br>'
								+'<input name="dinner_'+i+'" value="1" id="dinner_'+i+'_oui" checked="checked" type="radio">'
								+'<label for="dinner_'+i+'_oui">Oui</label>'
								+'&nbsp;'
								+'<input name="dinner_'+i+'" value="0" id="dinner_'+i+'_non" type="radio">'
								+'<label for="dinner_'+i+'_non">Non</label>'
							+'</td>'
							+'<td>'
								+'<span class="remarquePratic" hidden="" style="display: inline;">'
									+'<label for="commentaire">Remarque particulière : </label>'
									+'<textarea name="commentaire_'+i+'" rows="2" cols="50">'+tempNights[i]['commentaire']+'</textarea>'
								+'</span>'
							+'</td>'
						+'</tr>';
					}else if (tempNights[i]['dinner'] === '0'){
						var replacement = '<tr class="info reservationNuits">'
							+'<td>'
								+'<label for="dinner">Nuit no. '+(i+1)+' - Dîner</label>'
								+'<br>'
								+'<input name="dinner_'+i+'" value="1" id="dinner_'+i+'_oui" type="radio">'
								+'<label for="dinner_'+i+'_oui">Oui</label>'
								+'&nbsp;'
								+'<input name="dinner_'+i+'" value="0" id="dinner_'+i+'_non" checked="checked" type="radio">'
								+'<label for="dinner_'+i+'_non">Non</label>'
							+'</td>'
							+'<td>'
								+'<span class="remarquePratic" hidden="" style="display: inline;">'
									+'<label for="commentaire">Remarque particulière : </label>'
									+'<textarea name="commentaire_'+i+'" rows="2" cols="50">'+tempNights[i]['commentaire']+'</textarea>'
								+'</span>'
							+'</td>'
						+'</tr>';
					}


					$(".reservation").append(replacement);
				}
			}
		}
		function dateDifference() {
			if($("#hotel_booking_hotel_booking_dateArrivee").val() == '' || $("#hotel_booking_hotel_booking_dateDepart").val() == ''){
				return 0;
			}else{
				var nuitsNombre = ($("#hotel_booking_hotel_booking_dateDepart").datepicker("getDate") -
							$("#hotel_booking_hotel_booking_dateArrivee").datepicker("getDate")) /
						   1000 / 60 / 60 / 24;
				return nuitsNombre;
			}
		}
		function clonerOuEffacerNuits(toClone){
			var line = $('.reservationNuits')[0].outerHTML;
			var nuits = $('.reservationNuits').length;
			var pattern = /_0/ig;
			var pattern2 = /no. 1/ig;
			for(var z=0;z<nuits;z++){
				$(".reservation tr:last").remove();
			}
			if(toClone > 0){
				for(var i=0;i<toClone;i++){
					var replacement = line.replace(pattern, "_"+i).replace(pattern2, "no. "+(i+1));
					$(".reservation").append(replacement);
				}
			}else{
				var replacement = line.replace(pattern, '_0');
				$(".reservation").append(replacement);
			}
		}
		function calculatePrix(numeroDeJours){
			var dinerSelected = 0;
			$('.reservationNuits :radio').each(function(){
				if($(this).is(':checked')){
					dinerSelected += parseInt($(this).val());
				}
			});
			$('#laValoire').html('<p class="text-success">' + numeroDeJours + ' nuits, dont '+dinerSelected+' avec dîner. Total: '+(65*numeroDeJours+10*dinerSelected) + '€</p>');
		}
		function updateService() {
			var direction=$("#hotel_booking_hotel_booking_direction").val();
			$.ajax({
				dataType: "json",
				type: "POST",
				url: url_update_service,
				data: { direction : direction},
				async:false,
				cache: false,
				success: function(directionServices){
					var servicesSelect = '';
					for(var k in directionServices){
						if (directionServices.hasOwnProperty(k)) {
							servicesSelect += '<option value="'+k+'">'+directionServices[k]+'</option>';
					   }
					}
					$("#hotel_booking_hotel_booking_service").html(servicesSelect);
				}
			});
		};
$(function(){
{#	$("#hotel_booking_hotel_booking_societe").prepend("<option value='autre'>Autre</option>");#}
	$('.chosen').chosen();
	$(".date" ).datepicker({
		altField: "#datepicker",
//		minDate:-30,
		showAnim:'slideDown',
		showWeek:true,
//		numberOfMonths: 2,
		closeText: 'Fermer',
		prevText: 'Précédent',
		nextText: 'Suivant',
		currentText: 'Aujourd\'hui',
		monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
		monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
		dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
		dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
		dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
		weekHeader: '',
		dateFormat: 'dd/mm/yy',
		firstDay: 1
//				minDate: new Date(2015, 10, 1),
//				maxDate: new Date(2015, 11, 31),
//				dateFormat: 'DD, MM, d, yy',
//				constrainInput: true,
	});
});
$(document).ready(function(){
	actualiserDinerNuits();
	updateService();
	$('#hotel_booking_hotel_booking_direction').change(function(){
		updateService();
	});
	$("#hotel_booking_hotel_booking_dateArrivee, #hotel_booking_hotel_booking_dateDepart").change(function(){
		toClone = dateDifference();
		$('#hotel_booking_hotel_booking_nombreDeNuits').val(toClone);
		clonerOuEffacerNuits(toClone);
		calculatePrix(toClone);
	});
});




	</script>
	{#{% javascripts
	   'js/hotelBooking.js'
	   %}
	   <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}#}
{% endblock %}