<p>Bonjour</p>
<br>
<br>
Vous trouverez ci-joint la DMLI de {{ nameuser }} {{ firstnameuser }}
<br>NB : Au-delà d'un mois après la date livraison demandé, si le matériel n’a pas été retiré, il vous faudra réitérer votre demande
<br>Merci.
<br>




