<p>Bonjour</p>
<br>
<br>
Vous trouverez ci-joint la Demande de mise à disposition de matériél téléphonique de {{ nameuser }} {{ firstnameuser }}
<br>NB : Au-delà d'un mois après la date livraison demandé, si le matériel n’a pas été retiré, il vous faudra réitérer votre demande
<br>Merci.
<br>
<mark>Ce mail est un mail de test, les actions que vous avez réaliser ne seront pas prises en compte.</mark>



