{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
  Ajouter {{ parent() }}
{% endblock %}

{% block suivietudes_body %}

  <h2>Créer une demande</h2>

  {{ include ("SuiviEtudesBundle:Demande:form.html.twig") }}
    <br/>
  <p>
    <a href="{{ path('suivi_etudes_accueil')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
  </p>

{% endblock %}