<script>
    $(function () {
        // when loading page show form element based on radio checked
        $('.demandTechRadio').each(function () {
            var radio = $(this).find("input");
            var id = radio.attr('id');
            var isChecked = radio.is(':checked');
            if (isChecked == true) {
                id = id.substr(id.length - 1);
                if (id == 0) {
                    $('#demandeDocsName').removeClass('hidden');
                    $('#demandeDocsPath').addClass('hidden');
                } else {
                    $('#demandeDocsPath').removeClass('hidden');
                    $('#demandeDocsName').addClass('hidden');
                }
            }
        });
        // on click show form element based on radio checked
        $('.demandTechRadio label, .demandTechRadio input').on('click', function () {
            var id = $(this).attr('id');
            id = id.substr(id.length - 1);
            if (id == 0) {
                $('#demandeDocsName').removeClass('hidden');
                $('#demandeDocsPath').addClass('hidden');
            } else {
                $('#demandeDocsPath').removeClass('hidden');
                $('#demandeDocsName').addClass('hidden');
            }
        })
    });
</script>

{{ form_start(form,{'action':path('suivi_etudes_technicalDoc', {'demandeId':demandeId})}) }}
{% if form.type.children %}
    <div class="form-group">
        {% for child in form.type %}
            <div class="col-lg-6 demandTechRadio">
                {{ form_widget(child) }} 
                {{ form_label(child) }}
            </div>
        {% endfor %}
    </div>
{% endif %}
<div class="form-group hidden" id="demandeDocsName">
    {{ form_errors(form.name) }}
    {{ form_widget(form.name) }}
</div>
<div class="form-group hidden" id="demandeDocsPath">
    {{ form_errors(form.path) }}
    {{ form_widget(form.path,{'attr': {'class': 'col-lg-10 form-control form-group'}}) }} 
</div>
<div class="form-group">
    <div class="text-right">
        <button class="btn btn-primary">Sauvegardé</button>
    </div>
</div>
{{ form_widget(form._token) }}
{{ form_end(form) }}