<form action="{{ path('refus_validation_devis', {'id': demande.id}) }}" method="GET">

    <div class="form-group row">
        <label class="col-sm-4 control-label">Motif du refus :</label>
        <div class="col-sm-6">
            <select class="form-control" name="motif" id="motif">
                    <option>Modification du besoin</option>
                    <option>Charges trop élevées</option>
                    <option>Date de mise en production non acceptée</option>
                    <option>Annulation de la demande</option>
                    <option>Autre</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-4 control-label">Description du refus :</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="description" id="description"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 col-sm-offset-4">
            <input class="btn btn-danger " type="submit" value="Je ne valide pas"/>
        </div>
    </div>

</form>