{# Modified by Julien BUREAU <jbureau@noz.fr> #}
{# 19-11-14 #}
{# 		---------------------------------     #}
{# Pour chaque champs, il faut vérifier les droits de l'utilisateur #}
{# pour l'autoriser ou non à modifier. #}
{# Attention à bien garder en tête la hierarchie des ROLE, car les ROLES élevés héritent des roles plus bas. #}
{# En supprimant des droits aux utilisateurs de base, ces droits sont supprimés pour tous les rôles ! #}

{% stylesheets 'js/chosen_v1.3.0/chosen.css' %}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% javascripts
		'js/chosen_v1.3.0/chosen.jquery.js'
		'@AdministrationDirectionBundle/Resources/public/js/*' 
		'@SuiviEtudesBundle/Resources/public/js/pieceJointes.js'
		'@SuiviEtudesBundle/Resources/public/js/chosenAutocomplete.js'
		'@SuiviEtudesBundle/Resources/public/js/editeur.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{# {% if (is_granted('ROLE_USER')) and ( 4 < form.statut.vars.value ) %} #}
{# 	{% render 'suivi-etudes/voir/'app.request.get('id') %} #}
{# {% elseif (is_granted('ROLE_TECH')) %} #}

<div class="well col-sm-10 col-sm-offset-1">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div id="demande_direction" style="display:none;">
        {% if demande.direction is not null%}
            {{demande.direction.id}}
        {% endif %}
    </div>
    <div id="demande_service" style="display:none;">
        {% if demande.service is not null%}
            {{demande.service.id}}
        {% endif %}
    </div>

    <div class="row form-group">
        {{ form_label(form.direction, "Direction", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.direction, {'attr': {'class': 'form-control ld-direction input-sm'}}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.service, "Service", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <div class="col-sm-4">
            {{ form_widget(form.service, {'attr': {'class': 'form-control ld-service input-sm'}}) }}
        </div>
    </div>



    <div class="form-group">
        {{ form_label(form.application, "Application concernée ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
        <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title=""></span>
        <div class="col-sm-5">
            {{ form_widget(form.application, {'attr': {'class': 'form-control chosen-select input-sm','multiple':'multiple' , 'data-placeholder':'Sélectionnez une application' }}) }}
        </div>
    </div> 

    <div class="form-group">
        {{ form_label(form.type, "Type de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.type) }}
        <div class="col-sm-4">
            {{ form_widget(form.type, {'attr': {'class': 'form-control input-sm'}}) }}   
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.statut, "Statut de la demande", {'label_attr': {'class': 'hidden'}}) }}
        {{ form_errors(form.statut) }}
        <div class="col-sm-4">      
            {{ form_widget(form.statut, {'attr': {'class': 'hidden  input-sm'}}) }}	
        </div>
    </div>

    <div class="form-group">
        {# 	      Génération du label. #}
        {{ form_label(form.titre, "Titre de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {# 	      Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.titre) }}
        <div class="col-sm-6">
            {# 	        Génération de l'input. #}
            {{ form_widget(form.titre, {'attr': {'class': 'form-control  input-sm'}}) }}
        </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
        {{ form_label(form.description, "Description de votre demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.description) }}
        <div class="col-sm-8">
            {% if (is_granted('ROLE_MANAGER_TECH')) or ( 4 > form.statut.vars.value ) %} {# Le manager technicien peut toujours modifier #}
                {{ form_widget(form.description, {'attr': {'class': 'form-control editable', 'row' : '6'}}) }}
            {% else %}
                {{ form_widget(form.description, {'attr': {'class': 'form-control hidden'}}) }}
                {{demande.description|raw}}
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_TECH')%}
       	<div class="form-group">
            {{ form_label(form.commentaireInfo, "Commentaire de l'informatique", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            {{ form_errors(form.commentaireInfo) }}
            <div class="col-sm-8">
                {{ form_widget(form.commentaireInfo, {'attr': {'class': 'form-control editable', 'row' : '6'}}) }}
            </div>
        </div>
    {% endif %}

    {% if is_granted('ROLE_MANAGER_TECH')%}
        <div class="form-group">
            {{ form_label(form.criterionFrequence, "Frequence d'utilisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionFrequence, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        </br>
        <div class="form-group">
            {{ form_label(form.criterionOrigin, "Origine de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionOrigin, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        </br>
        <div class="form-group">
            {{ form_label(form.criterionPopulation, "Population concernee", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-4">
                {{ form_widget(form.criterionPopulation, {'attr': {'class': 'form-control input-sm'}}) }}
            </div>
        </div>
        </br>
    {% endif %}

    {% if demandeurconnecte %}
        <div class="form-group">
            {{ form_label(form.mails, "Suivi de votre demande par e-mail ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            <div class="col-sm-5">
                <div>
                    {% for child in form.mails %}
                        {% if child.vars['value'] in listemailobligatoire %}
                            <p> {{ form_widget(child, {'attr': {'checked':'checked', 'disabled':'disabled'}}) }} {{ form_label(child) }}</p>
                        {% elseif child.vars['value'] in listemail %}
                            <p> {{ form_widget(child, {'attr': {'checked':'checked'}}) }} {{ form_label(child) }}</p>
                        {% else %}
                            <p> {{ form_widget(child) }} {{ form_label(child) }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.mailing, "Les personnes à prévenir recoivent les même mails que moi", {'label_attr': {'class': 'col-sm-7 control-label'}}) }} 
            <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Sinon, ils recevront les mails pour la prise en compte de la demande et la mise en production."></span>
            <div class="col-sm-1">
                {{ form_widget(form.mailing, {'attr':  {'class': ''}}) }}
            </div>
        </div> 	
    {% endif %}

    <div class="form-group">
        {{ form_label(form.suiviMail, "Ajouter des personnes à prévenir ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Ecrivez les premières lettres d'une personne pour la retrouver"></span>
        <div class="col-sm-4">
            {{ form_widget(form.suiviMail, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs utilisateur(s)' }}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.chefdeProjet, "Chef de projet", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Ecrivez les premières lettres d'une personne pour la retrouver"></span>
        <div class="col-sm-4">
            {% if ((is_granted('ROLE_DEMANDEUR')) and ((constant('VALIDE', demande.statut)) < form.statut.vars.value )) %}
                {{ form_widget(form.chefdeProjet, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs chef(s) de projet' }}) }}
            {% else %}
                {{ form_widget(form.chefdeProjet, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' ,'disabled':'disabled', 'data-placeholder':'Vous ne pouvez pas choisir de chef de projet' }}) }}
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.techniciens, "Technicien(s)", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Ecrivez les premières lettres d'une personne pour la retrouver"></span>
        <div class="col-sm-4">
            {% if ((is_granted('ROLE_DEMANDEUR')) and ( 4 < form.statut.vars.value )) %}
                {{ form_widget(form.techniciens, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs chef(s) de projet' }}) }}
            {% else %}
                {{ form_widget(form.techniciens, {'attr': {'class': 'form-control chosen-select','multiple':'multiple' ,'disabled':'disabled', 'data-placeholder':'Vous ne pouvez pas choisir de chef de projet' }}) }}
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label">Pièces jointes associées</label>
        <div class="col-sm-5">
            {% for pieceJointe in PiecesJointes %}
                <a href='{{ cheminPieceJointe }}{{ demande.id }}/{{ pieceJointe.name }}'>
                    <img src='{{ cheminImage }}{{extensions[pieceJointe.id]}}' width="35px"/>
                    {{ pieceJointe.name }}
                </a>
                <br/>
            {% endfor %}

            <div class="form-group">
                {{ form_label(form.piecejointes, " ", {'label_attr': {'class': 'col-sm-0 control-label'}}) }}
                <div  class="col-sm-4">
                    {{ form_widget(form.piecejointes, {'attr':  {'class': 'div_piecejointes'}}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.Modifier, "", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <div class="col-sm-4 col-sm-offset-4">
            {{ form_widget(form.Modifier, {'attr': {'class': 'btn btn-success'}}) }}
        </div>
    </div>

</div>

{{ form_rest(form) }}


