<form action="{{ path('modifier_statut_encoursdev', {'id': demande.id}) }}" method="POST">

    <div class="form-group row">
        <label class="col-sm-4 control-label">Description du refus :</label>
        <div class="col-sm-6">
            <textarea class="form-control" name="description" id="description"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 col-sm-offset-4">
            <input class="btn btn-primary " type="submit" value="La recette n'est pas concluante"/>
        </div>
    </div>

</form>