{{ form_start(formRecetteUserOk, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formRecetteUserOk) }}

<div class="form-group">
    {{ form_label(formRecetteUserOk.date_production, "Date de mise en production", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserOk.date_production) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserOk.date_production, {'attr': {'class': 'form-control date'}}) }}
    </div>
</div>

{{ form_rest(formRecetteUserOk) }}

<div class="form-group">
    <label for="modifProd" id="label_modifProd" class="col-sm-4 control-label"></label>
    <div class="col-sm- col-md-offset-4">
        <!--<i class="glyphicon glyphicon-edit"></i>-->
        <input type="submit" name="modifProd" id="modifProd" value="Les tests ne sont pas concluants" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="...Et passer au statut 'Mise en production'"/>
    </div>
</div>

{{ form_end(formRecetteUserOk) }}