{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
    <small class="col-sm-offset-4" style="color:red">Les trois charges à remplir sont en heures.</small>
    <div class="form-group row">
        {{ form_label(form.charges, "Charge à communiquer", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}<small>heures</small>
        <!--<span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Les trois charges à remplir sont en heures."></span>-->
        {{ form_errors(form.charges) }}
        <div class="col-sm-4">
            {{ form_widget(form.charges, {'attr': {'class': 'form-control input-sm'}}) }}
        </div>
    </div>
        <hr>
    <div class="form-group row">
        <i>{{ form_label(form.chargesCP, "Charge Chef de projet", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}</i><small>heures</small>
        {{ form_errors(form.chargesCP) }}
        <div class="col-sm-4">
            {{ form_widget(form.chargesCP, {'attr': {'class': 'form-control input-sm'}}) }}
        </div>
    </div>
    <div class="form-group row">
        <i>{{ form_label(form.chargesDev, "Charge Développeur", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}</i><small>heures</small>
        {{ form_errors(form.chargesDev) }}
        <div class="col-sm-4">
            {{ form_widget(form.chargesDev, {'attr': {'class': 'form-control  input-sm'}}) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.date_recette, "Date Recette", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.date_recette) }}
        <div class="col-sm-4">
            {{ form_widget(form.date_recette, {'attr': {'class': 'form-control date  input-sm'}}) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.date_production, "Date de mise en production", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.date_production) }}
        <div class="col-sm-4">
            {{ form_widget(form.date_production, {'attr': {'class': 'form-control date  input-sm'}}) }}
        </div>
    </div>

    <div class="form-group row">
        {{ form_label(form.devis, "Ajouter un Devis", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_label(form.devis, " ", {'label_attr': {'class': 'control-label  input-sm'}}) }}
        <div  class="col-sm-4">
            {{ form_widget(form.devis) }}
        </div>
    </div>

    {{ form_rest(form) }}

     <div class="form-group row">
        <label for="ajouter" id="label_ajotuer" class="col-sm-4 control-label"></label>
        <div class="col-sm- col-md-offset-4">
            <!--<i class="glyphicon glyphicon-edit"></i>-->
            <input type="submit" name="ajouter" id="ajouter" value="Ajouter les estimations" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="...Et passer au statut 'En attente de validation'"/>
        </div>
    </div>

{{ form_end(form) }}
