{{ form_start(formRecetteUserNotOk, {'attr': {'class': 'form-horizontal'}}) }}

{# Les erreurs générales du formulaire. #}
{{ form_errors(formRecetteUserOk) }}

<div class="form-group">
    {{ form_label(formRecetteUserNotOk.description, "Description du refus :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserNotOk.description) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserNotOk.description) }}
    </div>
</div>

<div class="form-group">
    {{ form_label(formRecetteUserNotOk.cahier, "Cahier de recette (facultatif) :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
    {{ form_errors(formRecetteUserNotOk.cahier) }}
    <div class="col-sm-4">
        {{ form_widget(formRecetteUserNotOk.cahier) }}
    </div>
</div>

    <div class="form-group row">
        <div class="col-sm-6 col-sm-offset-4">
            <input class="btn btn-danger " type="submit" value="La recette ne me convient pas"/>
        </div>
    </div>

{{ form_end(formRecetteUserNotOk) }}