<div class="panel panel-default  container-fluid" id="DemandeType">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}

    {#<div class="alert alert-danger"  style="width:40%;margin:0 auto;"style="color:red;">#}
    <div class="col-sm-offset-3" style="color:red;">
        {# form_errors(form.direction) #}
        {# form_errors(form.service) #}
        {# form_errors(form.application) #}
        {{ form_errors(form.type) }}
        {{ form_errors(form.titre)}}
        {{ form_errors(form.description) }}
{#        {{ form_errors(form.urgence) }}#}
        {{ form_errors(form.criterionFrequence) }}
        {{ form_errors(form.criterionOrigin) }}
        {{ form_errors(form.criterionPopulation) }}
        {# form_errors(form.mailing) #}
    </div>

	{% stylesheets 'js/chosen_v1.3.0/chosen.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	{% javascripts 
		'@AdministrationDirectionBundle/Resources/public/js/*'
		'js/chosen_v1.3.0/chosen.jquery.js'
		'@SuiviEtudesBundle/Resources/public/js/chosenAutocomplete.js'
		'@SuiviEtudesBundle/Resources/public/js/editeur.js'
		'@SuiviEtudesBundle/Resources/public/js/infoBulle.js'
		'@SuiviEtudesBundle/Resources/public/js/pieceJointes.js'
		 %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
		
    <div class="row form-group">
      {{ form_label(form.direction, "Direction", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.direction, {'attr': {'class': 'form-control ld-direction input-sm'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.service, "Service", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.service, {'attr': {'class': 'form-control ld-service input-sm'}}) }}
      </div>
    </div>
    
    <div class="form-group">
      {{ form_label(form.type, "Type de demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.type, {'attr': {'class': 'form-control input-sm'}}) }}
      </div>
    </div>
      
   <div class="form-group">
      {{ form_label(form.application, "Application concernée ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
      <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title=""></span>
      <div class="col-sm-5">
        {{ form_widget(form.application, {'attr': {'class': 'form-control chosen-select input-sm','multiple':'multiple' , 'data-placeholder':'Sélectionnez une application' }}) }}
      </div>
    </div>

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.titre, "Titre de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}

      <div class="col-sm-6">
        {{ form_widget(form.titre, {'attr': {'class': 'form-control input-sm'}}) }}
      </div>
        {# Génération de l'input. #}
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
      {{ form_label(form.description, "Description de votre demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-8">
        {{ form_widget(form.description, {'attr': {'class': 'form-control input-sm editable', 'row' : '25'}}) }}
      </div>
    </div>



    {#<div class="form-group">
      {{ form_label(form.urgence, "Degré d'urgence", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.urgence, {'attr': {'class': 'form-control input-sm'}}) }}
      </div>
    </div>
    </br>#}
    
    <div class="form-group">
      {{ form_label(form.criterionFrequence, "Frequence d'utilisation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.criterionFrequence, {'attr': {'class': 'form-control input-sm'}}) }}
      </div>
    </div>
    </br>
    <div class="form-group">
      {{ form_label(form.criterionOrigin, "Origine de la demande", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.criterionOrigin, {'attr': {'class': 'form-control input-sm'}}) }}
      </div>
    </div>
    </br>
    <div class="form-group">
      {{ form_label(form.criterionPopulation, "Population concernee", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4">
        {{ form_widget(form.criterionPopulation, {'attr': {'class': 'form-control input-sm'}}) }}
      </div>
    </div>
    </br>

    <div class="form-group">
      {{ form_label(form.mails, "Suivi de votre demande par e-mail", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
      <div class="col-sm-5">
        <div>
	    	{% for child in form.mails %}
	    		{% if child.vars['value'] in listeMail %}
	 	     		<p> {{ form_widget(child, {'attr': {'checked':'checked', 'disabled':'disabled'}}) }} {{ form_label(child) }}</p>
	      		{% else %}
	 	     		<p> {{ form_widget(child, {'attr': {'checked':'checked'}}) }} {{ form_label(child) }}</p>	      		
	      		{% endif %}
			{% endfor %}        
        </div>
      </div>
    </div>

  </br>
    <div class="form-group">
      {{ form_label(form.suivi, "Ajouter les personnes à prévenir ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
      <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Ecrivez les premières lettres d'une personne pour la retrouver"></span>
      <div class="col-sm-5">
        {{ form_widget(form.suivi, {'attr': {'class': 'form-control chosen-select input-sm','multiple':'multiple' , 'data-placeholder':'Sélectionnez un ou plusieurs observateur(s)' }}) }}
      </div>
    </div>
    
    <div class="form-group">
      {{ form_label(form.mailing, "Les personnes à prévenir recoivent les même mails que moi", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
      <span class="glyphicon glyphicon-info-sign"data-toggle="tooltip" data-placement="right" title="Sinon, ils recevront les mails pour la prise en compte de la demande et la mise en production."></span>
      <div class="col-sm-1">
        {{ form_widget(form.mailing, {'attr':  {'checked':'checked', 'class': '', 'style':'vertical-align:middle;'}}) }}
      </div>
    </div>
</br>

    <div class="form-group">
      {{ form_label(form.piecejointes, " ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }} 
      <div class="col-sm-4">
 			{{ form_widget(form.piecejointes, {'attr':  {'class': 'div_piecejointes'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.Ajouter, " ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      <div class="col-sm-4 col-sm-offset-4">
        {{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-primary' }}) }}
      </div>
    </div>

  {{ form_rest(form) }}

  {{ form_end(form) }}

</div>
