<table  class="table table-striped table-hover tablesorter">
    <tr>
        <th> Date </th> 
        <th> Auteur </th> 
        <th> Type </th> 
        <th> Action </th> 
    </tr>                	
        {% for modification in historique2 %}

    <TR>
        <TD>{{modification.date|date('d/m/Y H:i')}}</TD>
        <TD>{{modification.user}}</TD>
        <TD>{{modification.type}}</TD>
        <TD>{{modification.action|raw}}</TD>
            
        {% endfor %}
</table>