{% extends "SuiviEtudesBundle:Mail:demande.html.twig" %}

{% block body_mail %}

	<p>
	La demande : {{demande.titre}} a été créée, elle porte le numéro {{demande.id}}.<br/>

	Vous pouvez consulter cette demande à tout moment en cliquant sur <a href="{{url}}{{ path('suivi_etudes_voir', {'id': demande.id}) }}">ce lien</a>.<br/><br/>

	Pour toute question, n'hésitez pas à contacter le pôle WEB (poleweb@noz.fr)<br/><br/></p>

{% endblock %}