{% extends "SuiviEtudesBundle::layout.html.twig" %}

{% block title %}
  Supprimer - {{ parent() }}
{% endblock %}

{% block suivietudes_body %}

  <h2>Supprimer la demande #{{demande.id}}</h2>

  <p>
    Etes-vous certain de vouloir supprimer la demande "{{ demande.titre }}" ?
  </p>
"

  <form action="{{ path('suivi_etudes_supprimer', {'id': demande.id}) }}" method="post">
    <a href="{{ path('suivi_etudes_voir', {'id': demande.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'annonce
    </a>

    <input type="submit" value="Supprimer" class="btn btn-danger" />

    {{ form_rest(form) }}
  </form>

{% endblock %}