<p>Bonjour</p>
<br>
{% if nom is empty %}
    <br>Veuillez remplir le formulaire suivant: {{ url }}
    <br>Merci.
{% else %}
    <br>Veuillez envoyer ce formulaire {{ url }} à {{ nom }}
    <br>Merci.
{% endif %}

<br>