<p>Bonjour</p>
<br>
{% if nom is empty %}
    <br>Veuillez remplir le formulaire suivant: {{ url }}
    <br>Merci.
{% else %}
    <br>Veuillez envoyer ce formulaire {{ url }} à {{ nom }}
    <br>Merci.
{% endif %}
<br>
<mark>Ce mail est un mail de test, les actions que vous avez réaliser ne seront pas prises en compte.</mark>