<label class="required" for="resourceForm_name">Nom de ressource: </label>
<select id="resourceForm_name" class="form-control" name="resourceForm[name]">
    <option>Choisissez une paquet</option>
    {%for bundle,resources in bundles%}
        {%if bundle is not empty%}
            <option>{{bundle}}</option>
        {%endif%}
    {%endfor%}
</select>