<label class="required" for="resourceForm_name">Nom de ressource: </label>
<input id="resourceForm_name" class="form-control" type="text" required="required" name="resourceForm[name]">
<label class="required" for="resourceForm_routeName">Nom de la route: </label>
<select id="resourceForm_routeName" class="form-control" name="resourceForm[routeName]" required="required">
    <option value="">-</option>
    {%for route in routes%}
        <option>{{route['name']}}</option>
    {%endfor%}
</select>
<label class="required" for="resourceForm_parentId">Père: </label>
<select id="resourceForm_parentId" class="form-control" name="resourceForm[parentId]">
    <option value="">-</option>
    {%for bundle in bundles%}
        <option value="{{bundle.id}}">{{bundle.name}}</option>
    {%endfor%}
</select>