{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Ressource modifier' %}
{% block body %}
    <section class="content-header">
        <h1>{{ page_title }}</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        {{ form_widget(form.type, {'attr': {'class': 'form-control hidden'}}) }}
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        {%if resource.routeName is not null%}
                            {{ form_label(form.routeName) }}
                            {{ form_widget(form.routeName, {'attr': {'class': 'form-control'}}) }}
                        {%endif%}
                        {%if resource.route is not null%}
                            {{ form_label(form.route) }}
                            {{ form_widget(form.route, {'attr': {'class': 'form-control'}}) }}
                        {%endif%}
                        {%if resource.type >1%}
                            {{ form_label(form.parentId) }}
                            <select id="resourceForm_parentId" class="form-control" name="resourceForm[parentId]">
                                <option value="">-</option>
                                {%for bundle in bundles%}
                                    <option value="{{bundle.id}}" {%if bundle.id == resource.parentId%}selected{%endif%}>{{bundle.name}}</option>
                                {%endfor%}
                            </select>
                        {%endif%}
                        <div class="box-footer">
                            {{ form_widget(form.submit, { 'label': 'Modifier', 'attr': {'class': 'btn btn-primary'}} ) }}
                        </div>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}