{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Ressource visualiser' %}
{% block body %}
    <section class="content-header">
        <h1>{{ page_title }}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length">
                            <label>Montrer 
                                <select name="filterSelect" class="form-control input-sm" id="filterSelect" data-url="{{path('acl_resource_view')}}" data-page="{{page}}">
                                    <option value="actif" {%if status == "actif"%}selected="selected"{%endif%}>Actif</option>
                                    <option value="desactive" {%if status == "desactive"%}selected="selected"{%endif%}>Désactivé</option>
                                    <option value="tous" {%if status == "tous"%}selected="selected"{%endif%}>Tous</option>
                                </select> 
                            </label>
                        </div>
                    </div>
                </div>
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom', 'resourceName')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Type de ressource', 'resourceType')}}</th>
                                <th rowspan="1" colspan="1">Lien</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom', 'resourceName')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Type de ressource', 'resourceType')}}</th>
                                <th rowspan="1" colspan="1">Lien</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </tfoot>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for key,item in pagination %}
                                <tr>
                                    <td>{{ onPage*page-onPage+1+key }}</td>
                                    <td>{{ item.resourceName }}</td>
                                    <td>
                                        {%if item.resourceType == 1%}Application
                                        {%elseif item.resourceType == 2%}Route
                                        {%else%}Route with parameters
                                        {%endif%}
                                    </td>
                                    <td>{{ item.route }}</td>
                                    <td>
                                        <button class="btn btn-danger xhr-delete-resource" data-href="{{ path('acl_resource_delete', {'resourceId': item.id}) }}">Suprimer</button>
                                        {%if item.type > 1%}
                                            <a class="btn btn-primary" href="{{ path('acl_resource_modify', {'resourceId': item.id}) }}">Modifier</a>
                                        {%endif%}
                                        {%if item.isActive == 1%}
                                            <button class="btn btn-warning xhr-deactivate-resource" data-href="{{ path('acl_resource_deactivate', {'resourceId': item.id}) }}">Désactiver</button>
                                        {%else%}
                                            <button class="btn btn-success xhr-activate-resource" data-href="{{ path('acl_resource_activate', {'resourceId': item.id}) }}">Activer</button>
                                        {%endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row pull-right">
                        {{ knp_pagination_render(pagination) }}                        
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>
    </section>
{% endblock %}