<div class="row" id="box">
    <div class="panel panel-success">
        <div class="panel-heading" style="padding: 4px 25px;">
            <div class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><h5>Guide d'utilisation</h5></a>
            </div>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse11" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>L'UTILISATEUR</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse11" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">

                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="CONNEXION"
                                      data-placement="left"
                                      data-content="Pour pouvoir accéder à l’outil d’administration de la DMLI, vous devez être connecté avec votre identifiant/mot de passe Windows  et vous devez avoir la permission d’y accéder.">
                                        CONNEXION</a></p>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse112" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>GESTION DES POSTES</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse112" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Liste des Postes"
                                      data-placement="left"
                                      data-content="Visualiser une liste détaillée des Postes avec leurs propriétés avec la possibilité de faire un filtrage sur chaque champ..">Liste des Postes</a></p>
                            </h6>

                            <h6>
                                <p><a tabindex="2" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Ajouter Poste"
                                      data-placement="left"
                                      data-content="
Si l’utilisateur ne trouve pas le poste qu’il recherche, il a la possibilité de renseigner un nouveau poste directement dans un champ texte.
">Ajouter Poste</a></p>
                            </h6>
                            <h6>
                                <p><a tabindex="3" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Modifier Poste"
                                      data-placement="left"
                                      data-content="L’utilisateur a la possibilité de modifier un Poste directement dans un champ texte.">Modifier Poste</a></p>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse12" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>GESTION DES PROFILS UTILISATEURS</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse12" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Liste Profil"
                                      data-placement="left"
                                      data-content="Visualiser une liste détaillée des Profils avec leurs propriétés avec la possibilité de faire un filtrage sur chaque champ..">Liste Profil</a></p>
                            </h6>
                            <h6>
                                <p><a tabindex="1" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Affectation Profil"
                                      data-placement="left"
                                      data-content="Chargement de la liste des matériels, logiciels et mails liés au profil sélectionné.
A partir de là, l’utilisateur a la possibilité de modifier les listes et sauvegarder le profil.
Il doit au moins saisir un matériel/logiciel ou un groupe Outlook.
">Affectation Profil</a></p>
                            </h6>
                            <h6>
                                <p><a tabindex="2" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Ajouter Profil"
                                      data-placement="left"
                                      data-content="Pour ajouter un profil, l’utilisateur doit sélectionner une direction, un service, un pôle (facultatif) et un poste.
Si l’utilisateur ne trouve pas le poste qu’il recherche, il a la possibilité de renseigner un nouveau poste directement dans un champ texte en sélectionnant le champ AUTRES.
">Ajouter Profil</a></p>
                            </h6>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse13" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>CESTION DES KITS DE MATERIEL</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse13" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Liste de Kit matériel"
                                      data-placement="left"
                                      data-content="Visualiser une liste détaillée des Kit Matériel avec la possibilité de faire un filtrage sur chaque champ.">Liste de Kit matériel</a></p>
                            </h6>

                            <h6>
                                <p><a tabindex="2" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Ajouter Kit matériel"
                                      data-placement="left"
                                      data-content="Un champ texte permet de créer le nom du kit.
Il faut ensuite que l’utilisateur sélectionne les matériels.
Pour terminer il sauvegarde le kit.">Ajouter Kit matériel</a></p>
                            </h6>
                            <h6>
                                <p><a tabindex="3" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Modifier Kit matériel"
                                      data-placement="left"
                                      data-content="Il faut que l’utilisateur sélectionne les matériels à ajouter au kit matériel.
                                      Pour terminer il sauvegarde le kit.">Modifier Kit matériel</a></p>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse8" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>GESTION DES GROUPES OUTLOOK</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Liste groupe Outlook"
                                      data-placement="left"
                                      data-content="Visualiser une liste détaillée des groupes Outlook avec la possibilité de faire un filtrage sur chaque champ.">Liste groupe Outlook</a></p>
                            </h6>

                            <h6>
                                <p><a tabindex="2" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Ajouter un groupe Outlook"
                                      data-placement="left"
                                      data-content="Un champ texte permet de créer le nom du groupe Outlook.
Il faut ensuite que l’utilisateur sélectionne la direction à laquelle il appartient.
Pour terminer il sauvegarde.
">Ajouter un groupe Outlook</a></p>
                            </h6>
                            <h6>
                                <p><a tabindex="3" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Modifier un groupe Outlook"
                                      data-placement="left"
                                      data-content="Un champ texte permet de modifier le nom du groupe Outlook associé à une direction.
Pour terminer il sauvegarde.
">Modifier un groupe Outlook</a></p>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: 0px;">
                    <div class="panel-heading" role="tab" id="headingTwo"
                         style="padding: 0px; padding-left: 5px;">
                        <h6 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse"
                               data-parent="#accordion"
                               href="#collapse14" aria-expanded="false" aria-controls="collapseTwo">
                                <h6>GESTION DES EQUIPES CRM</h6>
                            </a>
                        </h6>
                    </div>
                    <div id="collapse14" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <h6>
                                <p><a tabindex="0" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Liste des equipes"
                                      data-placement="left"
                                      data-content="Visualiser une liste détaillée des équipes CRM avec la possibilité de faire un filtrage sur chaque champ.">Liste des equipes</a></p>
                            </h6>
                            <h6>
                                <p><a tabindex="2" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Ajouter une equipe pour profil CRM"
                                      data-placement="left"
                                      data-content="Un champ texte permet de créer le nom de l’équipe CRM.
Il faut ensuite que l’utilisateur sélectionne un service.
Pour terminer il sauvegarde la nouvelle équipe.
">Ajouter une equipe pour profil CRM</a></p>
                            </h6>
                            <h6>
                                <p><a tabindex="3" type="button" data-trigger="focus" class="text"
                                      data-toggle="popover" title="Modifier une equipe pour profil CRM"
                                      data-placement="left"
                                      data-content="Un champ texte permet de modifier le nom de l’équipe CRM associé à un service.
Pour terminer il sauvegarde la nouvelle équipe.
">Modifier une equipe pour profil CRM</a></p>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>