<aside class="main-sidebar">
<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
        </div>
    </div>


        <ul class="sidebar-menu">
            {# page acceuil #}
            <li class="{% if app.request.attributes.get('_route') == 'index_home' %}active{% endif %}">
                <a href="{{ path('index_home') }}">
                    <i class="glyphicon glyphicon-home"></i>
                    <span>Accueil</span>
                </a>
            </li>
            {# Gestion Profil #}
            <li class="{% if app.request.attributes.get('_route') == 'index_poste' %}active{% endif %}">
                <a href="{{ path('index_poste') }}">
                    <i class="glyphicon glyphicon-user"></i>
                    <span>Gestion des Postes</span>
                </a>
            </li>
            {# Gestion Profil #}
            <li class="{% if app.request.attributes.get('_route') == 'index_profil' %}active{% endif %}">
                <a href="{{ path('index_profil') }}">
                    <i class="fa fa-users"></i>
                    <span>Gestion des Profils Utilisateurs</span>
                </a>
            </li>
            {# Création de Kit Matériel #}
            {% if is_granted('ROLE_DMLI_ADMIN') %}
            <li class="{% if app.request.attributes.get('_route') == 'index_kit' %}active{% endif %}">
                <a href="{{ path('index_kit') }}">
                    <i class="fa fa-desktop"></i>
                    <span>Gestion des Kit de Matériel</span>
                </a>
            </li>
{% endif %}
            {# Création de Groupe Outlook #}
            <li class="{% if app.request.attributes.get('_route') == 'index_mail' %}active{% endif %}">
                <a href="{{ path('index_mail') }}">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <span>Gestion des Groupes Outlook</span>
                </a>
            </li>
            {# Equipe pour Profil Crm #}
            <li class="{% if app.request.attributes.get('_route') == 'index_crm' %}active{% endif %}">
                <a href="{{ path('index_crm') }}">
                    <i class="glyphicon glyphicon-level-up"></i>
                    <span>Gestion des Equipes CRM</span>
                </a>
            </li>

            {# dmli #}
            <li class="{% if app.request.attributes.get('_route') == 'dmli_page1' %}active{% endif %}">
                <a href="{{ path('dmli_page1') }}">
                    <i class="glyphicon glyphicon-level-up"></i>
                    <span>DMLI</span>
                </a>
            </li>
        </ul>
</section>
</aside>