{% for flashMessage in app.session.flashbag.get('dpdcResultatSuccess') %}
	<div role="alert" class="alert alert-success alert-dismissable disabled">
		<button data-dismiss="alert" class="close" type="button">×</button>
		<span style="margin-right:5px;" class="glyphicon glyphicon-ok"></span>
		<p style="display:inline-block;">{{ flashMessage }}</p>
	</div>
{% endfor %}
<script>
	{% if idResultat is defined and idResultat %}
		var url_resultat = {{ path('dpdc_resultat_modifier', {'id' : idResultat})|json_encode|raw }};
	{% else %}
		var url_resultat = {{ path('dpdc_resultat_ajouter')|json_encode|raw }};
	{% endif %}
	var errors = {{ errors }};	
</script>
<table class="table table-bordered table-striped">
	<tr class="info">
		<td>La date</td>
		<td>{{ month }}</td>
	</tr>
	<tr class="info">
		<td>Le titre</td>
		<td>{{ pointDeControle.titre }}</td>
	</tr>
	<tr class="info">
		<td>La description</td>
		<td>{{ pointDeControle.description }}</td>
	</tr>
	<tr class="info">
		<td>Utilisateur</td>
		<td>{{ user.displayName }}</td>
	</tr>
</table>
{% if idResultat is defined and idResultat %}
	<h3>Modifier les resultats</h3>
{% else %}
	<h3>Enregistrer les resultats</h3>
{% endif %}
{{ form_start(formResultat, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_errors(formResultat) }}
	<table class="table table-bordered table-striped">
		<tr class="info">
			<td>
				{% if form_errors(formResultat.reponse) | length %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ form_errors(formResultat.reponse) }}</strong>
					</div>
				{% endif %}
				{{ form_label(formResultat.reponse) }}
			</td>
			<td>{{ form_widget(formResultat.reponse) }}</td>
		</tr>
		<tr class="info">
			<td>
				{% if form_errors(formResultat.commentaire) | length %}
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong>{{ form_errors(formResultat.commentaire) }}</strong>
					</div>
				{% endif %}
				{{ form_label(formResultat.commentaire) }}
			</td>
			<td>{{ form_widget(formResultat.commentaire) }}</td>
		</tr>
		<tr class="info">
			<td></td>
			<td>
				<button id="saveResultat" type="button" class="btn btn-info" aria-label="Left Align">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Enregistrer
				</button>
			</td>
		</tr>
		{{ form_widget(formResultat.id) }}
		{{ form_widget(formResultat.idPoint) }}
		{{ form_widget(formResultat.month) }}
		{{ form_widget(formResultat.niveau) }}
	{#	{{ form_row(formResultat._token) }}#}
	</table>
{{ form_end(formResultat, {'render_rest' : false}) }}
<script src="{{ asset('bundles/dpdc/js/dpdc-resultat-ajouter.js') }}"></script>