{% extends 'ChecklistBundle:template:base.html.twig' %}

{% block title %}
    Choix d'action
{% endblock %}
{% block body %}
	{{ parent() }}	
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title">La liste des Magasins</h3>
				</div>
				<div class="panel-body">
					<p></p>
					<h4>Liste des Magasins</h4>
					<h4>Modifier un Magasin</h4>
					<p><a class="btn btn-danger pull-right" href="{{ path('checklist_magasin_magasins') }}">Magasins &raquo;</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Checklists</h3>
				</div>
				<div class="panel-body">
					<p></p>
					<h4>Liste des Checklists</h4>
					<h4>Ajouter, modifier ou activer/désactiver un Checklist</h4>
					<p><a class="btn btn-primary pull-right" href="{{ path('checklist_checklist_checklists') }}">Checklists &raquo;</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Points de contrôle</h3>
				</div>
				<div class="panel-body">
					<p></p>
					<h4>La liste des Points de contrôle</h4>
					<h4>Ajouter, modifier ou activer/désactiver un Point de contrôle</h4>
					<p><a class="btn btn-info pull-right" href="{{ path('checklist_point_de_controle_points_de_controle') }}">Points de contrôle &raquo;</a></p>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Rapports</h3>
				</div>
				<div class="panel-body">
					<p></p>
					<h4>Rapports de visites</h4>
					<p><a class="btn btn-primary pull-right" href="{{ path('checklist_rapport_rapports') }}">Rapports &raquo;</a></p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
