<footer class="main-footer">
    <i>Cette application a été développée par le Pôle WEB - Univers NOZ © {{ 'now'|date('Y') }}.
        Pour nous contacter : <a href="mailto:poleweb@noz.fr">envoyez-nous un mail</a></i>
</footer>