<ul class="sidebar-menu">
   	{% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsEurope1) or (app.user.EmailCanonical in mailsEurope2) or (app.user.EmailCanonical in mailsEurope3)
   	 or (app.user.EmailCanonical in mailsEurope4) or (app.user.EmailCanonical in mailsEurope5) or (app.user.EmailCanonical in mailsFranceBelgique) or (app.user.EmailCanonical in mailsComptesCles)
   	 or (app.user.EmailCanonical in mailsTextile) or (app.user.EmailCanonical in mailsMogador1) or (app.user.EmailCanonical in mailsMogador2) %}
    <li class="{% if app.request.attributes.get('_route') starts with 'indicateurs_dam_equipe_sedentaire' %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-tree"></i>
            <span>EQUIPES SEDENTAIRES</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
        	{% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) %}
            <li class="{% if app.request.uri ends with 'sedentaires' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipes', {'equipes':'sedentaires'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentaires' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Toutes les équipes
                </a>
            </li>
            {% endif %}
            {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsEurope1)) %}            
            <li class="{% if app.request.uri ends with 'sedentaireeurope1' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentaireeurope1'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentaireeurope1' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Europe 1
                </a>
            </li>
            {% endif %}
            {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsEurope2)) %}            
            <li class="{% if app.request.uri ends with 'sedentaireeurope2' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentaireeurope2'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentaireeurope2' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Europe 2
                </a>
            </li>
            {% endif %}
            {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsEurope3)) %}            
            <li class="{% if app.request.uri ends with 'sedentaireeurope3' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentaireeurope3'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentaireeurope3' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Europe 3
                </a>
            </li>
            {% endif %}
            {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsEurope4)) %}            
            <li class="{% if app.request.uri ends with 'sedentaireeurope4' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentaireeurope4'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentaireeurope4' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Europe 4
                </a>
            </li>
            {% endif %}
            {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsEurope5)) %}            
            <li class="{% if app.request.uri ends with 'sedentaireeurope5' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentaireeurope5'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentaireeurope5' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Europe 5
                </a>
            </li>
           {% endif %}
           {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsFrance)) %}            
            <li class="{% if app.request.uri ends with 'sedentairefrance' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentairefrance'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentairefrance' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire France
                </a>
            </li>
             {% endif %}
           {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsBelgique)) %}            
            <li class="{% if app.request.uri ends with 'sedentairebelgique' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentairebelgique'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentairebelgique' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Belgique
                </a>
            </li>
             {% endif %}
            {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsComptesCles)) %}            
            <li class="{% if app.request.uri ends with 'sedentairegc' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentairegc'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentairegc' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Comptes-clés
                </a>
            </li>
            {% endif %}
             {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsTextile)) %}            
            <li class="{% if app.request.uri ends with 'sedentairetextile' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentairetextile'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentairemkg' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Textile
                </a>
            </li>
            {% endif %}
            {% if ((app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerSedentaire) or (app.user.EmailCanonical in mailsMogador)) %}            
            <li class="{% if app.request.uri ends with 'sedentairemogador' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_sedentaires', {'equipe':'sedentairemogador'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedentairemogador1' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Mogador
                </a>
            </li>
            {% endif %}
        </ul>
                    
    </li>
    {% endif %}
    
       	{% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) or (app.user.EmailCanonical in mailsUK) or (app.user.EmailCanonical in mailsAllemagne) or (app.user.EmailCanonical in mailsEspagne)
   	 or (app.user.EmailCanonical in mailsItalie) or (app.user.EmailCanonical in mailsFranceEst) or (app.user.EmailCanonical in mailsFranceOuest) or (app.user.EmailCanonical in mailsFranceSud) %}
    <li class="{% if app.request.attributes.get('_route') starts with 'indicateurs_dam_equipe_terrain' %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-tree"></i>
            <span>EQUIPES TERRAINS</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
           	{% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) %}
            <li class="{% if app.request.uri ends with 'terrain' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipes', {'equipes':'terrains'}) }}">
                    <i class="fa{% if app.request.uri ends with 'terrains' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Toutes les équipes
                </a>
            </li>
            {% endif %}
            {% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) or(app.user.EmailCanonical in mailsUK) %}
            <li class="{% if app.request.uri ends with 'teruk' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_terrains', {'equipe':'teruk'}) }}">
                    <i class="fa{% if app.request.uri ends with 'teruk' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Terrain Royaume Unis
                </a>
            </li>
            {% endif %}
            {% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) or(app.user.EmailCanonical in mailsAllemagne) %}
            <li class="{% if app.request.uri ends with 'terallemagne' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_terrains', {'equipe':'terallemagne'}) }}">
                    <i class="fa{% if app.request.uri ends with 'terallemagne' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Terrain Allemagne
                </a>
            </li>
            {% endif %}
            {% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) or(app.user.EmailCanonical in mailsEspagne) %}
            <li class="{% if app.request.uri ends with 'terespagne' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_terrains', {'equipe':'terespagne'}) }}">
                    <i class="fa{% if app.request.uri ends with 'terespagne' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Terrain Espagne
                </a>
            </li>
            {% endif %}
            {% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) or(app.user.EmailCanonical in mailsItalie) %}
            <li class="{% if app.request.uri ends with 'teritalie' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_terrains', {'equipe':'teritalie'}) }}">
                    <i class="fa{% if app.request.uri ends with 'teritalie' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Terrain Italie
                </a>
            </li>
            {% endif %}
            {% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) or(app.user.EmailCanonical in mailsFranceEst) %}
            <li class="{% if app.request.uri ends with 'franceest' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_terrains', {'equipe':'franceest'}) }}">
                    <i class="fa{% if app.request.uri ends with 'franceest' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    France Est
                </a>
            </li>
            {% endif %}
            {% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) or(app.user.EmailCanonical in mailsFranceOuest) %}
            <li class="{% if app.request.uri ends with 'franceouest' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_terrains', {'equipe':'franceouest'}) }}">
                    <i class="fa{% if app.request.uri ends with 'franceouest' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    France Ouest
                </a>
            </li>
            {% endif %}
            {% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerTerrain) or(app.user.EmailCanonical in mailsFranceSud) %}
            <li class="{% if app.request.uri ends with 'francesud' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_terrains', {'equipe':'francesud'}) }}">
                    <i class="fa{% if app.request.uri ends with 'francesud' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    France Sud
                </a>
            {% endif %}
            </li>
        </ul>
        
        
       	{% if (app.user.EmailCanonical in mailsAllAccess) or (app.user.EmailCanonical in mailsManagerRoumanie) %}
    <li class="{% if app.request.attributes.get('_route') starts with 'indicateurs_dam_equipe_roumanie' %}active {% endif %}treeview">
        <a href="#">
            <i class="fa fa-tree"></i>
            <span>EQUIPES SEDENTAIRE ROUMANIE</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{% if app.request.uri ends with 'roumanie' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipes', {'equipes':'roumanie'}) }}">
                    <i class="fa{% if app.request.uri ends with 'roumanie' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Toutes les équipes
                </a>
            </li>
            <li class="{% if app.request.uri ends with 'sedallemagne_bv' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedallemagne_bv'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedallemagne_bv' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Allemagne BV
                </a>
            </li>
            <li class="{% if app.request.uri ends with 'sedallemagne_kt' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedallemagne_kt'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedallemagne_kt' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Allemagne KT
                </a>
            </li>
			<li class="{% if app.request.uri ends with 'sedcoachdare' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedcoachdare'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedcoachdare' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Coach Dare
                </a>
            </li>                       
             <li class="{% if app.request.uri ends with 'sedeuropeest_is' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedeuropeest_is'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedeuropeest_is' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Europe de l'Est
                </a>
            </li> 
             <li class="{% if app.request.uri ends with 'sedhongrie_bv' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedhongrie_bv'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedhongrie_bv' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Hongrie
                </a>
            </li>                         
             <li class="{% if app.request.uri ends with 'sedmediterrane_bv' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedmediterrane_bv'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedmediterrane_bv' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Méditerranée BV
                </a>
            </li>
             <li class="{% if app.request.uri ends with 'sedmediterrane_ct' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedmediterrane_ct'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedmediterrane_ct' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                    Sédentaire Méditerranée CT
                </a>
            </li>
            <li class="{% if app.request.uri ends with 'sedmediterrane_is' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedmediterrane_is'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedmediterrane_is' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                   Sédentaire Méditerranée IS
                </a>
            </li>                      
             <li class="{% if app.request.uri ends with 'sedroumanie_is' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedroumanie_is'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedroumanie_is' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                   Sédentaire Roumanie
                </a>
            </li>       
             <li class="{% if app.request.uri ends with 'sedscandinavia1_is' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedscandinavia1_is'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedscandinavia1_is' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                   Sédentaire Scandinavie 1
                </a>
            </li>    
             <li class="{% if app.request.uri ends with 'sedscandinavia2_is' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedscandinavia2_is'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedscandinavia2_is' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                   Sédentaire Scandinavie 2
                </a>
            </li>    
             <li class="{% if app.request.uri ends with 'sedturquie1_ct' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedturquie1_ct'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedturquie1_ct' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                   Sédentaire Turquie 1
                </a>
            </li>	
             <li class="{% if app.request.uri ends with 'sedturquie2_ct' %}active{% endif %}">
                <a href="{{ path('indicateurs_dam_equipe_roumanie', {'equipe':'sedturquie2_ct'}) }}">
                    <i class="fa{% if app.request.uri ends with 'sedturquie2_ct' %} fa-dot-circle-o active{% else %} fa fa-circle-o{% endif %}"></i>
                   Sédentaire Turquie 2
                </a>
            </li>
        </ul>        
            {% endif %}
        
        
    </li>
  {#  <li class="{% if app.request.attributes.get('_route') starts with 'groupe' %}active {% endif %}treeview">
        <a href="{{ path('affichage_tv') }}">
            <i class="fa fa-list"></i>
            <span>VUE TV DAM</span>
        </a>
    </li> #}
        {% endif %}
    
</ul>