{% extends "DDRCBundle::base.html.twig" %}

{% block body -%}
    <h1>You have successfully sent a payback request with the following detailes:</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Montant du remboursement </th>
                <td>{{ entity.paybackAmount }}</td>
            </tr>
            
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ entity.address }}</td>
            </tr>
        </tbody>
    </table>

        <div class="record_actions">

            {{ form(delete_form) }}
        </div>
{% endblock %}