		<table class="table table-striped table-hover ">
			{% if nbResultat > 1 and form.numeroDuCaisse is defined %}
				<tr class="info">
					<td>	
						{{ form_label(form.numeroDuCaisse) }}					
					</td>					
					<td>
						{{ form_widget(form.numeroDuCaisse) }}					
					</td>
				</tr>
			{% endif %}
			<tr class="info">
				<td>	
					{{ form_label(form.flagAccomplie, pointdecontrole.action) }}
					{% if form_errors(form.flagAccomplie) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.flag_accomplie) }}</strong>
						</div>	
					{% endif %}						
				</td>					
				<td>
					{{ form_widget(form.flagAccomplie) }}
				</td>
			</tr>
			<tr class="info">
				<td>	
					{{ form_label(form.sources, "Copie des sources sur le poste") }}
					{% if form_errors(form.sources) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.sources) }}</strong>
						</div>	
					{% endif %}							
				</td>					
				<td>
					{{ form_widget(form.sources) }}
				</td>
			</tr>
			{% if form.vars['value'].fichierUn %}
			<tr class="info">
				<td>
					<p><label>fichier joint existant</label></p>
					 (joignez en un autre pour le changer)
				</td>					
				<td>
					<a href="{{ asset('uploads/attachments/checklist/'~form.vars['value'].visites.id~'/'~form.vars['value'].pointsDeControle.id~'/'~form.vars['value'].fichierUn) }}">Télécharger le fichier</a>
				</td>
			</tr>
			{% endif %}
			<tr class="info">
				<td>	
					{{ form_label(form.fichierUn, "Joindre la capture d’écran.") }}
					{% if form_errors(form.fichierUn) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.fichierUn) }}</strong>
						</div>	
					{% endif %}								
				</td>					
				<td>
					{{ form_widget(form.fichierUn) }}
				</td>
			</tr>
			{% if form.vars['value'].fichierDeux %}
			<tr class="info">
				<td>
					<p><label>fichier joint existant</label></p>
					 (joignez en un autre pour le changer)
				</td>					
				<td>
					<a href="{{ asset('uploads/attachments/checklist/'~form.vars['value'].visites.id~'/'~form.vars['value'].pointsDeControle.id~'/'~form.vars['value'].fichierDeux) }}">Télécharger le fichier</a>
				</td>
			</tr>
			{% endif %}
			<tr class="info">
				<td>		
					{{ form_label(form.fichierDeux, "Joindre un fichier") }}
					{% if form_errors(form.fichierDeux) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.fichierDeux) }}</strong>
						</div>	
					{% endif %}									
				</td>					
				<td>
					{{ form_widget(form.fichierDeux) }}
				</td>
			</tr>
			<tr class="info">
				<td>			
					{{ form_label(form.reponse, pointdecontrole.question) }}
					{% if form_errors(form.reponse) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(form.reponse) }}</strong>
						</div>	
					{% endif %}									
				</td>					
				<td>
					{{ form_widget(form.reponse) }}
				</td>
			</tr>
		</table>
