{% extends 'ChecklistBundle:template:base.html.twig' %}
	
{% block title %}
    {{ title }}
{% endblock %}
	
{% block body %}	

	{{ parent() }}

    <div class="table-div-60">
		<H1>{{pointdecontrole.nom}}</h1>
		<p>{{pointdecontrole.libelle}}</p>
		{{ form_start(forms, {'attr': {'novalidate': 'novalidate'}}) }}	
	    {{ form_errors(forms) }}
	    
	  	{% for form in forms %}
		  	{% if form.vars.name|truncate ( 9, false, '') == 'resultat_' and pointdecontrole.type == constant('TYPE_VISUEL', pointdecontrole)%}
		    	{% include 'ChecklistBundle:planning:controleVisuel.html.twig' with {'form': form, 'pointdecontrole': pointdecontrole, 'nb' : form.vars.name, 'nbResultat' : nbResultat} only %}
		  	{% elseif form.vars.name|truncate ( 9, false, '') == 'resultat_' and pointdecontrole.type == constant('TYPE_INSTALLATION_LOGICIEL', pointdecontrole)%} 
		    	{% include 'ChecklistBundle:planning:installationDeLogiciel.html.twig' with {'form': form, 'pointdecontrole': pointdecontrole, 'nb' : form.vars.name, 'nbResultat' : nbResultat} only %}
		  	{% elseif form.vars.name|truncate ( 9, false, '') == 'resultat_' and pointdecontrole.type == constant('TYPE_ACTION', pointdecontrole)%} 
		    	{% include 'ChecklistBundle:planning:actionAMener.html.twig' with {'form': form, 'pointdecontrole': pointdecontrole, 'nb' : form.vars.name, 'nbResultat' : nbResultat} only %}
		  	{% elseif form.vars.name|truncate ( 9, false, '') == 'resultat_' and pointdecontrole.type == constant('TYPE_RETOUR_INFO', pointdecontrole)%}
		    	{% include 'ChecklistBundle:planning:controleAvecRetourDInfo.html.twig' with {'form': form, 'pointdecontrole': pointdecontrole, 'nb' : form.vars.name, 'nbResultat' : nbResultat} only %}		    
			{% endif %}
		{% endfor %} 
	    
		<table width="100%">
			<tr class="info">
				<td>	
					{{ form_label(forms.email, "Email") }}
					{% if form_errors(forms.email) | length %}
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">×</button>
							<strong>{{ form_errors(forms.email) }}</strong>
						</div>	
					{% endif %}									
				</td>					
				<td>
					{{ form_widget(forms.email) }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form_widget(forms.save) }}
				</td>
				<td>
					{{ form_widget(forms.finaliser) }}
				</td>
			</tr>
		</table>
		
	    {{ form_end(forms) }}
    </div>
    
{% endblock %}