{%set titre ='Outil de l\'Ecole de Formation' %}
{%set sousTitre ='Demande de formation' %}
{%set titreOnglet= 'EFN' %}
{%set numVersion= '1.0' %}
{%set lienAcceuil= path('efn_demande_formation_formulaire') %}

{% extends "::layout.html.twig" %}

{% block title %}
 | {{ parent() }}
{% endblock %}

{% block suivietudes_menu %}
  <!--              
<nav id="se_nav" class="navbar {%if app.environment == "recette"%} navbar-default {%else%} navbar-inverse{%endif%}" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
           
        </ul>
    </div>
</nav> -->
<!--
<div id="triangle-l"></div> 
<div id="triangle-r"></div>
-->
{% endblock %}

{% block body %}
        {% block suivietudes_body %} {% endblock %}
{% endblock %}