{% extends 'CovoiturageBundle:layout:base.html.twig' %}

    {% block body %}
        <script src="{{ asset('bundles/covoiturage/js/co_voiturage_pro.js') }}"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBRjEuKghO8Mo7X7Ei4kjYpbcbyTzDF5Ng&libraries=places"></script>
        <script src="{{ asset('bundles/covoiturage/js/jquery.geocomplete.js') }}"></script>

        <section class="content-header">
            <h1>
                Proposer un trajet

            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Nouveau trajet</h3>
                        </div>
                        <form action="{{ path('creation_trajet_pro_success') }}" method="post" class="form-horizontal"
                              id="myform">

                            <div class="box-body">
                                <!-- adresse depart -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.depart) }}</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.depart) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label id="newDepart" class="col-sm-3 control-label">Précisez une autre
                                            adresse:</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-sm" name="inputNewDepart"
                                                   id="inputNewDepart" required="required"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- adresse depart -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.arrivee) }}</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.arrivee) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label id="newArrivee" class="col-sm-3 control-label">Précisez une autre
                                            adresse:</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-sm" name="inputNewArrivee"
                                                   id="inputNewArrivee" required="required"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- Date Aller-->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Date Aller </label>
                                        <div class="col-sm-4">
                                            <div class="input-group date" data-provide="datepicker">
                                                <input type="text" id="inputDate" name="date_aller"
                                                       class="form-control">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="horaire">
                                            <div class="col-sm-1">
                                                <label>Heure:</label>
                                            </div>
                                            <div class="col-sm-1">
                                                <input id='timepickerDepart_aller' class="input-small" type='text'
                                                       name="debut"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <input id='timepickerArrivee_aller' class="input-small" type='text'
                                                       name="debut1"/>
                                            </div>
                                        </div>
                                        <label class="col-sm-1">{{ form_label(form.retour) }} </label>
                                        <div class="col-sm-1">
                                            {{ form_widget(form.retour) }}
                                        </div>

                                    </div>
                                </div>
                                <!-- Date Retour-->
                                <div class="row" id="date_retour">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Date Retour </label>
                                        <div class="col-sm-4">
                                            <div class="input-group date" data-provide="datepicker">
                                                <input type="text" id="inputDate2" name="date_retour"
                                                       class="form-control">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <label>Heure:</label>
                                        </div>
                                        <div class="col-sm-1">
                                            <input id='timepickerDepart_retour' class="input-small" type='text'
                                                   name="debut2"/>
                                        </div>
                                        <div class="col-sm-1">
                                            <input id='timepickerArrivee_retour' class="input-small" type='text'
                                                   name="debut3"/>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nombre de place disponible -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Nombre de place Disponible </label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" id="demo_vertical" type="text"
                                                   value="1" name="demo_vertical2">

                                        </div>

                                    </div>
                                </div>
                                <!-- Options -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Options </label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.autoroutes) }} {{ form_label(form.autoroutes) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> </label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.peages) }} {{ form_label(form.peages) }}
                                        </div>

                                    </div>
                                </div>
                                <!-- Commentaires -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Commentaire </label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.Comment) }} {{ form_label(form.Comment) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-xs-10"><a
                                                href="{{ path('covoiturage') }}">{{ form_row(form.Annuler) }}</a></div>
                                    <div class="col-xs-2">    {{ form_row(form.Valider) }}</div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script>
            //aller
            function displayHeureDepart(arriveeHeure) {
                if ($('#covoituragebundle_profil_depart').val() != '' && $('#covoituragebundle_profil_arrivee').val() != '') {

                    var adresseDepart = $('#covoituragebundle_profil_depart option[value=' + $('#covoituragebundle_profil_depart').val() + ']').text();
                    var adresseArrivee = $('#covoituragebundle_profil_arrivee option[value=' + $('#covoituragebundle_profil_arrivee').val() + ']').text();
                    var directionsService = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer();
                    var myOptions = {
                        zoom: 7,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    if ($('#covoituragebundle_profil_autoroutes:checked').length == '1') {
                        var optionCovAutoroutes = true;
                    } else {
                        var optionCovAutouroutes = false;
                    }
                    if ($('#covoituragebundle_profil_peages:checked').length == '1') {
                        var optionCovPeages = true;
                    } else {
                        var optionCovPeages = false;
                    }
                    var request = {
                        origin: adresseDepart,
                        destination: adresseArrivee,
                        travelMode: google.maps.DirectionsTravelMode.DRIVING,
                        avoidHighways: optionCovAutoroutes,
                        avoidTolls: optionCovPeages
                    };
                    directionsService.route(request, function (response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            // Display the duration:
// minutes are worth 60 seconds. Hours are worth 60 minutes.
                            var seconds = ((arriveeHeure.getHours()) * 60 * 60 + (arriveeHeure.getMinutes()) * 60) - response.routes[0].legs[0].duration.value;
                            var date = new Date(null);

                            date.setSeconds(seconds); // specify value for SECONDS here

                            $('#timepickerDepart_aller').val(date.toISOString().substr(11, 5));
                        }
                    });
                } else {
                    alert('Veuiller renseigner deux adresses');
                    $('#timepickerArrivee_retour').val('');
                    $('#timepickerDepart_retour').val('');
                    $('#timepickerArrivee_aller').val('');
                    $('#timepickerDepart_aller').val('');
                }
            }
            function displayHeureArrive(departHeure) {
                if ($('#covoituragebundle_profil_depart').val() != '' && $('#covoituragebundle_profil_arrivee').val() != '') {
                    var directionsService = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer();
                    var myOptions = {
                        zoom: 7,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    if ($('#covoituragebundle_profil_autoroutes:checked').length == '1') {
                        var optionCovAutoroutes = true;
                    } else {
                        var optionCovAutouroutes = false;
                    }
                    if ($('#covoituragebundle_profil_peages:checked').length == '1') {
                        var optionCovPeages = true;
                    } else {
                        var optionCovPeages = false;
                    }
                    var request = {
                        origin: 'paris',
                        destination: 'nantes',
                        travelMode: google.maps.DirectionsTravelMode.DRIVING,
                        avoidHighways: optionCovAutoroutes,
                        avoidTolls: optionCovPeages
                    };
                    directionsService.route(request, function (response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            // Display the duration:
// minutes are worth 60 seconds. Hours are worth 60 minutes.
                            var seconds = ((departHeure.getHours()) * 60 * 60 + (departHeure.getMinutes()) * 60) + response.routes[0].legs[0].duration.value;
                            var date = new Date(null);
                            date.setSeconds(seconds); // specify value for SECONDS here
                            $('#timepickerArrivee_aller').val(date.toISOString().substr(11, 5));

                        }
                    });
                } else {
                    alert('Veuiller renseigner deux adresses');
                    $('#timepickerArrivee_retour').val('');
                    $('#timepickerDepart_retour').val('');
                    $('#timepickerArrivee_aller').val('');
                    $('#timepickerDepart_aller').val('');
                }
            }
            //retour
            function displayHeureDepart1(arriveeHeure) {
                if ($('#covoituragebundle_profil_depart').val() != '' && $('#covoituragebundle_profil_arrivee').val() != '') {
                    var directionsService = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer();
                    var myOptions = {
                        zoom: 7,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    if ($('#covoituragebundle_profil_autoroutes:checked').length == '1') {
                        var optionCovAutoroutes = true;
                    } else {
                        var optionCovAutouroutes = false;
                    }
                    if ($('#covoituragebundle_profil_peages:checked').length == '1') {
                        var optionCovPeages = true;
                    } else {
                        var optionCovPeages = false;
                    }
                    var request = {
                        origin: 'paris',
                        destination: 'nantes',
                        travelMode: google.maps.DirectionsTravelMode.DRIVING,
                        avoidHighways: optionCovAutoroutes,
                        avoidTolls: optionCovPeages

                    };
                    directionsService.route(request, function (response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            // Display the duration:
// minutes are worth 60 seconds. Hours are worth 60 minutes.
                            var seconds = ((arriveeHeure.getHours()) * 60 * 60 + (arriveeHeure.getMinutes()) * 60) - response.routes[0].legs[0].duration.value;
                            var date = new Date(null);

                            date.setSeconds(seconds); // specify value for SECONDS here

                            $('#timepickerDepart_retour').val(date.toISOString().substr(11, 5));
                        }
                    });
                } else {
                    alert('Veuiller renseigner deux adresses');
                    $('#timepickerArrivee_retour').val('');
                    $('#timepickerDepart_retour').val('');
                    $('#timepickerArrivee_aller').val('');
                    $('#timepickerDepart_aller').val('');
                }
            }
            function displayHeureArrive1(departHeure) {
                if ($('#covoituragebundle_profil_depart').val() != '' && $('#covoituragebundle_profil_arrivee').val() != '') {
                    var directionsService = new google.maps.DirectionsService();
                    var directionsDisplay = new google.maps.DirectionsRenderer();
                    var myOptions = {
                        zoom: 7,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    }
                    if ($('#covoituragebundle_profil_autoroutes:checked').length == '1') {
                        var optionCovAutoroutes = true;
                    } else {
                        var optionCovAutouroutes = false;
                    }
                    if ($('#covoituragebundle_profil_peages:checked').length == '1') {
                        var optionCovPeages = true;
                    } else {
                        var optionCovPeages = false;
                    }
                    var request = {
                        origin: 'paris',
                        destination: 'nantes',
                        travelMode: google.maps.DirectionsTravelMode.DRIVING,
                        avoidHighways: optionCovAutoroutes,
                        avoidTolls: optionCovPeages
                    };
                    directionsService.route(request, function (response, status) {
                        if (status == google.maps.DirectionsStatus.OK) {
                            // Display the duration:
// minutes are worth 60 seconds. Hours are worth 60 minutes.
                            var seconds = ((departHeure.getHours()) * 60 * 60 + (departHeure.getMinutes()) * 60) + response.routes[0].legs[0].duration.value;
                            var date = new Date(null);
                            date.setSeconds(seconds); // specify value for SECONDS here
                            $('#timepickerArrivee_retour').val(date.toISOString().substr(11, 5));

                        }
                    });
                } else {
                    alert('Veuiller renseigner deux adresses');
                    $('#timepickerArrivee_retour').val('');
                    $('#timepickerDepart_retour').val('');
                    $('#timepickerArrivee_aller').val('');
                    $('#timepickerDepart_aller').val('');
                }
            }
            $(document).ready(function () {
                $(function () {

                    $("input[name='demo_vertical2']").TouchSpin({
                        verticalbuttons: true,
                        verticalupclass: 'glyphicon glyphicon-plus',
                        verticaldownclass: 'glyphicon glyphicon-minus',
                        min: 1,
                        max: 4
                    });
                    $('[data-toggle="popover"]').popover({html: true});
                    $('#timepickerDepart_aller').timepicker({
                        timeFormat: 'HH:mm',
                        startTime: new Date(0, 0, 0, 7, 0, 0),
                        scrollbar: true,
                        change: function (time) {
                            displayHeureArrive(time);
                        }
                    });
                    $('#timepickerArrivee_aller').timepicker({
                        timeFormat: 'HH:mm',
                        startTime: new Date(0, 0, 0, 7, 0, 0),
                        scrollbar: true,
                        change: function (time) {
                            displayHeureDepart(time)
                        }
                    });
                    $('#timepickerDepart_retour').timepicker({
                        timeFormat: 'HH:mm',
                        startTime: new Date(0, 0, 0, 7, 0, 0),
                        scrollbar: true,
                        change: function (time) {
                            displayHeureArrive1(time);
                        }
                    });
                    $('#timepickerArrivee_retour').timepicker({
                        timeFormat: 'HH:mm',
                        startTime: new Date(0, 0, 0, 7, 0, 0),
                        scrollbar: true,
                        change: function (time) {
                            displayHeureDepart1(time)
                        }
                    });
                    $('#inputDate').keypress(function (e) {
                        return false;
                    });

                    $('#inputDate').datepicker({
                        minDate: 0,
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
                            'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'],
                        monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                            'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'déc.'],
                        dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                        dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'dd-mm-yy',
                        firstDay: 1,
                        onSelect: function () {
                            $('#myform').bootstrapValidator('revalidateField', 'date_aller');
                        },
                    });
                    $('#timepicker2').timepicki({
                        start_time: ["07", "00"],
                        show_meridian: false,
                        step_size_minutes: 15,
                        overflow_minutes: true,
                        increase_direction: 'up',
                        reset: false,
                    });

                    $('#inputDate2').keypress(function (e) {
                        return false;
                    });


                    $('#inputDate2').datepicker({
                        minDate: 0,
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
                            'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'],
                        monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                            'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'déc.'],
                        dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                        dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'dd-mm-yy',
                        firstDay: 1,
                        onSelect: function () {
                            var pickDate = $("#inputDate").val();
                            var pickDate2 = $("#inputDate2").val();
                            if (pickDate > pickDate2) {
                                alert("Vous ne pouvez pas choisir cette Date!!");


                            } else {
                                alert(pickDate);
                                $("#inputDate2").datepicker({minDate: pickDate});
                                $('#myform').bootstrapValidator('revalidateField', 'date_retour');
                            }

                        },
                    });
                });
                $("#inputNewDepart").geocomplete();
                $("#inputNewArrivee").geocomplete();


                $('#covoituragebundle_profil_depart').on('change', function(){
                    $('#timepickerArrivee_retour').val('');
                    $('#timepickerDepart_retour').val('');
                    $('#timepickerArrivee_aller').val('');
                    $('#timepickerDepart_aller').val('');
                });
                $('#covoituragebundle_profil_arrivee').on('change', function(){
                    $('#timepickerArrivee_retour').val('');
                    $('#timepickerDepart_retour').val('');
                    $('#timepickerArrivee_aller').val('');
                    $('#timepickerDepart_aller').val('');
                });
                $('#myform').bootstrapValidator({
                    err: {
                        container: '#messages'
                    },
                    fields: {
                        "covoituragebundle_profil[depart]": {
                            validators: {
                                notEmpty: {
                                    message: 'Ce champ est obligatoire!'
                                },
                            }
                        },

                        "covoituragebundle_profil[arrivee]": {
                            validators: {
                                notEmpty: {
                                    message: 'Ce champ est obligatoire!'
                                },
                            }
                        },
                        "inputNewDepart": {
                            validators: {
                                notEmpty: {
                                    message: 'ce champ est obligatoire'
                                },
                            }
                        },
                        "inputNewArrivee": {
                            validators: {
                                notEmpty: {
                                    message: 'ce champ est obligatoire'
                                },
                            }
                        },
                        "date_aller": {
                            validators: {
                                notEmpty: {
                                    message: 'ce champ est obligatoire'
                                },
                                date: {
                                    format: 'DD-MM-YYYY',
                                    message: 'veuillez entrer une date valide'
                                }
                            }
                        },
                        "date_retour": {
                            validators: {
                                notEmpty: {
                                    message: 'ce champ est obligatoire'
                                },
                                date: {
                                    format: 'DD-MM-YYYY',
                                    message: 'veuillez entrer une date valide'
                                }
                            }
                        }
                    }
                });
                $('#date_retour').hide();
                $('#covoituragebundle_profil_retour').on("change", function () {
                    if ($("#covoituragebundle_profil_retour:checked").length == 1) {
                        $('#date_retour').show();
                    }
                    else {
                        $('#date_retour').hide();
                    }
                });
                $('#covoituragebundle_profil_autoroutes').on("change", function () {
                    alert('Veuillez renseigner l\'heure depart ou bien l\'heure d\'arrivée');
                    $('#timepickerArrivee_retour').val('');
                    $('#timepickerDepart_retour').val('');
                    $('#timepickerArrivee_aller').val('');
                    $('#timepickerDepart_aller').val('');

                });
                $('#covoituragebundle_profil_peages').on("change", function () {
                    alert('Veuillez renseigner l\'heure depart ou bien l\'heure d\'arrivée');
                    $('#timepickerArrivee_retour').val('');
                    $('#timepickerDepart_retour').val('');
                    $('#timepickerArrivee_aller').val('');
                    $('#timepickerDepart_aller').val('');
                });

                /*  $('#covoituragebundle_profil_depart').on('change', function () {
                 if ($('#covoituragebundle_profil_depart').val() == -1) {
                 if ($('#covoituragebundle_profil_arrivee').val() == -1) {
                 alert('inputNewDepart');
                 $('#horaire').show();
                 } else if ($('#covoituragebundle_profil_arrivee').val() != '') {
                 alert('liste');
                 $('#horaire').show();
                 } else {
                 alert('vide');
                 $('#horaire').hide();
                 }
                 } else if ($('#covoituragebundle_profil_arrivee').val() != '') {
                 if ($('#covoituragebundle_profil_arrivee').val() == -1) {
                 alert('inputNewDepart');
                 $('#horaire').show();
                 } else if ($('#covoituragebundle_profil_arrivee').val() != '') {
                 alert('liste');
                 $('#horaire').show();
                 } else {
                 alert('vide');
                 $('#horaire').hide();
                 }
                 }
                 else {
                 $('#horaire').hide();
                 }
                 });
                 $('#covoituragebundle_profil_arrivee').on('change', function () {
                 if ($('#covoituragebundle_profil_arrivee').val() == -1) {
                 if ($('#covoituragebundle_profil_depart').val() == -1) {
                 alert('inputNewDepart');
                 $('#horaire').show();
                 } else if ($('#covoituragebundle_profil_depart').val() != '') {
                 alert('liste');
                 $('#horaire').show();
                 } else {
                 alert('vide');
                 $('#horaire').hide();
                 }
                 } else if ($('#covoituragebundle_profil_depart').val() != '') {
                 if ($('#covoituragebundle_profil_depart').val() == -1) {
                 alert('inputNewDepart');
                 $('#horaire').show();
                 } else if ($('#covoituragebundle_profil_depart').val() != '') {
                 alert('liste');
                 $('#horaire').show();
                 } else {
                 alert('vide');
                 $('#horaire').hide();
                 }
                 }
                 else {
                 $('#horaire').hide();
                 }
                 }); */

            });
        </script>
    {% endblock %}