{% extends 'CovoiturageBundle:layout:base.html.twig' %}
    {% block body %}
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBRjEuKghO8Mo7X7Ei4kjYpbcbyTzDF5Ng"></script>
        <section class="content-header">
            <h1>
                Détails du trajet
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <div class="box-title">{{ result.ville_depart }} - {{ result.ville_arrivee }} -
                                du {{ result.date }}<div style="float:right" >{{ result.conducteur }}</div>
                        </div></div>
                        <form action="{{ path('reservation_trajet_success') }}" method="post" class="form-horizontal"
                              id="myform">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <table class="table table-striped table-bordered table-hover table-responsive">

                                            <tbody>
                                            <tr>
                                                <!-- adresse depart -->
                                                <td>
                                                    <B> Adresse Depart: </B>
                                                </td>
                                                <td id="ville1" value="{{ result.villeDepart }}">
                                                    {{ result.villeDepart }}
                                                </td>
                                                <td>
                                                    <B> Départ prévu à: </B>
                                                </td>
                                                <td>
                                                    {{ result.heureDepart }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <!-- adresse arrivée -->
                                                <td>
                                                    <B> Adresse Arrivée: </B>
                                                </td>
                                                <td>
                                                    {{ result.villeArrivee }}
                                                </td>
                                                <td>
                                                    <B> Arrivée prévu à: </B>
                                                </td>
                                                <td>
                                                    <div id="duration"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <!-- adresse arrivée -->
                                                <td>
                                                    <label class="control-label"><B> Nombre de place
                                                            disponible: </B></label>
                                                </td>
                                                <td>
                                                    {{ result.NbrePlace }}
                                                </td>
                                                <td>
                                                    <label class="control-label"><B> Retour: </B></label>
                                                </td>
                                                <td>
                                                    {% if result.retour %}
                                                        <a href="http://localhost/applications_li/web/app_dev.php/covoiturage/detailsPro/{{ result.retour }}">
                                                            Oui </a>
                                                    {% else %}
                                                        Non
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <!-- Options -->
                                            <!-- Commentaires -->
                                            <tr>
                                                <!-- adresse arrivée -->
                                                <td class="col-sm-3">
                                                    <B> Options et Commentaires: </B>
                                                </td>
                                                <td colspan="3">
                                                    {{ result.commentaire }}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="map" style="width: 400px; height: 300px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-xs-10"><a
                                                href="{{ path('covoiturage') }}">{{ form_row(form.Annuler) }}</a></div>
                                    <div class="col-xs-2"><input name="id_trajet" value="{{ result.id }}"
                                                                 hidden> {{ form_row(form.Reserver) }}</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script type="text/javascript">
            function displayMaps(adresse1, adresse2, dateDepart,optionCovAutoroutes,optionCovPeages) {
                var directionsService = new google.maps.DirectionsService();
                var directionsDisplay = new google.maps.DirectionsRenderer();
                var myOptions = {
                    zoom: 7,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(document.getElementById("map"), myOptions);
                directionsDisplay.setMap(map);
                var request = {
                    origin: adresse1,
                    destination: adresse2,
                    travelMode: google.maps.DirectionsTravelMode.DRIVING,
                    avoidHighways: optionCovAutoroutes,
                    avoidTolls: optionCovPeages
                };
                directionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        // Display the distance:
                        // document.getElementById('distance').innerHTML +=
                        //   response.routes[0].legs[0].distance.value + " meters";
                        // Display the duration:
                        var hms = dateDepart;   // your input string
                        var a = hms.split(':'); // split it at the colons
// minutes are worth 60 seconds. Hours are worth 60 minutes.
                        var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 + response.routes[0].legs[0].duration.value;
                        var date = new Date(null);
                        date.setSeconds(seconds); // specify value for SECONDS here
                        document.getElementById('duration').innerHTML +=
                                date.toISOString().substr(11, 5);
                        directionsDisplay.setDirections(response);
                    }
                });
            }
            function displayMapsAdresse() {
                var str = window.location.href;
                var bdg = str.split("/");
                var pack = bdg[bdg.length - 1];
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "../getAdresse",
                    data: {pack: pack},
                    async: false,
                    cache: false,
                    error: function (jqXHR, textStatus, errorThrown) {
                    },
                    success: function (dataJson) {
                        displayMaps(dataJson[0], dataJson[1], dataJson[2],dataJson[3],dataJson[4])
                    }
                });
            }
            $(document).ready(function () {
                displayMapsAdresse();
                $(function () {
                    $('[data-toggle="popover"]').popover({html: true});
                });
            });
        </script>
    {% endblock %}