{% extends 'CovoiturageBundle:layout:base.html.twig' %}

    {% block body %}
        <script src="{{ asset('bundles/covoiturage/js/co_voiturage_pro.js') }}"></script>
        <section class="content-header">
            <h1>
                Mes futurs trajets
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Filtrer la liste</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <form action="{{ path('covoiturage') }}" method="post" class="form-horizontal" id="myform">
                            <div class="box-body">
                                <!-- adresse depart -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.depart) }}</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.depart) }}
                                        </div>
                                    </div>
                                </div>
                                <!-- adresse depart -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.arrivee) }}</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.arrivee) }}
                                        </div>

                                    </div>
                                </div>
                                <!-- Date Aller-->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Date Aller </label>
                                        <div class="col-sm-6">
                                            <div class="input-group date" data-provide="datepicker">
                                                <input type="text" id="inputDate" class="form-control">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>
                    En tant que conducteur
                </h3>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="example" class="table table-striped table-bordered table-hover table-responsive"
                               style="padding-left: 2px; width: 100%">
                            <thead>
                            <tr style="background-color: #00C0EF">
                                <td style="color: #ffffee"><strong>Date</strong></td>
                                <td style="color: #ffffee"><strong>Départ</strong></td>
                                <td style="color: #ffffee"><strong>Arrivé</strong></td>
                                <td style="color: #ffffee"><strong>Nbre de place disponible</strong></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if conducteur is empty %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center">Pas d'enregistrement</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% else %}
                                {% for item in conducteur %}
                                    <tr>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.ville_depart }}</td>
                                        <td>{{ item.ville_arrivee }}</td>
                                        <td>{{ item.NbrePlace }}</td>
                                        <td style="width: 8%">
                                            <div class="row" style="margin-left: 4px;">
                                                <a style="padding-left: 8px"
                                                   href="{{ path('remove_trajet', {'id': item.id}) }}"
                                                   onclick="return confirm('Vous voulez confirmer la suppression?')"
                                                   title="Supprimer un trajet">
                                                    <span class="glyphicon glyphicon-remove"
                                                          style="color:#CC3300"></span>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>
                    En tant que passager
                </h3>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="example2" class="table table-striped table-bordered table-hover table-responsive"
                               style="padding-left: 2px; width: 100%">
                            <thead>
                            <tr style="background-color: #00C0EF">
                                <td style="color: #ffffee"><strong>Date</strong></td>
                                <td style="color: #ffffee"><strong>Départ</strong></td>
                                <td style="color: #ffffee"><strong>Arrivé</strong></td>
                                <td style="color: #ffffee"><strong>Nbre de place disponible</strong></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if passager is empty %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td class="text-center">Pas d'enregistrement</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% else %}
                                {% for item in passager %}
                                    <tr>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.ville_depart }}</td>
                                        <td>{{ item.ville_arrivee }}</td>
                                        <td>{{ item.NbrePlace }}</td>
                                        <td>
                                            <a style="padding-left: 8px"
                                               href="{{ path('remove_reservation', {'id': item.id}) }}"
                                               onclick="return confirm('Vous voulez confirmer la suppression?')"
                                               title="Annuler la réservation">
                                                <span class="glyphicon glyphicon-remove" style="color:#CC3300"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function () {
                var table = $('#example').DataTable({
                    "bProcessing": false,
                    "bLengthChange": false,
                    paging: false, "info": false,
                    "language": {
                        "zeroRecords": "Pas d'enregistrement",
                        "infoEmpty": "Pas d'enregistrement",
                    },
                });
                $('#covoituragebundle_profil_depart').on( 'change', function () {
                    if($('#covoituragebundle_profil_depart').val() == -1){
                        $('#inputNewDepart').on( 'keyup', function () {
                            table.column(1).search( this.value ).draw();

                        });
                    }else{
                        var ch=$('#covoituragebundle_profil_depart option[value='+$('#covoituragebundle_profil_depart').val()+']').text();
                        table.column(1).search( ch ).draw();}
                } );
                $('#covoituragebundle_profil_arrivee').on( 'change', function () {
                    if($('#covoituragebundle_profil_arrivee').val() == -1){
                        $('#inputNewArrivee').on( 'keyup', function () {
                            table.column(2).search( this.value ).draw();
                        });
                    }else{
                        var ch1=$('#covoituragebundle_profil_arrivee option[value='+$('#covoituragebundle_profil_arrivee').val()+']').text();
                        table.column(2).search( ch1 ).draw();}
                } );
                $('#inputDate').on('change', function () {
                    table.column(0).search(this.value).draw();
                });
                var table1 = $('#example2').DataTable({
                    "bProcessing": false,
                    "bLengthChange": false,
                    paging: false, "info": false,
                    "language": {
                        "zeroRecords": "Pas d'enregistrement",
                        "infoEmpty": "Pas d'enregistrement",
                    },
                });
                $('#covoituragebundle_profil_depart').on('change', function () {
                    if ($('#covoituragebundle_profil_depart').val() == -1) {
                        $('#inputNewDepart').on('keyup', function () {
                            table1.column(1).search(this.value).draw();
                        });
                    } else {
                        table1.column(1).search(this.value).draw();
                    }
                });
                $('#covoituragebundle_profil_arrivee').on('change', function () {
                    if ($('#covoituragebundle_profil_arrivee').val() == -1) {
                        $('#inputNewArrivee').on('keyup', function () {
                            table1.column(2).search(this.value).draw();
                        });
                    } else {
                        table1.column(2).search(this.value).draw();
                    }
                });
                $('#inputDate').on('change', function () {
                    table1.column(0).search(this.value).draw();
                });
                $(function () {

                    $("input[name='demo_vertical2']").TouchSpin({
                        verticalbuttons: true,
                        verticalupclass: 'glyphicon glyphicon-plus',
                        verticaldownclass: 'glyphicon glyphicon-minus',
                        min: 1,
                        max: 4
                    });
                    $('[data-toggle="popover"]').popover({html: true});
                    $('#timepicker').timepicki({
                        start_time: ["07", "00"],
                        show_meridian: false,
                        step_size_minutes: 15,
                        overflow_minutes: true,
                        increase_direction: 'up',
                        reset: false,
                    });

                    $('#inputDate').keypress(function (e) {
                        return false;
                    });

                    $('#inputDate').datepicker({
                        minDate: 0,
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
                            'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'],
                        monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                            'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'déc.'],
                        dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                        dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'yy-mm-dd',
                        firstDay: 1,
                    });
                    $('#timepicker2').timepicki({
                        start_time: ["07", "00"],
                        show_meridian: false,
                        step_size_minutes: 15,
                        overflow_minutes: true,
                        increase_direction: 'up',
                        reset: false,
                    });

                    $('#inputDate2').keypress(function (e) {
                        return false;
                    });

                    $('#inputDate2').datepicker({
                        minDate: 0,
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
                            'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'],
                        monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                            'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'déc.'],
                        dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                        dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'dd-mm-yy',
                        firstDay: 1,
                    });
                });
                $('#date_retour').hide();
                $('#covoituragebundle_profil_retour').on("change", function () {
                    if ($("#covoituragebundle_profil_retour:checked").length == 1) {
                        $('#date_retour').show();
                    }
                    else {
                        $('#date_retour').hide();
                    }
                });
            });
        </script>
    {% endblock %}