<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ include('ChecklistBundle:template:header.html.twig') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}	
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{{ path('checklist_accueil') }}">Checklists</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
						<ul class="nav navbar-nav">
							<li class="{{ 'choix-de-action'|activeMenu }}"><a href="{{ path('checklist_accueil') }}">Acceuil</a></li>
						{% if (is_granted('ROLE_CHK_TECH'))%}
							<li class="{{ 'checklist/planning'|activeMenu }} {{ 'planning/fische-visite'|activeMenu }}"><a href="{{ path('checklist_planning_planning') }}">Le Planning</a></li>
						{% endif %}
						{% if (is_granted('ROLE_CHK_ADMIN'))%}
							<li class="{{ 'magasins'|activeMenu }} {{ 'magasin/'|activeMenu }}"><a href="{{ path('checklist_magasin_magasins') }}">Les Magasins</a></li>
							<li class="{{ 'checklists'|activeMenu }} {{ 'checklist/checklist'|activeMenu }}"><a href="{{ path('checklist_checklist_checklists') }}">Les Checklists</a></li>
							<li class="{{ 'points-de-controle'|activeMenu }} {{ 'checklist/point-de-controle'|activeMenu }}"><a href="{{ path('checklist_point_de_controle_points_de_controle') }}">Les Points De Contrôle</a></li>
							<li class="{{ 'rapports'|activeMenu }}"><a href="{{ path('checklist_rapport_rapports') }}">Les Rapports</a></li>
							<li class="{{ 'Hotline'|activeMenu }}"><a href="{{ path('checklist_magasin_magasins_hotline') }}">Hotline</a></li>
						{% endif %}
						{% if (is_granted('ROLE_CHK_HOTLINE')) or (is_granted('ROLE_CHK_ADMIN'))%}
							<li class="{{ 'visites-jour'|activeMenu }}"><a href="{{ path('checklist_planning_visite') }}">Visites du jour</a></li>						
						{% endif %}						
						</ul>
					</div>

				</div>
			</nav>			
		{% endblock %}		
        {{ include('ChecklistBundle:template:footer.html.twig') }}		
    </body>
</html>
