.style-form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0px 1px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.headcol {
    width:150px;
    left:0;
    top:auto;
    border-right: 0px none black;
    border-top-width:3px; /*only relevant for first row*/
    margin-top:-3px; /*compensate for top border*/
}
.chosen-container .chosen-container-single{
    width: 100%;
}

td.details-control {
    background: url('../images/down.png') no-repeat center center;
    cursor: pointer;
    background-size: contain;
}
tr.details td.details-control {
    background: url('../images/up.png') no-repeat center center;
    background-size: contain;
}
.bootstrap-touchspin .input-group-btn-vertical i {
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: 9px;
    font-weight: 400;
}

.bootstrap-touchspin .input-group-btn-vertical>.btn {
    display: block;
    float: none;
    width: auto;
    max-width: auto;
    padding: 6px 9px;
    margin-left: -1px;
    position: relative;
}