{% extends "PaieAdministrationBundle:layout:base.html.twig" %}
{% if page_title is not defined %} 
	{% set page_title= 'Outil du service Paie | Acceuil' %} 
{% endif %}


{% block body %}
    <div>
        <div class="row">
	    	{% if not is_granted("ROLE_PAIE_VENTE") %}
           <div class="col-md-4">       
                <ul class="nav nav-pills nav-stacked">
                    <li style=":hover{background-color: #eee;}">
                        <a href="{{ path('paie_societe')}}">
                           <img src="{{ cheminImage }}admin.png"/>
                            <h4>Administration des Sociétés</h4>
                        </a>
                    </li>
                </ul>
            </div>
           {% endif %}
            <div class="col-md-4">
                <ul class="nav nav-pills nav-stacked">
                    <li style=":hover{background-color: #eee;}">
                    	<a href="{{ path('paie_arrets_de_travail')}}">
                        	   {% image '@PaieAdministrationBundle/Resources/public/img/arret.jpg' %}
								    <img src="{{ asset_url }}" alt="Voir le tableau des arrêts de travail" />
					   		{% endimage %}    
                           <h4>Voir le tableau des arrets de travail</h4>
                        </a>
                   </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}