<a href="{{ path('paie_societe_export') }}">
	<button type="button" class="btn btn-info" aria-label="Left Align" id="exportSociete">
		<span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export
	</button>
</a>
<table class="table table-bordered table-striped tablesorter table-striped table-hover dataTable" id="listSociete">
	<thead>
		<tr> 
			<th class="filter-false" style="cursor: pointer;"></th>
			<th style="cursor: pointer;">code</th>							
			<th style="cursor: pointer;">etab</th>							
	        <th style="cursor: pointer;">nom</th>
	       	<th style="cursor: pointer;">n° Siret</th>
	        <th style="cursor: pointer;">Catégorie</th>
	        <th style="cursor: pointer;">Direction</th>
	        <th style="cursor: pointer;">Région</th>
	        <th style="cursor: pointer;">Ville</th>   
		</tr>
	</thead>
{% if listeSocietes|length > 0 %}
	{% for societe in listeSocietes %}
		{% if not societe.active %}
	<tr id="{{societe.id}}" class="sctInactive">
		{% else %}
	<tr id="{{societe.id}}">
		{% endif %}
		<td class="societe"><INPUT type="radio" name="id_societe" value="{{societe.id}}"></td>
		<td class="societe">{{societe.reference}}</td>	
		<td class="societe">{{societe.numEtablissement}}</td>
		<td class="societe">{{societe.raison}}</td>
		<td class="societe">{{societe.siret}}</td>
		<td class="societe">{{societe.categorie}}</td>
		<td class="societe">{{societe.direction}}</td>
		<td class="societe">{{societe.region}}</td>	
		<td class="societe">{{societe.ville}}</td>	
	</tr>
	{% endfor %}				
{% endif %}
</table>