{% extends "PaieAdministrationBundle:layout:base.html.twig" %}
	
{% block body %}	
	{{ parent() }}	
	
	
{% if page_title is not defined %} 
	{% set page_title= 'Outil du service Paie | Sociétés' %} 
{% endif %}
	
	{% stylesheets 'all/tablesorter/themes/blue/style.css'
		'@PaieAdministrationBundle/Resources/public/css/tabSociete.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	<script>
		var url_get_societe = {{ path('paie_get_societe')|json_encode|raw }}
		var url_get_liste_societe = {{ path('paie_societe_liste')|json_encode|raw }};
		var url_update_societe = {{ path('paie_societe_update')|json_encode|raw }}
	</script>
    {% javascripts 
		'all/tablesorter/js/jquery.tablesorter.min.js'
		'all/tablesorter/js/jquery.tablesorter.widgets.min.js'
		'@PaieAdministrationBundle/Resources/public/js/societe.js'
		 %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
    <div>
        <div class="row">
			<div class="col-sm-12">
			  {{ form_start(formsearch, {'attr': {'class': 'form-horizontal'}}) }}	
			
				<table class="table table-bordered table-striped dataTable">
					<thead>
						<tr>
	                        <th style="cursor: pointer;">{{ form_label(formsearch.direction,"Direction :", {'label_attr': {'class': 'control-label'}}) }}</th>
	                        <th style="cursor: pointer;">{{ form_label(formsearch.gestionnairePaie,"Gestionnaire Paie :", {'label_attr': {'class': 'control-label'}}) }}</th>
	                        <th style="cursor: pointer;">{{ form_label(formsearch.gestionnaireContrat,"Gestionnaire Contrat :", {'label_attr': {'class': 'control-label'}}) }}</th>
	                        <th style="cursor: pointer;">{{ form_label(formsearch.gestionnaireRH,"Gestionnaire RH :", {'label_attr': {'class': 'control-label'}}) }}</th>
						</tr>
					</thead>
					<tr>
						<td>
							{{ form_widget(formsearch.direction, { 'attr': {'class': 'widgetSearch'}}) }}
						</td>
						<td>
							{{ form_widget(formsearch.gestionnairePaie, { 'attr': {'class': 'widgetSearch'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.gestionnaireContrat, { 'attr': {'class': 'widgetSearch'} }) }}
						</td>
						<td>
							{{ form_widget(formsearch.gestionnaireRH, { 'attr': {'class': 'widgetSearch'} }) }}
						</td>
					</tr>
				</table>
				  {{ form_end(formsearch) }}
			</div>
        </div>

    <div>
        <div class="row">
			<div class="col-sm-4">
				<div id="detailSociete"></div>
			</div>
			<div class="col-sm-8">
				<div id="listeSocietes"></div>
			</div>
        </div>
    </div>
{% endblock %}