{% block body %}
    <script>
        $(function () {
            $("#addGroupBtn").on("click", function (event) {
                if ($('#child').val() == '' || $('#parent').val() == '') {
                    event.preventDefault();
                    alert("Groupe à ajouter et Groupe père sont obligatoires.");
                }
            });
        });
    </script>
    <section class="content-header">
        <h1>Ajouter une liaison</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <form action="{{ path('hierarchie-ajouter-groupe')}}" method="POST">
                            <div class="form-group">
                                <label>Groupe à ajouter*:</label>
                                <select id="child" name="child" required="required" class="form-control">
                                    <option value=""></option>
                                    {% for row in groupsNotIn %}
                                        <option value="{{ row['grpId'] }}">{{ row['grpLibelle'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Groupe père*:</label>
                                <select id="parent" name="parent" required="required" class="form-control">
                                    <option value=""></option>
                                    {% for key,name in list %}
                                        <option value="{{ key }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <input type="hidden" name="hieId" value="{{hieId}}" />
                            <div>
                                <input type="submit" class="btn btn-primary" value="Ajouter" id="addGroupBtn" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}