{% extends '@hierarchie/layout/base.html.twig' %}
{% set page_title = 'Exporter une hiérarchie' %}
{% block body %}
    <section class="content-header">
        <h1>Exporter une hiérarchie</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.hieLibelle, '', { "label":"Hierarchie:*" }) }}
                            {{ form_widget(form.hieLibelle, { 'value': selectedHie ,'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <button id="exportGrp" class="btn btn-primary" type="button" data-action="{{path('hierarchie-export-groupe')}}">Exporter les groupes</button>
                            <button id="exportUsr" class="btn btn-primary" type="button" data-action="{{path('hierarchie-export-utilisateur')}}">Exporter les utilisateurs</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

