{% extends '@hierarchie/layout/base.html.twig' %}
{% set page_title = 'Importer une hiérarchie' %}
{% block body %}
    <section class="content-header">
        <h1>Importer une hiérarchie</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form, {'attr': {'id': 'importForm'}}) }}
                        <div class="form-group">
                            {{ form_label(form.hieLibelle, '', { "label":"Hierarchie:*" }) }}
                            {{ form_widget(form.hieLibelle, { 'value': selectedHie ,'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            {{ form_widget(form.importFile, {'attr': {"class":"filestyle", "data-classButton":"btn btn-primary",
 "data-input":"true", "data-classIcon":"icon-plus", "data-buttonText":" Choisir le fichier excel"} }) }}
                        </div>
                        <div class="form-group">
                            <button id="importGrp" class="btn btn-primary" type="button">Importer les groupes</button>
                            <button id="importUsr" class="btn btn-primary" type="button">Importer les utilisateurs</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

