{% block body %}
    <script>
        $(function () {
            $("#modifyGroupBtn").on("click", function (event) {
                if ($('#child').val() == '' || $('#parent').val() == '') {
                    event.preventDefault();
                    alert("Groupe à modifier et Groupe père sont obligatoires.");
                }
            });
            $("#child").on("change", function () {
                $id = $("#child option:selected").val();
                $("#parent").empty();
                if ($id && $id != 100) {
                    $path = window.location.pathname;
                    $url = $path.split("/");
                    $url.pop();
                    $url.pop();
                    $url = $url.join('/');
                    $("#parent").load($url+'/ajouter-groupe-parent/' + $(this).val() + '/{{hieId}}');
                } else if ($id == 100) {
                    $("#parent").append('<option value="">---</option>');
                } else {
                    $("#parent").append('<option value="">Choisir un groupe</option>');
                }
            });
        });
    </script>
    <section class="content-header">
        <h1>Modifier une liaison</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <form action="{{ path('hierarchie-modifier-groupe')}}" method="POST">
                            <div class="form-group">
                                <label>Groupe à modifier*:</label>
                                <select id="child" name="child" class="pull-right form-control form-group">
                                    <option value=""></option>
                                    {% for key,name in list %}
                                        <option value="{{ key }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Groupe père*:</label>
                                <select id="parent" name="parent" class="pull-right form-control form-group">
                                    <option value="">Choisir un groupe</option>
                                </select>
                            </div>
                            <input type="hidden" name="hieId" value="{{hieId}}" />
                            <div>
                                <input type="submit" class="btn btn-primary" value="Modifier" id="modifyGroupBtn" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit-hierarchy"></div>
    </section>
{% endblock %}