{% block body %}
    <script>
        $(function () {
            $("#deleteBtn").on("click", function (event) {
                event.preventDefault();
                if ($('#child').val() == '') {
                    alert("Groupe à supprimer est obligatoire.");
                    $confirm = false;
                } else {
                    $confirm = confirm("Êtes vous sûr de vouloir supprimer cette liaison ?Tous les groupe fils seront supprimés de la hiérarchie");
                }
                if ($confirm == true) {
                    $('#deleteForm').submit();
                }
            });
            $("#child").on("change", function () {
                $id = $("#child option:selected").val();
                $("#parent").empty();
                if ($id) {
                    $path = window.location.pathname;
                    $url = $path.split("/");
                    $url.pop();
                    $url.pop();
                    $url = $url.join('/');
                    $("#parent").load($url+'/obtenir-groupe-parent/' + $(this).val() + '/{{hieId}}');
                }
            });
        });
    </script>
    <section class="content-header">
        <h1>Supprimer une liaison</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <form action="{{ path('hierarchie-supprimer-groupe')}}" method="POST" id="deleteForm">
                            <div class="form-group">
                                <label>Groupe à supprimer*:</label>
                                <select id="child" name="child" class="pull-right form-control form-group">
                                    <option value=""></option>
                                    {% for key,name in list %}
                                        <option value="{{ key }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-group">Groupe père:</label>
                                <span id="parent" class="pull-right"></span>
                            </div>
                            <input type="hidden" name="hieId" value="{{hieId}}" />
                            <div>
                                <input type="submit" class="btn btn-primary" value="Supprimer" id="deleteBtn" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}