{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Utilisateur droits' %}
{% block body %}
    <section class="content-header">
        <h1>{{ page_title }}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    {{user.givenname}} {{user.surname}}
                    {% if user.matricule %}
                        - {{user.matricule}}
                    {%endif%}
                </h3>
                <div class="col-xs-6  pull-right">
                    <a class="btn btn-success xhr-add-user-rights" href="{{ path('acl_utilisateur_add_rights',{'userId':userId}) }}" data-toggle="tooltip" data-placement="bottom" data-original-title="Ajouter une ressource pour {{user.givenname}} {{user.surname}}" id="ajouterDroits">Ajouter droit</a>
                </div>
            </div>
            <div class="box-body">
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable"Actes>
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">Ressource</th>
                                <th rowspan="1" colspan="1">Type</th>
                                <th rowspan="1" colspan="1">Tous utilisateurs</th>
                                <th rowspan="1" colspan="1">Groupe</th>
                                <th rowspan="1" colspan="1">Est autorisée</th>
                                <th rowspan="1" colspan="1">Père ressources</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">Ressource</th>
                                <th rowspan="1" colspan="1">Type</th>
                                <th rowspan="1" colspan="1">Tous utilisateurs</th>
                                <th rowspan="1" colspan="1">Groupe</th>
                                <th rowspan="1" colspan="1">Est autorisée</th>
                                <th rowspan="1" colspan="1">Père ressources</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </tfoot>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for key,item in data %}
                                <tr>

                                    <td>{{ item.resourceName }}</td>
                                    <td>{%if item.resourceType == 1%}Application{%else%}Route{%endif%}</td>
                                    <td>
                                        {%if item.userId is null and item.grpName is null%}
                                            <b>all users all groups-- LEVEL 4</b>
                                        {%elseif item.userId is not null and item.grpName is null%}<b>one user no grp-- LEVEL 1</b>
                                        {%elseif item.userId is  null and item.grpName is not null%}<b>all users in grp-- LEVEL 3</b>
                                        {%else%}<b>User in grp-- LEVEL 2</b>
                                        {%endif%}
                                    <td>{{ item.grpName }}</td>
                                    <td>{%if item.isAllowed==1%}<b>Oui</b>{%elseif item.resourceName is not null%}No{%endif%}</td>
                                    <td>{{ item.appName }}</td>
                                    <td>
                                        {%if item.isAllowed == 1%}
                                            <button class="btn btn-danger xhr-deactivate-user-resource" data-href="{{ path('acl_utilisateur_deactivate_resource', {'id': item.id}) }}">Rejeter</button>
                                        {%else%}
                                            <button class="btn btn-warning xhr-activate-user-resource" data-href="{{ path('acl_utilisateur_activate_resource', {'id': item.id}) }}">Permettre</button>
                                        {%endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div><!-- /.box-body -->
        </div>
    </section>
{% endblock %}