{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Utilisateurs' %}
{% block body %}
    <section class="content-header">
        <h1>{{ page_title }}</h1>
    </section>
    <section class="content">
        <a class="btn btn-success xhr-add-user-rights" href="{{ path('acl_utilisateur_add_rights') }}" rel="tooltip" title="Ajouter une ressource pour tous les utilisateurs dans une groupe" id="ajouterDroits">Ajouter droit</a>
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_length">
                            <label>Montrer 
                                <select name="filterSelect" class="form-control input-sm" id="filterSelect" data-url="{{path('acl_utilisateur_view')}}" data-page="{{page}}">
                                    <option value="actif" {%if status == "actif"%}selected="selected"{%endif%}>Actif</option>
                                    <option value="desactive" {%if status == "desactive"%}selected="selected"{%endif%}>Désactivé</option>
                                    <option value="tous" {%if status == "tous"%}selected="selected"{%endif%}>Tous</option>
                                </select> 
                            </label>
                        </div>
                    </div>
                </div>
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom de famille', 'u.surname')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Prénom', 'u.givenname')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom d\'utilisateur', 'u.username')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Email', 'u.username')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Matricule', 'u.username')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Actif', 'u.enabled')}}</th>
                                <th rowspan="1" colspan="1">Dernière connexion</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom de famille', 'u.surname')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Prénom', 'u.givenname')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom d\'utilisateur', 'u.username')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Email', 'u.username')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Matricule', 'u.username')}}</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Actif', 'u.enabled')}}</th>
                                <th rowspan="1" colspan="1">Dernière connexion</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </tfoot>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for key,item in pagination %}
                                <tr>
                                    <td>{{ onPage*page-onPage+1+key }}</td>
                                    <td>{{ item.surname }}</td>
                                    <td>{{ item.givenname }}</td>
                                    <td>{{ item.username }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>{{ item.matricule }}</td>
                                    <td>{%if item.enabled ==1%}Oui{%else%}No{%endif%}</td>
                                    <td>{{ item.lastLogin|date('Y-m-d') }}</td>
                                    <td><a class="btn btn-success{%if item.enabled != 1%} disabled{%endif%}" href="{{ path('acl_utilisateur_rights', {'userId': item.id}) }}">Droits</a>
                                        {%if item.enabled == 1%}
                                            <button class="btn btn-danger xhr-deactivate-user" data-href="{{ path('acl_utilisateur_deactivate', {'userId': item.id}) }}">Désactiver</button>
                                        {%else%}
                                            <button class="btn btn-warning xhr-activate-user" data-href="{{ path('acl_utilisateur_activate', {'userId': item.id}) }}">Activer</button>
                                        {%endif%}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row pull-right">
                        {{ knp_pagination_render(pagination) }}                        
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>
    </section>
{% endblock %}