{% extends "DPDCBundle:layout:layoutLTE.html.twig" %}
{% if page_title is not defined %}
	{% set page_title= 'Depot Point de Contrôle' %}
{% endif %}
{% set path_homepage= path('dpdc_point_de_controle_ajouter')  %}
{% set homepage_title= 'Contrôles Croisés' %}
{% block menu %}
	{% include "DPDCBundle:layout:menu.html.twig" %}
{% endblock %}
{% block body %}
	{{ parent() }}

	{% block stylesheets %}
		{{ parent() }}

		<link href="{{ asset('bundles/dpdc/css/dpdc-base.css') }}" rel="stylesheet" />
	{% endblock %}	

        <div id="loader" class="container">
            <img src="{{ asset('bundles/hierarchie/app/img/loader.gif') }}" alt="Wait"/>
        </div>
    {% javascripts
		'js/tablesorter/js/*'
		 %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}