{% block stylesheets %}
	 {% stylesheets
        'bootstrap/css/bootstrap.min.css'
        'dist/css/AdminLTE.min.css'
        'dist/css/skins/_all-skins.min.css'
        'style/styles.css'
		'js/chosen_v1.3.0/chosen.css'
     %}
    	<link rel="stylesheet" href="{{ asset_url }}" />    
	{% endstylesheets %}
{#	IF INCLUDED IN ABOVE LIST CRASHES ADMIN LTE THEME ON IE#}
     <link href="{{ asset('/Applications/web/all/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet" />
{#	IF INCLUDED IN ABOVE LIST CRASHES DATEPICKER IMAGES ON IE#}
     <link href="{{ asset('/Applications/web/js/jquery-ui-1.11.1/jquery-ui.min.css') }}" rel="stylesheet" />
     <a href="header.html.twig"></a>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
{#    {% if app.request.attributes.get('_route') starts with 'utilisateur' %}#}
{#        <link href="{{ asset('/web/bundles/hierarchie/chosen/chosen.min.css') }}" rel="stylesheet" />  #}
{#    {% endif %}#}
{% endblock %}

{% block javascripts %}
	{% javascripts 
		'jquery/jquery-1.10.2.min.js'
	    'bootstrap/js/bootstrap.js' 
	    'dist/js/app.js'
		'js/chosen_v1.3.0/chosen.jquery.min.js'
		'js/jquery-ui-1.11.1/jquery-ui.min.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}