<!DOCTYPE html>
<html>
    <head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <title>{% block title %}{% if page_title is defined %} {{ page_title }}{% endif %}{% endblock %}</title>
        {{ include('DPDCBundle:layout:header.html.twig') }}
    </head>
    <body class="skin-blue">
        <div id="loader" class="container">
			{% image 'img/loader.gif' %}
			    <img src="{{ asset_url }}" alt="Wait"/>
			{% endimage %}
        </div>
             <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="{{ path_homepage }}" class="logo"><b>{{ homepage_title }}</b></a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                    {% if app.user %}
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    		{% image 'img/user_default.jpg' %}
			    								<img src="{{ asset_url }}"  class="user-image" alt="User Image"/>
											{% endimage %}
                                        <span class="hidden-xs">{{ app.user.displayname }}</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            {% image 'img/user_default.jpg' %}
			    								<img src="{{ asset_url }}"  class="img-circle" alt="User Image"/>
											{% endimage %}
                                            {% if app.user %}
                                            <p>
                                                {{ app.user.displayname }}
                                            </p>
                                            {% endif %}
                                        </li>
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <div class="pull-right">
                                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Se déconnecter</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
					{% else %}
                                        <li>
                                            <div>
                                                <a href="{{ path('dpdc_points_de_controle') }}" class="btn btn-default btn-flat">Se connecter</a>
                                            </div>
                                        </li>
                    {% endif %}
                            </ul>
                        </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                        	{% image 'img/user_default.jpg' %}
			    				<img src="{{ asset_url }}" class="img-circle" alt="User Image" />
							{% endimage %}
                        </div>
                        <div class="pull-left info">
                            <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
                        </div>
                    </div>
                    {#MENU#}
                    {% block menu %}{% endblock %}
                </section>
                <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper">
            	<section class="content">
               		{#MESSAGES#}
                	{% include "::messages.html.twig" %}
                	{% block body %}{% endblock %}
                </section>
	        </div>	
        {#FOOTER#}
        {% include "::footer.html.twig" %}
            </div><!-- ./wrapper -->
     </body>
</html>