<ul class="sidebar-menu">
    <li class="active treeview">
		<a href="{{ path('dpdc_points_de_controle')}}">
			<i class="fa fa-users"></i>
			<span>POINTS DE CONTRÔLE</span>
		</a>
		<ul class="treeview-menu">
			{% if (is_granted('ROLE_DPDC_NIVEAU3') or is_granted('ROLE_COPIL')) %}
				<li class="{% if app.request.attributes.get('_route') starts with 'dpdc_points'
					or app.request.attributes.get('_route') starts with 'dpdc_point_de_controle_modifier'
					or app.request.attributes.get('_route') starts with 'dpdc_point_de_controle_details' %}
					active{% endif %}">
					<a href="{{ path('dpdc_points_de_controle') }}">
						{#<i class="fa {% if app.request.attributes.get('_route') starts with 'dpdc_points' %}
									fa-dot-circle-o active
										{% else %} fa fa-circle-o
										{% endif %}"></i>#}
						<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
						Les Points de contrôle
						<span class="label label-warning pull-right">
							{{ render (controller("DPDCBundle:PointDeControle:nombrePointsActifs"))  }}
						</span>
						
					</a>
				</li>
			{% endif %}
			<li class="{% if app.request.attributes.get('_route') starts with 'dpdc_point_de_controle_ajouter' %}
				active{% endif %}">
				<a href="{{ path('dpdc_point_de_controle_ajouter') }}">
					{#<i class="fa {% if app.request.attributes.get('_route') starts with 'dpdc_point_de_controle_ajouter' %}
								fa-dot-circle-o active
									{% else %} fa fa-circle-o
									{% endif %}"></i>#}
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Ajouter un point de contrôle
				</a>
			</li>
			{% if (is_granted('ROLE_DPDC_NIVEAU3')) %}
				<li class="{% if app.request.attributes.get('_route') starts with 'dpdc_vision_n3' %}active{% endif %}">
					<a href="{{ path('dpdc_vision_n3') }}">
						{#<i class="fa{% if app.request.attributes.get('_route') starts with 'dpdc_qualite' %} fa-dot-circle-o active
						{% else %} fa fa-circle-o
						{% endif %}"></i>#}
						<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
						Vision N3</a>
				</li>
			{% endif %}
			{% if app.user and render (controller("DPDCBundle:PointDeControle:menuVisibleN2")) %}
				<li class="{% if app.request.attributes.get('_route') starts with 'dpdc_vision_n2' %}active{% endif %}">
					<a href="{{ path('dpdc_vision_n2') }}">
						{#<i class="fa{% if app.request.attributes.get('_route') starts with 'dpdc_planning' %} fa-dot-circle-o activ
						{% else %} fa fa-circle-o
						{% endif %}"></i>#}
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						Vision N2</a>
				</li>
			{% endif %}
			{% if app.user and render (controller("DPDCBundle:PointDeControle:menuVisibleN1")) %}
				<li class="{% if app.request.attributes.get('_route') starts with 'dpdc_vision_n1' %}active{% endif %}">
					<a href="{{ path('dpdc_vision_n1') }}">
						{#<i class="fa{% if app.request.attributes.get('_route') starts with 'dpdc_planning' %} fa-dot-circle-o active
						{% else %} fa fa-circle-o
						{% endif %}"></i>#}
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						Vision N1</a>
				</li>
			{% endif %}
		</ul>
    </li>
   {# <li class="{% if app.request.attributes.get('_route') starts with 'dpdc_resultat' %}active {% endif %}treeview">
        <a href="{{ path('dpdc_resultat_resultats')}}">
            <i class="fa fa-users"></i>
            <span>LES RESULTATS</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
    </li>   #}
</ul>