{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Groupe ajouter' %}
{% block body %}
    <section class="content-header">
        <h1>{{ page_title }}</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        {{ form_start(form) }}
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        <div class="box-footer">
                            {{ form_widget(form.submit, { 'label': 'Creer', 'attr': {'class': 'btn btn-primary'}} ) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}