{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Ajouter ressource pour le groupe'%}
{% block body %}
    <section class="content-header">
        <h1>{{page_title}} <b>{{name}}<b></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-6">
                <div class="box box-primary">
                    <div class="box-header"></div>
                    <div class="box-body">
                        <form action="{{path('acl_role_add_resources',{'id':id})}}" method="POST">
                            <label class="required" for="resourceId">Ressource nom: </label>
                            <select class="form-control" name="resourceId" id="resourceId">
                                {%for row in data%}
                                    <option value="{{row['id']}}">{{row['name']}}</option>
                                {%endfor%}
                            </select>
                            <label class="required" for="isAllowed">On laisse: </label>
                            <select class="form-control" name="isAllowed" id="isAllowed">
                                <option value="1">Oui</option>
                                <option value="0">Non</option>
                            </select>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}