<form name="addUserToGroup" action="{{path('acl_role_add_user',{'roleId':roleId})}}" method="POST">
    <div class="box-body">
        <select class="form-control" name="user">
            {% for user in users %}
                <option value="{{user.userId}}">{{user.username}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="box-footer">
        <button class="btn btn-primary">Ajouter</button>
    </div>
</form>