<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">Username</th>
                                <th rowspan="1" colspan="1">Email</th>
                                <th rowspan="1" colspan="1">Displayname</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for key,item in data %}
                                {%if item.username is not empty%}
                                    <tr>
                                        <td>{{ key+1 }}</td>
                                        <td>{{ item.username }}</td>
                                        <td>{{ item.email }}</td>
                                        <td>{{ item.displayname }}</td>
                                        <td>
                                            <button class="btn btn-primary ajaxBtnConfirm" data-href="{{ path('acl_role_remove_user', {'userId': item.userId}) }}">Suprimer</button>
                                        </td>
                                    </tr>
                                {%endif%}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div id="ajaxDataDiv" class="hidden"></div>
                <a style="margin-left: 20px" class="btn btn-bitbucket ajaxBtn" data-href="{{ path('acl_role_add_user', {'roleId': roleId}) }}">Ajouter utilisateurs</a>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>