{% extends 'AclBundle:layout:base.html.twig' %}
{% set page_title = 'Groupe visualiser' %}
{% block body %}
    <section class="content-header">
        <h1>{{ page_title }}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-body">
                <div role="grid" class="dataTables_wrapper form-inline">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom', 'name')}}</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">No.</th>
                                <th rowspan="1" colspan="1">{{knp_pagination_sortable(pagination, 'Nom', 'name')}}</th>
                                <th rowspan="1" colspan="1">Actes</th>
                            </tr>
                        </tfoot>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                            {% for key,item in pagination %}
                                <tr>
                                    <td>{{ key+1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <a class="btn btn-primary" href="{{ path('acl_role_modify', {'roleId': item.id}) }}">Modifier</a>
                                        <a class="btn btn-primary" href="{{ path('acl_role_resources', {'id': item.id}) }}">Ressources</a>
                                        <button class="btn btn-danger xhr-delete-role" data-href="{{ path('acl_role_delete', {'roleId': item.id}) }}">Suprimer</button>
                                        <button type="button" class="btn btn-bitbucket appModal" data-href="{{ path('acl_role_users', {'roleId': item.id}) }}" data-toggle="modal" data-target="#mainModal">
                                            Utilisateurs
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row pull-right">
                        {{ knp_pagination_render(pagination) }}                        
                    </div>
                </div>
            </div><!-- /.box-body -->
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="mainModal" aria-hidden="true"></div>
    <!-- End Modal -->  
{% endblock %}