	<p>le technicien {{ visite.technicien.displayname }} a terminé la visite du magasin de {{ visite.magasin.nom }}.</p>
	
	{% if listePointNonTraites or listePointNonValides %}
	<p>Cependant, il y a des anomalies.</p>
		{% if listePointNonTraites%}
			<p>Les points suivant n'ont pas été fait :</p>
		    {% for point in listePointNonTraites %}
        		<p>{{ point }}</p>
   			{% endfor %}
		{% endif %}	
		<p></p>
		{% if listePointNonValides%}
			<p>Les points suivant n'ont pas été validés :</p>
			{% for point in listePointNonValides %}
        		<p>{{ point }}</p>
   			{% endfor %}
		{% endif %}	
	{% endif %}
	<p>Pour consulter le rapport, cliquez <a href="{{url_serveur}}{{ path('checklist_rapport_rapport', {'id' : visite.id}) }}">ici</a>.</p>
	