<p>Bonjour</p>
<br>
<br>Vous venez de créer un nouveau trajet:
<br> L'adresse de départ: {{ depart }}
<br> L'adresse d'arrivée: {{ arrivee }}
<br> L'heure de départ: {{ heure }}
<br>
<br>Merci.
<br>
<mark>Ce mail est un mail de test, les actions que vous avez réaliser ne seront pas prises en compte.</mark>



