<p>Bonjour</p>
<br>
<br>Votre réservation du trajet a été effecté avec succes:
<br> L'adresse de départ: {{ depart }}
<br> L'adresse d'arrivée: {{ arrivee }}
<br> L'heure départ: {{ heure }}
<br>
<br>Merci.
<br>
<mark>Ce mail est un mail de test, les actions que vous avez réaliser ne seront pas prises en compte.</mark>



