{% extends "EFNDemandeFormationBundle::layout.html.twig" %}

{% block title %}
  Ajouter {{ parent() }}
{% endblock %}

{% block suivietudes_body %}

  <h2>Créer une demande</h2>

  {{ include ("EFNDemandeFormationBundle:Demande:form.html.twig") }}
    <br/>

{% endblock %}