{% stylesheets 'js/chosen_v1.3.0/chosen.css' %}
	<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<div class="panel panel-default  container-fluid" id="DemandeType">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}

    {#<div class="alert alert-danger"  style="width:40%;margin:0 auto;"style="color:red;">#}
    <div class="col-sm-offset-3" style="color:red;">
		{{ form_errors(form) }}
        {{ form_errors(form.direction) }}
        {{ form_errors(form.service)}}
        {{ form_errors(form.nomResponsable) }}
        {{ form_errors(form.prenomResponsable) }}
        {{ form_errors(form.fonctionResponsable)}}
        {{ form_errors(form.emailResponsable) }}
        {{ form_errors(form.type) }}
        {{ form_errors(form.formation) }}
        {{ form_errors(form.description) }}
        {{ form_errors(form.participants) }}

    </div>
    
	<div class="form-group">	
	    <div class="col-md-3 col-xs-6">
	      {{ form_label(form.direction, "Direction", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
		</div>
	    <div class="col-md-3 col-xs-6">
	    	{{ form_widget(form.direction, {'attr': {'class': 'form-control ld-direction input-sm'}}) }}
	   </div>
	
	    <div class="col-md-3 col-xs-6">
	      {{ form_label(form.service, "Service", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
	    </div>
	    <div class="col-md-3 col-xs-6">
	    	{{ form_widget(form.service, {'attr': {'class': 'form-control ld-service input-sm'}}) }}
	    </div>
	</div>
	
	</br>
	</br>
	<fieldset>
		<legend>Responsable</legend>

	   <div class="form-group">
			<div class="col-md-3 col-xs-6">
		    	{{ form_label(form.prenomResponsable, "Prénom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
			</div>
			<div class="col-md-3 col-xs-6">
		    	{{ form_widget(form.prenomResponsable, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
		    </div>
			<div class="col-md-3 col-xs-6">
		      {{ form_label(form.nomResponsable, "Nom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
		    </div>
			<div class="col-md-3 col-xs-6">
		      {{ form_widget(form.nomResponsable, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
		    </div>
	 	</div>
	
		<div class="form-group">
			<div class="col-md-3 col-xs-6">
				{{ form_label(form.fonctionResponsable, "Fonction", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
			</div>
			<div class="col-md-3 col-xs-6">
				{{ form_widget(form.fonctionResponsable, {'attr': {'class': 'form-control input-sm', 'row' : '27'}}) }}
			</div>
		</div>
	  
		<div class="form-group">
	   		<div class="col-md-3 col-xs-6">
				{{ form_label(form.emailResponsable, "Mail", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
			</div>
	   		<div class="col-md-3 col-xs-6">
	        	{{ form_widget(form.emailResponsable, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
	      	</div>
	   		<div class="col-md-3 col-xs-6">
			    {{ form_label(form.telephoneResponsable, "Téléphone", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
			</div>
	   		<div class="col-md-3 col-xs-6">
		        {{ form_widget(form.telephoneResponsable, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Demande</legend>
		<div class="form-group">
		    <div class="col-md-3 col-xs-6">
		 		{{ form_label(form.type, "Type de demande", {'label_attr': {'class': 'col-sm-11 control-label'}}) }}
			</div>
	   		<div class="col-md-3 col-xs-6">
		       	{{ form_widget(form.type, {'attr': {'class': 'form-control input-sm'}}) }}
		   	</div>
		   	
		   	<div class="col-md-3 col-xs-6">
		 		{{ form_label(form.delais, "Delais", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
			</div>
	   		<div class="col-md-3 col-xs-6">
		       	{{ form_widget(form.delais, {'attr': {'class': 'form-control input-sm'}}) }}
		   	</div>
		</div>
		<div class="form-group" id="descriptionDemande" style="display: none;">
			<div class="col-md-3 col-xs-6">
				{{ form_label(form.description, "Description de votre demande", {'label_attr': {'class': 'col-sm-11 control-label'}}) }}
			</div>
	   		<div class="col-md-9 col-xs-6">
		   		{{ form_widget(form.description, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
			</div>
		</div>
	</fieldset>
	
	<fieldset id="inscriptionDemande" >
		<legend>Inscription</legend>
		<div class="form-group">
		  	<div class="col-md-3 col-xs-6">
				 	{{ form_label(form.formation, "Formation", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
			</div>
		  	<div class="col-md-6 col-xs-6">
		       	{{ form_widget(form.formation, {'attr': {'class': 'form-control input-sm chosen-select','data-placeholder':'Sélectionnez une formation'}}) }}
		   	</div>
		</div>		
	</fieldset>
	<fieldset id="participantsDemande">
		<legend>Participants</legend>
		{{ form_label(form.participants, "") }}
		
		<div id="efn_demandeformation_demande_participants" class="demande_formation_participants"
		    data-prototype="
		         {% filter escape %}
		             {{ include('EFNDemandeFormationBundle:Demande:participant.form.html.twig', { 'form': form.participants.vars.prototype })}}
		         {% endfilter %}">
		         
		          {% for participant in form.participants %}
		          	{{ include('EFNDemandeFormationBundle:Demande:participant.form.html.twig', {'form': participant})}}
		          {% endfor %}
		         
		</div>
    </fieldset>
    	
	<div class="form-group">
		{{ form_label(form.Ajouter, " ", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
      	<div class="col-sm-4 col-sm-offset-4">
	    	{{ form_widget(form.Ajouter, {'attr': {'class': 'btn btn-primary' }}) }}
	   	</div>
	</div>    
   {{ form_rest(form) }}

  {{ form_end(form) }}
    <!--   {{ form_rest(form) }} -->
 
 
  <!--  {{ form_end(form) }} -->
  
  	{% javascripts 
		'js/chosen_v1.3.0/chosen.jquery.js'
		'@AdministrationDirectionBundle/Resources/public/js/*'
		'@EFNDemandeFormationBundle/Resources/public/js/ajouter.js'
		 %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

</div>
