<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Suivi de votre demande</title>
        <style type="text/css">
            html {
                /*background-color: #eee !important;*/
                font-size:13px;
            }
            body {
                background-color: white;
               /* border:3px solid #e7e7e7;*/
                margin: 10px auto;
                padding:5px;
                font-family: Arial, Helvetica, sans-serif;
                width:620px;
            }
            tr, td, h2, h3, h4, a, p {
                margin:0;
                padding:0;
                vertical-align:center;
                text-decoration:none;
            }
            a {
                text-decoration:underline;
            }
             h4 {
                font-weight:normal;
            }
            table {
                width:100%;
                border: 1px solid #428bca;
                margin:20px auto;
            }
            table td {
                padding:2px 5px;
                border:1px solid lightgrey;
            }
            table tr {
            }
        </style>
    </head>
    <body>
        <p>
            Bonjour,
        </p>
        <br/>
 
         <p>
            Votre demande d'intervention à bien été enregistrée. 
        </p>
 
        
  {% include "EFNDemandeFormationBundle:Demande:voirDemande.html.twig" %}
        
                <br/>
        <div id="signature">
            <p>Cordialement,</p><br/>
            <p>Pôle WEB - poleweb@noz.fr</p>
            <p>Service Informatique - Univers NOZ</p>
        </div>
    </body>
</html>