<fieldset>
	<div class="form-group">
	<br>
		<div class="col-md-2 col-xs-6">
			{{ form_label(form.prenom, "Prénom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
			{{ form_widget(form.prenom, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
			{{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
			{{ form_widget(form.nom, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
			{{ form_label(form.fonction, "Fonction", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
			{{ form_widget(form.fonction, {'attr': {'class': 'form-control input-sm', 'row' : '27'}}) }}
		</div>
	</div>
	
	<div class="form-group">

		<div class="col-md-2 col-xs-6">
			{{ form_label(form.societe, "Entitée Juridique", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
			{{ form_widget(form.societe, {'attr': {'class': 'chosen-select form-control input-sm', 'row' : '27', 'data-placeholder':'Sélectionnez une sociétée'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
			{{ form_label(form.email, "email", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
		   	{{ form_widget(form.email, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
	 	</div>
		<div class="col-md-2 col-xs-6">
		    {{ form_label(form.telephone, "Téléphone", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
		</div>
		<div class="col-md-2 col-xs-6">
	        {{ form_widget(form.telephone, {'attr': {'class': 'form-control input-sm', 'row' : '25'}}) }}
		</div>
	</div>
</fieldset>