
        <table cellpadding="0" cellspacing="0" style="font-size:13px;">
            <tr style="background-color:#428bca;color:white;">
                <th colspan="2" height="15px"><p>Récapitulatif de la demande<p></th>
            </tr>
            <tr>
                <td width="40%">Direction</td>
                <td width="60%">
                    {{demande.direction}}
                </td>
            </tr>
 
            <tr>
                <td width="40%"><b>Service</b></td>
                <td width="60%">
                    {{demande.service}}
                </td>
            </tr>

			<tr><th colspan="4" height="15px">Responsable</th></tr>

            <tr>
                <td width="40%"><b>Prénom</b></td>
                <td width="60%">
                    {{demande.prenomResponsable}}
                </td>
            </tr>

            <tr>
                <td width="40%"><b>Nom</b></td>
                <td width="60%">
                    {{demande.nomResponsable}}
                </td>
            </tr>

            <tr>
                <td width="40%"><b>Fonction</b></td>
                <td width="60%">
                    {{demande.fonctionResponsable}}
                </td>
            </tr>

            <tr>
                <td width="40%"><b>E-mail</b></td>
                <td width="60%">
                    {{demande.emailResponsable}}
                </td>
            </tr>

            <tr>
                <td width="40%"><b>Téléphone</b></td>
                <td width="60%">
                    {{demande.telephoneResponsable}}
                </td>
            </tr>

			<tr><th colspan="4" height="15px">Demande</th></tr>
            <tr>
                <td width="40%"><b>Type</b></td>
                <td width="60%">
                    {{demande.type}}
                </td>
            </tr>
    
            <tr>
                <td width="40%"><b>Délais</b></td>
                <td width="60%">
                    {{demande.delais}}
                </td>
            </tr>

		{% if demande.type.id == constant('FORMATION_EXISTANTE', demande.type) %}
            <tr>
                <td width="40%"><b>Formation</b></td>
                <td width="60%">
                    {{demande.formation}}
                </td>
            </tr>
		{% else %}
            <tr>
                <td width="40%"><b>Description</b></td>
                <td width="60%">
                    {{demande.description}}
                </td>
            </tr>
		{% endif %}

        </table>
        <table cellpadding="0" cellspacing="0" style="font-size:13px;">
			<tr><th colspan="5" height="15px">Participants</th></tr>
  			{% for participant in participants %}
				<tr>
       		       	<td width="20%">
      	           		{{participant.prenom}} {{participant.nom}}
    	            </td width="20%">
    	            <td>
    	                {{participant.fonction}}
    	            </td width="20%">
    	            <td>
    	                {{participant.societe}}
    	            </td>
    	            <td width="20%">
						{{participant.email}}
   	            	</td>
  	              	<td width="20%">
  	                	{{participant.telephone}}
  	              	</td>
				</tr>
        	{% endfor %}
        </table>
