{% extends "EFNDemandeFormationBundle::layout.html.twig" %}

{% block title %}
  Ajouter {{ parent() }}
{% endblock %}

{% block suivietudes_body %}

        <style type="text/css">

            tr, td, h2, h3, h4, a, p {
                margin:0;
                padding:0;
                vertical-align:center;
                text-decoration:none;
            }
           
            th {
                text-align:center;
            }        
            
            a {
                text-decoration:underline;
            }
             h4 {
                font-weight:normal;
            }
            table {
                width:80%;
                border: 1px solid #428bca;
                margin:20px auto;
                border-collapse:separate;
            }
            table td {
                padding:2px 5px;
                border:1px solid lightgrey;
            }
            table tr {
            }
        </style>

  <h2>Votre demande</h2>
  </br>
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissable disabled" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-ok" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-info-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('erreur') %}
            <div class="alert alert-danger alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage }}</p>
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('modification') %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <span class="glyphicon glyphicon-warning-sign" style="margin-right:5px;"></span>
                <p style="display:inline-block;">{{ flashMessage }}</p>
            </div>
        {% endfor %}
  {{ include ("EFNDemandeFormationBundle:Demande:voirDemande.html.twig") }}
    <br/>
  <p>
    <a href="{{ path('efn_demande_formation_formulaire')}}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au formulaire
    </a>
  </p>

{% endblock %}