{% extends 'SuiviHierarchieBundle:layout:base.html.twig' %}

{% block body %}

    <script>

        function calc(id,idcont,idsociete) {

            if ($('#' + idcont).bootstrapSwitch('state') == true) {
                displayListDeroulanteSociete(idcont,idsociete);
              //  $(".chosen-select").chosen({disable_search_threshold: 10});

                //$('#detacher'+idcont).show();
                $('#buttonChangeMailingSelected'+idcont).show();
               // displayDetachement(id,idcont,idsociete);


            }
            else {
                $('#societe'+idcont).empty();
                $('#detachement'+idcont).empty();
                $('#buttonChangeMailingSelected'+idcont).hide();


            }
        }

        function deleteSociete(nb,idcont,ch1,ch2){
            $('#div'+nb).empty();
            $('#div'+nb).remove();
            $('#libelle'+idcont).append('<option value="'+ ch2 +'">'+ ch1 +'</option>');
            $('#libelle'+idcont).chosen('destroy');
            $('#libelle'+idcont+'_chosen').chosen('destroy');
            $('#libelle'+idcont).chosen({disable_search_threshold: 10});
            $('#libelle'+idcont+'_chosen').attr('style','width: 100%');
            return false;
        }

function addList(idcont,id,idsociete){

var ch="";
   var ch1=$('#libelle'+idcont+' option:selected').text();
    var ch2=$('#libelle'+idcont+' option:selected').val();
    if(ch2 != ''){
    var  nb= Math.floor((100)*Math.random()+1);
    ch=ch+"<div class='col-md-12' id=\"div"+nb+"\"><table id=\"table"+nb+"\" class=\"table-hover\" style='margin-bottom:4px;'><tr><td class=\"headcol\" style='margin-bottom: 5px;'>"+ $('#libelle'+idcont+' option:selected').text()+"<input id=\"listSocieteNew\" name=\"menuTitle[]\" value=\""+$('#libelle'+idcont+' option:selected').val()+"\" hidden></td>";

    ch=ch+" <td  class=\"headcol\"><input class=\"style-form-control\" id=\"demo_vertical\"  type=\"text\" value=\"1\" name=\"qte[]\">";
    ch=ch+"<input id=\"tableNew\" name=\"identite[]\" value=\""+id+"\" hidden></td>";
    ch=ch+" <td class=\"headcol\"><a id=\"buttondeleteSociete"+nb+"\" onclick=\"deleteSociete('"+nb+"','"+idcont+"','"+ch1+"','"+ch2+"')\" style=\"cursor: pointer; color:#CC3300\" title=\"Supprimer société\" ><i class=\"glyphicon glyphicon-remove\" ></i></a></td></tr></table></div>";


    $('#societe'+idcont).append(ch);
    $('#libelle'+idcont+' option:selected').remove();

    $("input[name='qte[]']").TouchSpin({
        verticalbuttons: true,
        verticalupclass: 'glyphicon glyphicon-plus',
        verticaldownclass: 'glyphicon glyphicon-minus',

    });
    $('#libelle'+idcont).chosen('destroy');
    $('#libelle'+idcont+'_chosen').chosen('destroy');
    $('#libelle'+idcont).chosen({disable_search_threshold: 10});
    $('#libelle'+idcont+'_chosen').attr('style','width: 100%');
        return false;}
    else{
        alert('Veuillez choisir une société !');
        return false;
    }
}
        function displayListDeroulanteSociete(idcont,idsociete){
            var ch="";
            ch=ch+'{{ form_widget(form.libelle, {'attr': {'class':'chosen-select', 'style':'width: 100%;'} ,'full_name': 'Title[]'}) }}';

       $('#detachement'+idcont).append(ch);
$('#societe'+idcont).append("<div class=\"col-md-12\"><table id=\"\" class=\"table-hover\"><tr><td class=\"headcol\"><B>Libelle</B></td><td class=\"headcol\"><B>Nombre d'heure</B></td><td class=\"headcol\"><B>Action</B></td></tr></table><div>");
            $('#libelle option[value='+idsociete+']').remove();
            $('#libelle').attr('id','libelle'+idcont);

            $('#libelle'+idcont).chosen({disable_search_threshold: 10});
            $('#libelle'+idcont+'_chosen').attr('style','width: 100%');

        }


      /*  function displayDetachement(id,idcont,idsociete){
      var ch="";
           // alert(idsociete);
          var  nb= Math.floor((100)*Math.random()+1);
            ch=ch+"<table id=\"table"+nb+"\"><tr><td>"+'{{ form_widget(form.libelle, {'attr': {'class':'chosen-select', 'style':'width: 100%;'} ,'full_name': 'menuTitle[]'}) }}'+"</td>";
            ch=ch+"<td><p> Nbre d'heures</p></td>";
            ch=ch+" <td><input class=\"style-form-control\" id=\"demo_vertical\"  type=\"text\" value=\"1\" name=\"qte[]\">";
            ch=ch+"<input id=\"tableNew\" name=\"identite[]\" value=\""+id+"\" hidden></td>";
            ch=ch+" <td><a id=\"buttondeleteSociete\" onclick=\"deleteSociete("+nb+")\" style=\"cursor: pointer;\" title=\"Ajouter Autres sociétés\" ><i class=\"glyphicon glyphicon-minus\"></i></a></td></tr></table>";
            $('#detacher'+idcont).append(ch);
            $('#libelle option[value='+idsociete+']').remove();
            $(".chosen-select").chosen({disable_search_threshold: 10});
            $("input[name='qte[]']").TouchSpin({
                verticalbuttons: true,
                verticalupclass: 'glyphicon glyphicon-plus',
                verticaldownclass: 'glyphicon glyphicon-minus',

            });
        }
*/

        $(function() {
var nb=0;


                $(".BSswitch").bootstrapSwitch('state', false);

                $('#myform').bootstrapValidator({
        err: {
            container: '#messages'
        },
        fields: {
            "attester": {
                validators: {
                    notEmpty: {
                        message: 'Veuillez valider les renseignements.'
                    },

                }
            },}})
        })
    </script>
    <div class="row">
    <section class="content-header">
        <h1>Formulaire D'assignation des collaborateurs</h1>
    </section>
    <section class="content">
        <form action="{{ path('det_success') }}" method="post" class="form-horizontal" id="myform" >
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header">
                        <h4 class="text-center"> Equipe de {{ manag.nom }} ({{ manag.societe_libelle }} )</h4>
                        <input type="text" name="manager_id" id="manager_id" value="{{ manag.managId }}" hidden >
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12" >
                                <div id="equipe">
                                    <div class="row"><div class="col-md-12"><table id="myTable" class="table table-striped table-bordered table-hover table-responsive" style="padding-left: 2px; width: 100%">
                                                <thead>
                                                <tr>
                                                    <th>Matricule Salarie</th>
                                                    <th>type contrat</th>
                                                    <th>Date Debut</th>
                                                    <th>Date Fin</th>
                                                    <th>Commentaire RH</th>
                                                    <th>Commentaire Manager</th>
                                                    <th>Détachement</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for item in result %}
                                                <tr>

                                        <td>{{ item.nom }}</td>
                                         <td>{{ item.contrat}}</td>
                                          <td>{{ item.debut }}</td>
                                           <td>{{ item.fin }}</td>
                                            <td>{{ item.com_rh }}</td>
                                            <td> <input type="text" placeholder="ajouter un commentaire" name="com_manag[]" id="comm_manag">
                                                <input type="text" name="salarie_id[]" id="salarie_id" value="{{ item.id }}" hidden >
                                            </td>
                                            <td>

                                                <div class="col-md-12">
                                                       <div class="row"> <input id="{{ item.idcont }}" type="checkbox" checked data-size="mini" data-off-text="Non" data-on-text="Oui" checked="false" class="BSswitch" onchange="calc('{{ item.id }}','{{ item.idcont }}','{{ manag.idsociete }}')">


                                                    <button id="buttonChangeMailingSelected{{ item.idcont }}"
                                                       onclick="return false"  data-toggle="modal" class="btn btn-warning btn-xs"
                                                       data-target="#myModalMail{{ item.idcont }}" >Ajouter Societés</button>

 </div></div>
                                                    <div id="myModalMail{{ item.idcont }}" class="modal fade" role="dialog">
                                                        <div class="modal-dialog">

                                                            <!-- Modal content-->

                                                            <div class="modal-content" style="width:500px">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">Detachement</h4>
                                                                </div>
                                                                <div class="modal-body">

                                                                    <div class="col-md-6" id="detachement{{ item.idcont }}">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <button   class="btn btn-sm btn-warning  pull-right" id="adding{{ item.idcont }}" onclick="addList('{{ item.idcont }}','{{ item.id }}','{{ manag.idsociete }}')">ajouter</button>

                                                                    </div>
                                                                    </br>
                                                                    </br>
                                                                    <div id="societe{{ item.idcont }}"></div>
                                                                    </br>
                                                                    </br>
                                                                    <div class="row"><div class="col-md-5"></div><div class="col-md-3">
                                                                    <button id="buttonValidateMailingList"
                                                                            class="btn btn-sm btn-info"
                                                                            name="buttonValidateMailingList"
                                                                            data-dismiss="modal">Valider
                                                                    </button></div></div>

                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>


                                            </td>
                                         </tr>

                                            {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                <div class="row">
                                <div class="col-md-4"></div>
                                    <div class="col-md-6">
                                       <div class="form-group form-group-sm"
                                                     style="margin-bottom:0px; margin: 5px">
                                                      {{ form_widget(form.attester) }}
                                                    <label class="control-label"> {{ form_label(form.attester) }}</label>



                                                </div>
                                            </div></div>
                                </div>

                                </div>
                            </div>
                        </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-xs-10">
                            </div>

                            <div class="col-xs-2">    {{ form_row(form.Valider) }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </form>
    </section>





{% endblock %}