{% extends 'SuiviHierarchieBundle:layout:base.html.twig' %}

{% block body %}
    <script src="{{ asset('bundles/suivihierarchie/js/dethierarchie.js') }}"></script>
        <section class="content-header">
            <h1>Récapitulatif mensuel</h1>
        </section>
        <section class="content">
            {{ form_start(form, {'attr': {'id': 'importForm'}}) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-success">
                        <div class="box-header"></div>
                        <div class="box-body">
                            <div class="row">
                             <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(form.importFile, {'attr': {"class":"filestyle", "data-classButton":"btn btn-primary",
                                    "data-input":"true", "data-classIcon":"icon-plus", "data-buttonText":" Choisir le fichier excel"} }) }}
                            </div>
                             </div>
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-3">
                            <div class="form-group">
                                <button id="importGrp" class="btn btn-info" type="submit">Envoyer les mails</button>
                            </div>
                            </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        {{ form_widget(form.libelle, { 'value':'hello'  ,'attr': {'class': 'chosen-select', 'style':'width: 200px;'} }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" >
                                    <div id="hierarchie"></div>

                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                <div class="row">
                    <div class="col-xs-10">   <a>{{ form_row(form.Mois_Precedent) }}</a>
                    </div>

                    <div class="col-xs-2">    {{ form_row(form.Mois_Suivant) }}
                    </div>

                </div>
                </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </section>




{% endblock %}