{% block stylesheets %}
    <link href="{{ asset('all/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/LTE/css/AdminLTE.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/LTE/css/skins/_all-skins.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/jquery.multiselect.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/timepicki.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/dmli/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/dmli/css/jquery.bootstrap-touchspin.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/dmli/css/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/dmli/css/chosen.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/dmli/css/dataTables.bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/dmli/css/style5.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/covoiturage/css/jequery.timepicker.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/covoiturage/css/style.css') }}" rel="stylesheet"/>

    <link rel="icon" href="../../favicon.ic" />

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('all/jquery-ui-1.11.1/external/jquery/jquery.js') }}"></script>
    <script src="{{ asset('all/jquery-ui-1.11.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('all/LTE/js/lte.js') }}"></script>
    <script src="{{ asset('js/jquery.multiselect.js') }}"></script>
    <script src="{{ asset( 'all/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/chosen_v1.3.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('js/timepicki.js') }}"></script>
    <script src="{{ asset('bundles/dmli/js/select.js') }}"></script>
    <script src="{{ asset('bundles/dmli/js/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset('bundles/dmli/js/jquery.bootstrap-touchspin.js') }}"></script>
    <script src="{{ asset('bundles/dmli/js/respond.min.js') }}"></script>
    <script src="{{ asset('bundles/dmli/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/dmli/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('bundles/dmli/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/dmli/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/covoiturage/js/jequery.timepicker.js') }}"></script>


{% endblock %}

