<aside class="main-sidebar">
<aside class="main-sidebar">
<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{%if app.user.photo is not empty%}data:image/gif;base64,{{app.user.photo}}{%else%}{{asset('all/images/user_default.jpg')}}{%endif%}" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>{% if app.user %}{{ app.user.displayname }}{% endif %}</p>
        </div>
    </div>
    <ul class="sidebar-menu">

        {# page acceuil #}
        <li class="{% if app.request.attributes.get('_route') == 'covoiturage' %}active{% endif %}">
            <a href="{{ path('covoiturage') }}">
                <i class="glyphicon glyphicon-home"></i>
                <span>Accueil</span>
            </a>
        </li>

           <li class="dropdown {% if app.request.attributes.get('_route') starts with 'covoiturage_pro' %}active{% endif %}">
            <a href="#">
                <i class="glyphicon glyphicon-signal"></i>
                <span>Trajet Pro</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="{% if app.request.attributes.get('_route') == 'liste_trajet_pro' %}active{% endif %}">
                    <a href="{{ path('liste_trajet_pro') }}">
                        <i class="fa{% if app.request.attributes.get('_route') == 'liste_trajet_pro' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                        <span>Voir liste des trajets</span>
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'creation_trajet_pro' %}active{% endif %}">
                    <a href="{{ path('creation_trajet_pro') }}">
                        <i class="fa{% if app.request.attributes.get('_route') == 'creation_trajet_pro' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                        <span>Proposer un trajet</span>
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'futur_trajet_pro' %}active{% endif %}">
                    <a href="{{ path('futur_trajet_pro') }}">
                        <i class="fa{% if app.request.attributes.get('_route') == 'futur_trajet_pro' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                        <span>Mes futurs Trajets</span>
                    </a>
                </li>
            </ul>
        </li>



      {#  <li class="dropdown {% if app.request.attributes.get('_route') starts with 'covoiturage_perso' %}active{% endif %}">
            <a href="#">
                <i class="glyphicon glyphicon-signal"></i>
                <span>Trajet Perso</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="{% if app.request.attributes.get('_route') == 'liste_trajet_perso' %}active{% endif %}">
                    <a href="{{ path('liste_trajet_perso') }}">
                        <i class="fa{% if app.request.attributes.get('_route') == 'liste_trajet_perso' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                        <span>Voir liste des trajets</span>
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'creation_trajet_perso' %}active{% endif %}">
                    <a href="{{ path('creation_trajet_perso') }}">
                        <i class="fa{% if app.request.attributes.get('_route') == 'creation_trajet_perso' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                        <span>Proposer un trajet</span>
                    </a>
                </li>
                <li class="{% if app.request.attributes.get('_route') == 'futur_trajet_perso' %}active{% endif %}">
                    <a href="{{ path('futur_trajet_perso') }}">
                        <i class="fa{% if app.request.attributes.get('_route') == 'futur_trajet_perso' %} fa-check-square-o active{% else %} fa-square-o{% endif %}"></i>
                        <span>Mes futurs Trajets</span>
                    </a>
                </li>
            </ul>
        </li> #}
    </ul>
</section>
</aside>
    </aside>