{% block stylesheets %}
    <link href="{{ asset('all/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/font-awesome-4.3.0/css/font-awesome.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/LTE/css/AdminLTE.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/LTE/css/skins/_all-skins.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('all/jquery-ui-1.11.1/jquery-ui.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/suivihierarchie/css/bootstrapValidator.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/suivihierarchie/css/jquery.bootstrap-touchspin.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/suivihierarchie/css/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/suivihierarchie/css/chosen.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/suivihierarchie/css/dataTables.bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/suivihierarchie/css/bootstrap-switch.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/suivihierarchie/css/stylehierarchie.css') }}" rel="stylesheet"/>

    <link rel="icon" href="../../favicon.ic" />
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('all/jquery-ui-1.11.1/external/jquery/jquery.js') }}"></script>
    <script src="{{ asset('all/jquery-ui-1.11.1/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('all/LTE/js/lte.js') }}"></script>
    <script src="{{ asset('js/jquery.multiselect.js') }}"></script>
    <script src="{{ asset('all/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/hierarchie/app/js/bootstrap-filestyle.min.js') }}"></script>
    <script src="{{ asset('js/chosen_v1.3.0/chosen.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/select.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/jquery.bootstrap-touchspin.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/respond.min.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/bootstrapValidator.min.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/suivihierarchie/js/bootstrap-switch.min.js') }}"></script>
{% endblock %}
