{% extends "PaieAdministrationBundle:layout:base.html.twig" %}



{% block body %}
	{{ parent() }}
<script>
	var url_get_arret = {{ path('paie_get_arret')|json_encode|raw }};

</script>	
	
	
{% if page_title is not defined %} 
	{% set page_title= 'Outil du service Paie | Arrêts de travail' %} 
{% endif %}						
	{{ include("PaieArretTravailBundle:default:ajouterArret.html.twig", {foo: 'bar'}) }}								
{% endblock %}