.fixed-width{
	width: 300px;
}

.custom-alert{	
	background-color: #fdb6a4;
	color: #a94442;
	margin-bottom: 0;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.mainPoint{
	cursor: pointer;
}