{# src/Suivi/ReportingBundle/Resources/views/Reporting/statistique.html.twig #}

{% extends "SuiviReportingBundle::layoutreport.html.twig" %}

{% block title %}
  Demande par direction - {{ parent() }}
{% endblock %}


{% block graph %}
  <h2>Répartition des demandes par direction</h2>

    <script type="text/javascript">
         Highcharts.setOptions({
            lang: {
                drillUpText: '<< Retour aux {series.name}'
            }
        });
        $(function () {
            $('#pie2').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: ""
                },
                plotOptions: {
                    series: {
                        cursor:"pointer",
                        showInLegend:true,
                        point: {
                            events: {
                                click: function () {
                                    if (typeof(this.options.url) != "undefined") {
                                        location.href = this.options.url;
                                    }
                                }
                            }
                        }
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.point.name + '</b><br/>' +
                            'Demandes : ' + this.y + '<br/>';

                    }
                },
                series:[{
                    name: 'Directions',
                    data:{{data_series|raw}},
                    credit: false
                }],
                drilldown: {
                    series:{{data_drilldown|raw}}
                }
            });
        });
    
        {# chart(pieDirection)#}
    </script>
  <div id="pie2" style="min-width: 400px; height: 500px;"></div>
  {#<div id="pie" style="min-width: 400px; height: 500px;"></div>#}
  
{% endblock %}