{% extends 'CovoiturageBundle:layout:base.html.twig' %}

    {% block body %}
        <script src="{{ asset('bundles/covoiturage/js/co_voiturage_perso.js') }}"></script>
        <section class="content-header">
            <h1>
                Proposer un trajet

            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Nouveau trajet</h3>
                        </div>
                        <form action="{{ path('creation_trajet_perso_success') }}" method="post" class="form-horizontal" id="myform">

                            <div class="box-body">
                                <!-- adresse depart -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.depart) }}</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.depart) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                <div class="form-group form-group-sm" style="margin-bottom:0px">
                                    <label id="newDepart" class="col-sm-3 control-label">Précisez une autre adresse:</label>
                                    <div class="col-sm-6">
                                        <input class="form-control input-sm" name="inputNewDepart"
                                               id="inputNewDepart" required="required"
                                               type="text"/>
                                    </div>
                                </div>
                                    </div>
                                <!-- adresse depart -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> {{ form_label(form.arrivee) }}</label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.arrivee) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label id="newArrivee" class="col-sm-3 control-label">Précisez une autre adresse:</label>
                                        <div class="col-sm-6">
                                            <input class="form-control input-sm" name="inputNewArrivee"
                                                   id="inputNewArrivee" required="required"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <!-- Date Aller-->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Date Aller </label>
                                        <div class="col-sm-5">
                                            <div class="input-group date" data-provide="datepicker">
                                                <input type="text" id="inputDate" name="date_aller" class="form-control">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <input id='timepicker' class="input-small" type='text'
                                                   name="debut" value="07 : 00"/>
                                        </div>
                                        <label class="col-sm-2 control-label">{{ form_label(form.retour) }} </label>
                                        <div class="col-sm-1">
                                            {{ form_widget(form.retour) }}
                                        </div>

                                    </div>
                                </div>
                                <!-- Date Retour-->
                                <div class="row" id="date_retour">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Date Retour </label>
                                        <div class="col-sm-5">
                                            <div class="input-group date" data-provide="datepicker">
                                                <input type="text" id="inputDate2" name="date_retour" class="form-control">
                                                <div class="input-group-addon">
                                                    <span class="glyphicon glyphicon-th"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <input id='timepicker2' class="input-small" type='text'
                                                   name="debut2" value="07 : 00"/>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nombre de place disponible -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Nombre de place Disponible </label>
                                        <div class="col-sm-2">
                                            <input class="form-control input-sm" id="demo_vertical" type="text"
                                                   value="1" name="demo_vertical2">

                                        </div>

                                    </div>
                                </div>
                                <!-- Options -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Options </label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.autoroutes) }} {{ form_label(form.autoroutes) }}
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> </label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.peages) }} {{ form_label(form.peages) }}
                                        </div>

                                    </div>
                                </div>
                                <!-- Commentaires -->
                                <div class="row">
                                    <div class="form-group form-group-sm" style="margin-bottom:0px">
                                        <label class="col-sm-3 control-label"> Commentaire </label>
                                        <div class="col-sm-6">
                                            {{ form_widget(form.Comment) }} {{ form_label(form.Comment) }}
                                        </div>

                                    </div>
                                </div>
                            </div>
                                <div class="box-footer"><div class="row"> <div class="col-xs-10">   <a href="{{ path('covoiturage') }}">{{ form_row(form.Annuler) }}</a></div>
                                        <div class="col-xs-2">    {{ form_row(form.Valider) }}</div></div>
                                    </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function () {
                $(function () {

                    $("input[name='demo_vertical2']").TouchSpin({
                        verticalbuttons: true,
                        verticalupclass: 'glyphicon glyphicon-plus',
                        verticaldownclass: 'glyphicon glyphicon-minus',
                        min: 1,
                        max: 4
                    });
                    $('[data-toggle="popover"]').popover({html: true});
                    $('#timepicker').timepicki({
                        start_time: ["07", "00"],
                        show_meridian: false,
                        step_size_minutes: 15,
                        overflow_minutes: true,
                        increase_direction: 'up',
                        reset: false,
                    });

                    $('#inputDate').keypress(function (e) {
                        return false;
                    });

                    $('#inputDate').datepicker({
                        minDate: 0,
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
                            'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'],
                        monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                            'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'déc.'],
                        dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                        dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'dd-mm-yy',
                        firstDay: 1,
                        onSelect: function () {
                            $('#myform').bootstrapValidator('revalidateField', 'date_aller');
                            var pickDate = $( "#inputDate" ).val();
                            alert(pickDate);
                            $( "#inputDate2" ).datepicker({ minDate: pickDate});
                        },
                    });
                    $('#timepicker2').timepicki({
                        start_time: ["07", "00"],
                        show_meridian: false,
                        step_size_minutes: 15,
                        overflow_minutes: true,
                        increase_direction: 'up',
                        reset: false,
                    });

                    $('#inputDate2').keypress(function (e) {
                        return false;
                    });


                    $('#inputDate2').datepicker({
                        minDate: 0,
                        closeText: 'Fermer',
                        prevText: 'Précédent',
                        nextText: 'Suivant',
                        currentText: 'Aujourd\'hui',
                        monthNames: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin',
                            'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'],
                        monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                            'juil.', 'aout', 'sept.', 'oct.', 'nov.', 'déc.'],
                        dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
                        dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
                        dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                        weekHeader: 'Sem.',
                        dateFormat: 'dd-mm-yy',
                        firstDay: 1,
                        onSelect: function () {
                            $('#myform').bootstrapValidator('revalidateField', 'date_retour');
                        },
                    });
                });
                $('#myform').bootstrapValidator({
                    err: {
                        container: '#messages'
                    },
                    fields: {
                        "covoituragebundle_profil[depart]": {
                            validators: {
                                notEmpty: {
                                    message: 'Ce champ est obligatoire!'
                                },
                            }
                        },

                        "covoituragebundle_profil[arrivee]": {
                            validators: {
                                notEmpty: {
                                    message: 'Ce champ est obligatoire!'
                                },
                            }
                        },
                        "date_aller": {
                            validators: {
                                notEmpty: {
                                    message: 'ce champ est obligatoire'
                                },
                                date: {
                                    format: 'DD-MM-YYYY',
                                    message: 'veuillez entrer une date valide'
                                }
                            }
                        },
                        "inputNewDepart":{
                            validators: {
                                notEmpty: {
                                    message: 'ce champ est obligatoire'
                                },
                            }
                        },
                        "inputNewArrivee":{
                            validators: {
                                notEmpty: {
                                    message: 'ce champ est obligatoire'
                                },
                            }
                        },
                        "date_retour": {
                            validators: {
                                notEmpty: {
                                    message: 'ce champ est obligatoire'
                                },
                                date: {
                                    format: 'DD-MM-YYYY',
                                    message: 'veuillez entrer une date valide'
                                }
                            }
                        }
                    }
                });
                $('#date_retour').hide();
                $('#covoituragebundle_profil_retour').on("change", function () {
                   if ($("#covoituragebundle_profil_retour:checked").length == 1) {
                    $('#date_retour').show();}
                    else{
                       $('#date_retour').hide();
                   }
                });
            });
        </script>
    {% endblock %}